// * Components - Back To Top

#back__to__top {
	background-size: 100%;
	width: 3.1rem;
	height: 4.1rem;
	position: fixed;
	bottom: 2rem;
	right: 2rem;
	transition: opacity 1s, transform 0.5s;
	transform: translateY(6rem);
	opacity: 0;
	z-index: z("main");

	@include mq(ls) {
		width: 2rem;
		height: 3rem;
	}

	&.active {
		transform: translateY(0);
		opacity: 1;
	}

	&:hover {
		transition: transform 0.2s;
		transform: translateY(-0.5rem);
	}
}
