//* Components - Buttons

button {
	&:active,
	&:focus,
	&:hover {
		outline: none;
	}

	&:disabled {
		cursor: not-allowed;
	}
}

.button {
	position: relative;
	border: 0;
	font: 1.9rem/1.35 $theme-font;
	color: #fff;
	padding: 1.4rem 2.5rem 1.6rem 5rem;
	display: inline-block;
	background: linear-gradient(
		to left,
		rgba($error-color, 0.9) 50%,
		$theme-color 0
	);
	background-size: 200.875% 100%;
	background-position: 100% 100%;
	transition: background-position 0.5s var(--inoutquart);
	border-radius: 0.8rem;
	cursor: pointer;

	@include mq(tw) {
	}

	@include mq(ps) {
	}

	&::before {
		content: "\f178";
		font: 1.7rem/1 $icon;
		color: #fff;
		position: absolute;
		top: 0;
		left: 2.2rem;
		display: flex;
		align-items: center;
		height: 100%;
		opacity: 1;
	}

	&::after {
		content: "\f178";
		font: 1.7rem/1 $icon;
		color: #fff;
		position: absolute;
		top: 0;
		left: -1rem;
		display: flex;
		align-items: center;
		height: 100%;
		opacity: 0;
		transition: none;
	}

	&[data-icon] {
		&::before {
			content: attr(data-icon);
		}
		&::after {
			content: none;
		}

		&:hover {
			&::before {
				opacity: 1;
			}
		}
	}

	/*
	&.secondary {
		background: linear-gradient(to right, $secondary-color 50%, $theme-color 0);
		background-size: 200.875% 100%;
		background-position: 100% 100%;
		color: #fff;

		&:hover {
			background-position: 0 100%;
		}
	}*/

	&.green {
		background: linear-gradient(to left, $secondary-color 50%, $theme-color 0);
		background-size: 200.875% 100%;
		background-position: 100% 100%;
		color: #fff;

		&:hover {
			background-position: 0 100%;
		}
	}

	&:hover {
		color: #fff;
		background-position: 0 100%;

		&::before {
			opacity: 0;
		}
		&::after {
			opacity: 1;
			transform: translateX(3.2rem);
			transition: transform 0.5s var(--inoutquart),
				opacity 0.5s var(--inoutquart);
		}
	}

	/*&[data-icon=""] {
		&::before {
			content: none;
		}
	}*/
}

.button__prev,
.button__next {
	position: relative;
	z-index: z("main");
	width: 2rem;
	height: 2rem;
	cursor: pointer;
	transition: 0.2s;
	@include hardware;

	&.inverse {
		border-color: $dark;

		&:hover {
			&::before {
				color: #fff;
			}
		}
	}

	&::before {
		position: absolute;
		font: 1.8rem/1 $icon;
		text-align: center;
		color: #fff;
		transition: 0.2s;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		height: 100%;
	}

	&:hover {
		&::before {
			color: $theme-color;
		}
	}
}

.button__prev {
	&::before {
		content: "\f060";
	}

	&:hover {
		background-position: 100% 0;
	}
}

.button__next {
	&::before {
		content: "\f061";
	}

	&:hover {
		background-position: -100% 0;
	}
}
