// * Components — Cookie

.gdpr-sr-only {
	clip: rect(0.1rem, 0.1rem, 0.1rem, 0.1rem);
	height: 0.1rem;
	overflow: hidden;
	position: absolute !important;
	width: 0.1rem;
	word-wrap: normal !important;
}

.gdpr-icon {
	&::before {
		font: 2rem/1 $icon;
		font-style: normal;
		font-weight: 400;
		font-variant: normal;
		text-transform: none;
		line-height: 1;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}

	&.moovegdpr-arrow-close {
		&::before {
			font-size: 3.6rem;
			content: "\f00d";
			display: flex;
			align-items: center;
			justify-content: center;
			height: 100%;
		}
	}
}

.gdpr-svg-icon {
	svg {
		height: 3rem;
		margin-right: 1rem;
	}
}

.gdpr_lightbox-active,
.gdpr_lightbox-active body {
	overflow: hidden;
}

.gdpr_lightbox {
	z-index: 9990;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	white-space: nowrap;
	background: #0b0b0b;
	background: rgba(0, 0, 0, 0.9);
	outline: none !important;
	opacity: 0;
	transition: opacity 0.3s ease;
}

.gdpr_lightbox.gdpr_lightbox-opened {
	opacity: 1;
}

.gdpr_lightbox.gdpr_lightbox-closed {
	opacity: 0;
}

.gdpr_lightbox * {
	box-sizing: border-box;
}

.gdpr_lightbox-wrap {
	z-index: 9990;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	text-align: center;
	outline: none !important;
}

.gdpr_lightbox-wrap:before {
	content: "";
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}

.gdpr_lightbox-loader {
	z-index: 9991;
	color: #fff;
	position: absolute;
	top: 50%;
	margin-top: -0.8em;
	width: 100%;
	text-align: center;
	font-size: 14px;
	font-family: Arial, Helvetica, sans-serif;
	opacity: 0;
	transition: opacity 0.3s ease;
}

.gdpr_lightbox-loading .gdpr_lightbox-loader {
	opacity: 1;
}

.gdpr_lightbox-container {
	z-index: 9992;
	position: relative;
	text-align: left;
	vertical-align: middle;
	display: inline-block;
	white-space: normal;
	max-width: 100%;
	max-height: 100%;
	outline: none !important;
}

.gdpr_lightbox-content {
	z-index: 9993;
	width: 100%;
	transform: scale(1);
	transition: transform 0.3s ease;
}

.gdpr_lightbox-closed .gdpr_lightbox-content,
.gdpr_lightbox-loading .gdpr_lightbox-content {
	transform: scale(0.8);
}

.gdpr_lightbox-content:after {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	display: block;
	right: 0;
	width: auto;
	height: auto;
	z-index: -1;
	box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
}

.gdpr_lightbox-close,
.gdpr_lightbox-close:active,
.gdpr_lightbox-close:focus,
.gdpr_lightbox-close:hover,
.gdpr_lightbox-close:visited {
	z-index: 9994;
	width: 35px;
	height: 35px;
	position: fixed;
	right: 0;
	top: 0;
	-webkit-appearance: none;
	cursor: pointer;
	text-decoration: none;
	text-align: center;
	padding: 0;
	color: #fff;
	font-style: normal;
	font-size: 35px;
	font-family: Arial, Baskerville, monospace;
	line-height: 35px;
	text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
	border: 0;
	background: none;
	box-shadow: none;
}

.gdpr_lightbox-close::-moz-focus-inner {
	border: 0;
	padding: 0;
}

.gdpr_lightbox-close:active {
	top: 1px;
}

.gdpr_lightbox-image img {
	max-width: 100%;
	display: block;
	line-height: 0;
	border: 0;
}

.gdpr_lightbox-iframe .gdpr_lightbox-container {
	width: 100%;
	max-width: 964px;
}

.gdpr_lightbox-iframe-container {
	width: 100%;
	height: 0;
	padding-top: 56.25%;
	overflow: auto;
	pointer-events: auto;
	transform: translateZ(0);
	-webkit-overflow-scrolling: touch;
}

.gdpr_lightbox-iframe-container iframe {
	position: absolute;
	display: block;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
	background: #000;
}

body.moove_gdpr_overflow {
	overflow: hidden;
}

body.moove_gdpr_overflow #page {
	position: relative;
	z-index: 10;
}

body.moove_gdpr_overflow #main-header,
body.moove_gdpr_overflow #page-container {
	z-index: 99;
}

.gdpr_lightbox-hide {
	display: none;
}

.gdpr_lightbox-content:after {
	box-shadow: none;
}

.gdpr_lightbox.moove_gdpr_cookie_modal_open .gdpr_lightbox-container {
	max-width: 100%;
}

.gdpr_lightbox.moove_gdpr_cookie_modal_open .gdpr_lightbox-close {
	opacity: 0;
	visibility: hidden;
}

body.moove_gdpr_overflow {
	overflow: hidden;
}

body.moove_gdpr_overflow #page {
	position: relative;
	z-index: 10;
}

body.moove_gdpr_overflow #main-header,
body.moove_gdpr_overflow #page-container {
	z-index: 99;
}

.lity-hide {
	display: none;
}

#moove_gdpr_cookie_info_bar.gdpr-full-screen-infobar
	.moove-gdpr-info-bar-container
	.moove-gdpr-info-bar-content
	a.mgbutton.change-settings-button,
#moove_gdpr_cookie_info_bar.gdpr-full-screen-infobar
	.moove-gdpr-info-bar-container
	.moove-gdpr-info-bar-content
	button.mgbutton.change-settings-button {
	text-decoration: none;
}

#moove_gdpr_cookie_modal .cookie-switch .cookie-slider,
#moove_gdpr_cookie_modal .switch .slider {
	overflow: visible;
}

#moove_gdpr_cookie_modal {
	margin: 0 auto;
	margin-top: 0;
	min-height: 60vh;
	font-family: $bold-font;
}

#moove_gdpr_cookie_modal span.tab-title {
	display: block;
}

#moove_gdpr_cookie_modal button {
	letter-spacing: 0;
	outline: none;
	cursor: pointer;
}

#moove_gdpr_cookie_modal * {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-family: $bold-font;
}

#moove_gdpr_cookie_modal .cookie-switch,
#moove_gdpr_cookie_modal .switch {
	position: relative;
	display: inline-block;
	width: 5rem;
	height: 3rem;
}

#moove_gdpr_cookie_modal .cookie-switch input,
#moove_gdpr_cookie_modal .switch input {
	display: none;
}

#moove_gdpr_cookie_modal .cookie-switch .cookie-slider,
#moove_gdpr_cookie_modal .cookie-switch .slider,
#moove_gdpr_cookie_modal .switch .cookie-slider,
#moove_gdpr_cookie_modal .switch .slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: $secondary-color;
	transition: 0.4s;
	margin: 0;
	padding: 0;
}

#moove_gdpr_cookie_modal .cookie-switch .cookie-slider:before,
#moove_gdpr_cookie_modal .cookie-switch .slider:before,
#moove_gdpr_cookie_modal .switch .cookie-slider:before,
#moove_gdpr_cookie_modal .switch .slider:before {
	position: absolute;
	content: "";
	height: 2.6rem;
	width: 2.6rem;
	left: 0.1rem;
	bottom: 0.1rem;
	transition: 0.4s;
	border: 0.1rem solid #f2f2f2;
	border-radius: 50%;
	background-color: #fff;
	box-shadow: 0 0.5rem 1.5rem 0 rgba(0, 0, 0, 0.25);
	display: block;
	box-sizing: content-box;
}

#moove_gdpr_cookie_modal .cookie-switch .cookie-slider:after,
#moove_gdpr_cookie_modal .cookie-switch .slider:after,
#moove_gdpr_cookie_modal .switch .cookie-slider:after,
#moove_gdpr_cookie_modal .switch .slider:after {
	content: attr(data-text-disabled);
	position: absolute;
	top: 0;
	left: 6rem;

	font-size: 1.6rem;
	line-height: 1.8;
	color: $secondary-color;
	display: block;
	white-space: nowrap;
}

#moove_gdpr_cookie_modal .cookie-switch .cookie-slider.cookie-round,
#moove_gdpr_cookie_modal .cookie-switch .cookie-slider.round,
#moove_gdpr_cookie_modal .cookie-switch .slider.cookie-round,
#moove_gdpr_cookie_modal .cookie-switch .slider.round,
#moove_gdpr_cookie_modal .switch .cookie-slider.cookie-round,
#moove_gdpr_cookie_modal .switch .cookie-slider.round,
#moove_gdpr_cookie_modal .switch .slider.cookie-round,
#moove_gdpr_cookie_modal .switch .slider.round {
	border-radius: 3.4rem;
}

#moove_gdpr_cookie_modal .cookie-switch .cookie-slider.cookie-round:before,
#moove_gdpr_cookie_modal .cookie-switch .cookie-slider.round:before,
#moove_gdpr_cookie_modal .cookie-switch .slider.cookie-round:before,
#moove_gdpr_cookie_modal .cookie-switch .slider.round:before,
#moove_gdpr_cookie_modal .switch .cookie-slider.cookie-round:before,
#moove_gdpr_cookie_modal .switch .cookie-slider.round:before,
#moove_gdpr_cookie_modal .switch .slider.cookie-round:before,
#moove_gdpr_cookie_modal .switch .slider.round:before {
	border-radius: 50%;
}

#moove_gdpr_cookie_modal .cookie-switch input:checked + .cookie-slider,
#moove_gdpr_cookie_modal .cookie-switch input:checked + .slider,
#moove_gdpr_cookie_modal .switch input:checked + .cookie-slider,
#moove_gdpr_cookie_modal .switch input:checked + .slider {
	background-color: $theme-color;
}

#moove_gdpr_cookie_modal .cookie-switch input:checked + .cookie-slider:after,
#moove_gdpr_cookie_modal .cookie-switch input:checked + .slider:after,
#moove_gdpr_cookie_modal .switch input:checked + .cookie-slider:after,
#moove_gdpr_cookie_modal .switch input:checked + .slider:after {
	content: attr(data-text-enable);
	color: darken($theme-color, 5);
	white-space: nowrap;
}

#moove_gdpr_cookie_modal .cookie-switch input:focus + .cookie-slider,
#moove_gdpr_cookie_modal .cookie-switch input:focus + .slider,
#moove_gdpr_cookie_modal .switch input:focus + .cookie-slider,
#moove_gdpr_cookie_modal .switch input:focus + .slider {
	box-shadow: 0 0 0.1rem $theme-color;
}

#moove_gdpr_cookie_modal .cookie-switch input:checked + .cookie-slider:before,
#moove_gdpr_cookie_modal .cookie-switch input:checked + .slider:before,
#moove_gdpr_cookie_modal .switch input:checked + .cookie-slider:before,
#moove_gdpr_cookie_modal .switch input:checked + .slider:before {
	transform: translateX(2rem);
}

#moove_gdpr_cookie_modal a,
#moove_gdpr_cookie_modal button {
	outline: none;
	box-shadow: none;
	text-shadow: none;
}

#moove_gdpr_cookie_modal .moove-gdpr-modal-content {
	color: #000;
	background-color: #fff;
	width: 90rem;
	width: 80vw;
	max-width: 117rem;
	min-height: 60rem;
	border-radius: 1rem;
	position: relative;
	margin: 0 auto;
}

#moove_gdpr_cookie_modal .moove-gdpr-modal-content fieldset {
	background-color: transparent;
}

#moove_gdpr_cookie_modal
	.moove-gdpr-modal-content.logo-position-left
	.moove-gdpr-company-logo-holder {
	text-align: left;
}

#moove_gdpr_cookie_modal
	.moove-gdpr-modal-content.logo-position-center
	.moove-gdpr-company-logo-holder {
	text-align: center;
}

#moove_gdpr_cookie_modal
	.moove-gdpr-modal-content.logo-position-right
	.moove-gdpr-company-logo-holder {
	text-align: right;
}

#moove_gdpr_cookie_modal
	.moove-gdpr-modal-content.moove_gdpr_modal_theme_v1
	.main-modal-content {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-flow: column;
	flex-flow: column;
	height: 100%;
}

#moove_gdpr_cookie_modal .moove-gdpr-modal-content.moove_gdpr_modal_theme_v2 {
	min-height: auto;
}

#moove_gdpr_cookie_modal
	.moove-gdpr-modal-content.moove_gdpr_modal_theme_v2
	.moove-gdpr-modal-left-content {
	display: none;
}

#moove_gdpr_cookie_modal
	.moove-gdpr-modal-content.moove_gdpr_modal_theme_v2
	.moove-gdpr-modal-right-content {
	width: 100%;
	border-top-left-radius: 0.5rem;
	border-bottom-left-radius: 0.5rem;
	position: relative;
	float: none;
	padding-bottom: 13.5rem;
}

#moove_gdpr_cookie_modal
	.moove-gdpr-modal-content.moove_gdpr_modal_theme_v2
	.main-modal-content {
	max-height: 50vh;
	overflow: hidden;
	overflow-y: auto;
	padding-bottom: 0;
	height: 100%;
}

#moove_gdpr_cookie_modal
	.moove-gdpr-modal-content.moove_gdpr_modal_theme_v2
	.moove-gdpr-branding-cnt {
	padding-right: 3rem;
	white-space: nowrap;
}

#moove_gdpr_cookie_modal
	.moove-gdpr-modal-content.moove_gdpr_modal_theme_v2
	.moove-gdpr-branding-cnt
	a {
	padding-right: 0;
	text-align: right;
	color: #000;

	font-size: 1.3rem;
	letter-spacing: -0.03rem;
	position: relative;
	top: 0;
	text-decoration: none;
	display: block;
	-ms-flex-align: baseline;
	align-items: baseline;
}

#moove_gdpr_cookie_modal
	.moove-gdpr-modal-content.moove_gdpr_modal_theme_v2
	.moove-gdpr-modal-footer-content
	.moove-gdpr-button-holder
	a.mgbutton.moove-gdpr-modal-save-settings,
#moove_gdpr_cookie_modal
	.moove-gdpr-modal-content.moove_gdpr_modal_theme_v2
	.moove-gdpr-modal-footer-content
	.moove-gdpr-button-holder
	button.mgbutton.moove-gdpr-modal-save-settings {
	float: left;
}

#moove_gdpr_cookie_modal
	.moove-gdpr-modal-content.moove_gdpr_modal_theme_v2
	.moove-gdpr-tab-main {
	display: block;
	position: relative;
}

#moove_gdpr_cookie_modal
	.moove-gdpr-modal-content.moove_gdpr_modal_theme_v2
	.moove-gdpr-tab-main
	.moove-gdpr-tab-main-content {
	position: relative;
	overflow: hidden;
	padding-right: 19rem;
	padding-bottom: 1rem;
}

#moove_gdpr_cookie_modal
	.moove-gdpr-modal-content.moove_gdpr_modal_theme_v2
	.moove-gdpr-tab-main
	.moove-gdpr-status-bar {
	position: absolute;
	top: 0;
	right: 0;
	width: 19rem;
	text-align: right;
}

#moove_gdpr_cookie_modal
	.moove-gdpr-modal-content.moove_gdpr_modal_theme_v2
	.moove-gdpr-tab-main
	.moove-gdpr-status-bar
	span.cookie-slider,
#moove_gdpr_cookie_modal
	.moove-gdpr-modal-content.moove_gdpr_modal_theme_v2
	.moove-gdpr-tab-main
	.moove-gdpr-status-bar
	span.slider {
	position: relative;
	width: 5rem;
	height: 3rem;
	display: block;
}

#moove_gdpr_cookie_modal
	.moove-gdpr-modal-content.moove_gdpr_modal_theme_v2
	.moove-gdpr-tab-main
	.moove-gdpr-status-bar
	span.cookie-slider:after,
#moove_gdpr_cookie_modal
	.moove-gdpr-modal-content.moove_gdpr_modal_theme_v2
	.moove-gdpr-tab-main
	.moove-gdpr-status-bar
	span.slider:after {
	text-align: right;
	left: auto;
	right: 6rem;
}

#moove_gdpr_cookie_modal
	.moove-gdpr-modal-content.moove_gdpr_modal_theme_v2
	.moove-gdpr-tab-main
	h3.tab-title,
#moove_gdpr_cookie_modal
	.moove-gdpr-modal-content.moove_gdpr_modal_theme_v2
	.moove-gdpr-tab-main
	span.tab-title {
	font-size: 2rem;
	margin-bottom: 1.5rem;
	padding-right: 19rem;
}

#moove_gdpr_cookie_modal
	.moove-gdpr-modal-content.moove_gdpr_modal_theme_v2
	.moove-gdpr-modal-title {
	display: -ms-flexbox;
	display: flex;
	width: 100%;
	-ms-flex-align: center;
	align-items: center;
	height: 7.5rem;
	position: relative;
	margin-bottom: 2rem;
	padding-right: 18rem;
}

#moove_gdpr_cookie_modal
	.moove-gdpr-modal-content.moove_gdpr_modal_theme_v2
	.moove-gdpr-modal-title
	.moove-gdpr-company-logo-holder {
	max-width: 18rem;
	margin: 0;
	float: right;
	position: absolute;
	top: 5rem;
	right: 0;
	width: 100%;
	text-align: right;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	align-items: center;
	-ms-flex-pack: end;
	justify-content: flex-end;
	height: 100%;
}

#moove_gdpr_cookie_modal
	.moove-gdpr-modal-content.moove_gdpr_modal_theme_v2
	.moove-gdpr-modal-title
	.moove-gdpr-company-logo-holder
	img {
	max-width: 100%;
	text-align: center;
}

#moove_gdpr_cookie_modal
	.moove-gdpr-modal-content.moove_gdpr_modal_theme_v2
	.moove-gdpr-modal-title
	.tab-title {
	width: 100%;

	font-size: 2.8rem;
	line-height: 1.1;
}

#moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-modal-close {
	position: absolute;
	text-decoration: none;
	top: -3rem;
	right: -3rem;
	display: block;
	width: 6rem;
	height: 6rem;
	line-height: 1;
	text-align: center;
	border-radius: 50%;
	background: transparent;
	padding: 0;
	z-index: 99;
	border: 0;
}

#moove_gdpr_cookie_modal
	.moove-gdpr-modal-content
	.moove-gdpr-modal-close:hover
	i,
#moove_gdpr_cookie_modal
	.moove-gdpr-modal-content
	.moove-gdpr-modal-close:hover
	span.gdpr-icon {
	background-color: #fff;
	color: $secondary-color;
}

#moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-modal-close i,
#moove_gdpr_cookie_modal
	.moove-gdpr-modal-content
	.moove-gdpr-modal-close
	span.gdpr-icon {
	display: block;
	width: 6rem;
	height: 6rem;
	line-height: 1.8;
	font-size: 3.6rem;
	background-color: $secondary-color;
	border: 0.1rem solid $secondary-color;
	color: #fff;
	border-radius: 50%;
	transition: all 0.3s ease;
}

#moove_gdpr_cookie_modal
	.moove-gdpr-modal-content
	.moove-gdpr-company-logo-holder {
	padding: 0;
	margin-bottom: 3rem;
}

#moove_gdpr_cookie_modal
	.moove-gdpr-modal-content
	.moove-gdpr-company-logo-holder
	img {
	max-height: 18rem;
	max-width: 70%;
	display: inline-block;
}

#moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-modal-title h2 {
	font-size: 2rem;
	margin: 0.5rem 0 0;
	padding: 0;
	color: #000;
}

#moove_gdpr_cookie_modal
	.moove-gdpr-modal-content
	.moove-gdpr-tab-content.moove-gdpr-no-modal-title
	.moove-gdpr-tab-main
	h3.tab-title,
#moove_gdpr_cookie_modal
	.moove-gdpr-modal-content
	.moove-gdpr-tab-content.moove-gdpr-no-modal-title
	.moove-gdpr-tab-main
	span.tab-title {
	margin-top: 0;
}

#moove_gdpr_cookie_modal
	.moove-gdpr-modal-content
	.moove-gdpr-tab-main
	h3.tab-title,
#moove_gdpr_cookie_modal
	.moove-gdpr-modal-content
	.moove-gdpr-tab-main
	span.tab-title {
	font-size: 2.8rem;
	line-height: 1.2;
	margin: 0;
	padding: 0;
	color: #000;
	margin-bottom: 2.5rem;
}

#moove_gdpr_cookie_modal
	.moove-gdpr-modal-content
	.moove-gdpr-tab-main
	.moove-gdpr-tab-main-content {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-flow: column;
	flex-flow: column;
	max-height: calc(100% - 15.5rem);
	overflow-y: auto;
	padding-right: 2rem;
	padding-bottom: 1.5rem;
}

#moove_gdpr_cookie_modal
	.moove-gdpr-modal-content
	.moove-gdpr-tab-main
	.moove-gdpr-tab-main-content
	a,
#moove_gdpr_cookie_modal
	.moove-gdpr-modal-content
	.moove-gdpr-tab-main
	.moove-gdpr-tab-main-content
	button,
#moove_gdpr_cookie_modal
	.moove-gdpr-modal-content
	.moove-gdpr-tab-main
	.moove-gdpr-tab-main-content
	li,
#moove_gdpr_cookie_modal
	.moove-gdpr-modal-content
	.moove-gdpr-tab-main
	.moove-gdpr-tab-main-content
	p {
	font-size: 1.6rem;
	line-height: 1.4;
	margin-bottom: 1.8rem;
	margin-top: 0;
	padding: 0;
	color: #000;
	font-family: $theme-font;
}

#moove_gdpr_cookie_modal
	.moove-gdpr-modal-content
	.moove-gdpr-tab-main
	.moove-gdpr-tab-main-content
	h1,
#moove_gdpr_cookie_modal
	.moove-gdpr-modal-content
	.moove-gdpr-tab-main
	.moove-gdpr-tab-main-content
	h2,
#moove_gdpr_cookie_modal
	.moove-gdpr-modal-content
	.moove-gdpr-tab-main
	.moove-gdpr-tab-main-content
	h3,
#moove_gdpr_cookie_modal
	.moove-gdpr-modal-content
	.moove-gdpr-tab-main
	.moove-gdpr-tab-main-content
	h4,
#moove_gdpr_cookie_modal
	.moove-gdpr-modal-content
	.moove-gdpr-tab-main
	.moove-gdpr-tab-main-content
	h5,
#moove_gdpr_cookie_modal
	.moove-gdpr-modal-content
	.moove-gdpr-tab-main
	.moove-gdpr-tab-main-content
	h6 {
	font-size: 1.8rem;
	line-height: 1.4;
	margin-bottom: 2rem;
	margin-top: 0;

	text-transform: none;
	color: #000;
}

#moove_gdpr_cookie_modal
	.moove-gdpr-modal-content
	.moove-gdpr-tab-main
	.moove-gdpr-tab-main-content
	a {
	color: #000;
	text-decoration: underline;
}

#moove_gdpr_cookie_modal
	.moove-gdpr-modal-content
	.moove-gdpr-tab-main
	.moove-gdpr-tab-main-content.moove-gdpr-strict-warning-message {
	display: none;
}

#moove_gdpr_cookie_modal
	.moove-gdpr-modal-content
	.moove-gdpr-tab-main
	.moove-gdpr-status-bar {
	padding: 0.5rem;
	margin-right: 1rem;
	margin-bottom: 1.5rem;
}

#moove_gdpr_cookie_modal
	.moove-gdpr-modal-content
	.moove-gdpr-tab-main
	.moove-gdpr-status-bar.gdpr-checkbox-disabled {
	opacity: 0.6;
	pointer-events: none;
}

#moove_gdpr_cookie_modal
	.moove-gdpr-modal-content
	.moove-gdpr-tab-main
	.moove-gdpr-status-bar.gdpr-checkbox-disabled
	.cookie-switch
	input:checked
	+ .cookie-slider,
#moove_gdpr_cookie_modal
	.moove-gdpr-modal-content
	.moove-gdpr-tab-main
	.moove-gdpr-status-bar.gdpr-checkbox-disabled
	.switch
	input:checked
	+ .slider {
	background-color: #474747;
}

#moove_gdpr_cookie_modal
	.moove-gdpr-modal-content
	.moove-gdpr-tab-main
	.moove-gdpr-status-bar.gdpr-checkbox-disabled
	.cookie-switch
	input:checked
	+ .cookie-slider:after,
#moove_gdpr_cookie_modal
	.moove-gdpr-modal-content
	.moove-gdpr-tab-main
	.moove-gdpr-status-bar.gdpr-checkbox-disabled
	.switch
	input:checked
	+ .slider:after {
	color: #474747;
}

#moove_gdpr_cookie_modal
	.moove-gdpr-modal-content
	.moove-gdpr-tab-main
	.moove-gdpr-status-bar
	p {
	display: inline-block;
	float: right;
	color: #09a501;
	margin: 0;
	line-height: 1.2;
	font: 1.1rem/1.2 "MB", sans-serif;
}

#moove_gdpr_cookie_modal
	.moove-gdpr-modal-content
	.moove-gdpr-tab-main
	.moove-gdpr-status-bar
	form,
#moove_gdpr_cookie_modal
	.moove-gdpr-modal-content
	.moove-gdpr-tab-main
	.moove-gdpr-status-bar
	form
	fieldset {
	border: none;
	padding: 0;
	margin: 0;
	box-shadow: none;
}

#moove_gdpr_cookie_modal
	.moove-gdpr-modal-content
	.moove-gdpr-tab-main
	.moove-gdpr-status-bar
	form
	fieldset:hover
	label {
	color: #09a501;
}

#moove_gdpr_cookie_modal
	.moove-gdpr-modal-content
	.moove-gdpr-modal-footer-content {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	align-items: center;
	height: 13rem;
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: #f1f1f1;
	z-index: 15;
	border-radius: 0.5rem;
}

#moove_gdpr_cookie_modal
	.moove-gdpr-modal-content
	.moove-gdpr-modal-footer-content:before {
	content: "";
	position: absolute;
	bottom: 13rem;
	left: 6rem;
	right: 6rem;
	height: 0.1rem;
	display: block;
	background-color: #c9c8c8;
}

#moove_gdpr_cookie_modal
	.moove-gdpr-modal-content
	.moove-gdpr-modal-footer-content
	.moove-gdpr-branding {
	text-decoration: none;
	padding: 0 1rem;
	font-size: 1rem;
	color: #000;
	line-height: 1;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: baseline;
	align-items: baseline;
	width: auto;
	max-width: 100%;
}

#moove_gdpr_cookie_modal
	.moove-gdpr-modal-content
	.moove-gdpr-modal-footer-content
	.moove-gdpr-branding
	img {
	height: 1.5rem;
	margin-left: 0.5rem;
}

#moove_gdpr_cookie_modal
	.moove-gdpr-modal-content
	.moove-gdpr-modal-footer-content
	.moove-gdpr-branding
	span {
	display: inline-block;
	text-decoration: underline;
}

#moove_gdpr_cookie_modal
	.moove-gdpr-modal-content
	.moove-gdpr-modal-footer-content
	.moove-gdpr-button-holder {
	width: 100%;
	display: block;
	padding: 0 6rem;
}

#moove_gdpr_cookie_modal
	.moove-gdpr-modal-content
	.moove-gdpr-modal-footer-content
	.moove-gdpr-button-holder
	a.mgbutton,
#moove_gdpr_cookie_modal
	.moove-gdpr-modal-content
	.moove-gdpr-modal-footer-content
	.moove-gdpr-button-holder
	button.mgbutton {
	margin: 0;
	text-decoration: none;
	border-radius: 15rem;
	color: #fff;
	padding: 1.5rem 1rem;
	transition: all 0.3s ease;
	border: 0.1rem solid transparent;
	min-width: 16rem;
	text-align: center;
	text-transform: none;
	letter-spacing: 0;
	font-family: $bold-font;
	font-size: 1.4rem;
	line-height: 1.5;
	cursor: pointer;
}

#moove_gdpr_cookie_modal
	.moove-gdpr-modal-content
	.moove-gdpr-modal-footer-content
	.moove-gdpr-button-holder
	a.mgbutton:hover,
#moove_gdpr_cookie_modal
	.moove-gdpr-modal-content
	.moove-gdpr-modal-footer-content
	.moove-gdpr-button-holder
	button.mgbutton:hover {
	background-color: #fff;
}

#moove_gdpr_cookie_modal
	.moove-gdpr-modal-content
	.moove-gdpr-modal-footer-content
	.moove-gdpr-button-holder
	a.mgbutton.moove-gdpr-modal-allow-all,
#moove_gdpr_cookie_modal
	.moove-gdpr-modal-content
	.moove-gdpr-modal-footer-content
	.moove-gdpr-button-holder
	button.mgbutton.moove-gdpr-modal-allow-all {
	float: left;
	background: $secondary-color;
	padding: 1.5rem 3rem;
	margin-right: 1.5rem;
}

#moove_gdpr_cookie_modal
	.moove-gdpr-modal-content
	.moove-gdpr-modal-footer-content
	.moove-gdpr-button-holder
	a.mgbutton.moove-gdpr-modal-allow-all:hover,
#moove_gdpr_cookie_modal
	.moove-gdpr-modal-content
	.moove-gdpr-modal-footer-content
	.moove-gdpr-button-holder
	button.mgbutton.moove-gdpr-modal-allow-all:hover {
	background-color: $secondary-color;
	color: $theme-color;
}

#moove_gdpr_cookie_modal
	.moove-gdpr-modal-content
	.moove-gdpr-modal-footer-content
	.moove-gdpr-button-holder
	a.mgbutton.moove-gdpr-modal-save-settings,
#moove_gdpr_cookie_modal
	.moove-gdpr-modal-content
	.moove-gdpr-modal-footer-content
	.moove-gdpr-button-holder
	button.mgbutton.moove-gdpr-modal-save-settings {
	float: right;
	color: #fff;
	display: none;
	background: $secondary-color;
	padding: 1.5rem 3rem;
}

#moove_gdpr_cookie_modal
	.moove-gdpr-modal-content
	.moove-gdpr-modal-footer-content
	.moove-gdpr-button-holder
	a.mgbutton.moove-gdpr-modal-save-settings:hover,
#moove_gdpr_cookie_modal
	.moove-gdpr-modal-content
	.moove-gdpr-modal-footer-content
	.moove-gdpr-button-holder
	button.mgbutton.moove-gdpr-modal-save-settings:hover {
	background-color: $secondary-color;
	color: $theme-color;
}

#moove_gdpr_cookie_modal
	.moove-gdpr-modal-content
	.moove-gdpr-modal-left-content {
	width: 40%;
	display: inline-block;
	float: left;
	padding: 4rem 6rem;
	position: absolute;
	height: 100%;
	top: 0;
	box-shadow: 0 0 3rem 0 rgba(35, 35, 35, 0.1);
	background: #fff;
	z-index: 10;
	left: 0;
	border-top-left-radius: 0.5rem;
	border-bottom-left-radius: 0.5rem;
}

#moove_gdpr_cookie_modal
	.moove-gdpr-modal-content
	.moove-gdpr-modal-left-content
	.moove-gdpr-branding-cnt {
	position: absolute;
	bottom: 0;
	padding-bottom: 3rem;
	left: 6rem;
	right: 6rem;
}

#moove_gdpr_cookie_modal
	.moove-gdpr-modal-content
	.moove-gdpr-modal-left-content
	.moove-gdpr-branding-cnt
	a {
	color: #000;

	font-size: 1.3rem;
	letter-spacing: -0.03rem;
	padding: 2rem 0;
	position: relative;
	top: 1rem;
	text-decoration: none;
	display: block;
}

#moove_gdpr_cookie_modal
	.moove-gdpr-modal-content
	.moove-gdpr-modal-left-content
	.moove-gdpr-branding-cnt
	a
	img {
	width: 6rem;
	height: auto;
	display: inline-block;
	margin-left: 0.5rem;
	position: relative;
	top: 0;
}

#moove_gdpr_cookie_modal
	.moove-gdpr-modal-content
	.moove-gdpr-modal-left-content
	.moove-gdpr-branding-cnt
	a
	span {
	display: inline-block;
	text-decoration: underline;
}

#moove_gdpr_cookie_modal
	.moove-gdpr-modal-content
	.moove-gdpr-modal-left-content
	#moove-gdpr-menu {
	padding: 0;
	list-style: none;
	margin: 0;
	z-index: 12;
}

#moove_gdpr_cookie_modal
	.moove-gdpr-modal-content
	.moove-gdpr-modal-left-content
	#moove-gdpr-menu
	li {
	margin: 0;
	padding: 0;
	list-style: none;
	margin-bottom: 1.5rem;
}

#moove_gdpr_cookie_modal
	.moove-gdpr-modal-content
	.moove-gdpr-modal-left-content
	#moove-gdpr-menu
	li.menu-item-selected
	a,
#moove_gdpr_cookie_modal
	.moove-gdpr-modal-content
	.moove-gdpr-modal-left-content
	#moove-gdpr-menu
	li.menu-item-selected
	button {
	background-color: #fff;
	border-color: #f1f1f1;
	color: #000;
}

#moove_gdpr_cookie_modal
	.moove-gdpr-modal-content
	.moove-gdpr-modal-left-content
	#moove-gdpr-menu
	li.menu-item-selected
	a
	span.gdpr-icon,
#moove_gdpr_cookie_modal
	.moove-gdpr-modal-content
	.moove-gdpr-modal-left-content
	#moove-gdpr-menu
	li.menu-item-selected
	button
	span.gdpr-icon {
	color: #000;
}

#moove_gdpr_cookie_modal
	.moove-gdpr-modal-content
	.moove-gdpr-modal-left-content
	#moove-gdpr-menu
	li
	a,
#moove_gdpr_cookie_modal
	.moove-gdpr-modal-content
	.moove-gdpr-modal-left-content
	#moove-gdpr-menu
	li
	button {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	align-items: center;

	font-size: 1.4rem;
	text-decoration: none;
	text-transform: uppercase;
	background-color: #f1f1f1;
	border: 0.1rem solid #f1f1f1;
	line-height: 1.1;
	padding: 1.3rem 2rem;
	color: $secondary-color;
	width: 100%;
	transition: all 0.3s ease;
	border-radius: 0.5rem;
	text-align: left;
}

#moove_gdpr_cookie_modal
	.moove-gdpr-modal-content
	.moove-gdpr-modal-left-content
	#moove-gdpr-menu
	li
	a:hover
	i,
#moove_gdpr_cookie_modal
	.moove-gdpr-modal-content
	.moove-gdpr-modal-left-content
	#moove-gdpr-menu
	li
	a:hover
	span.gdpr-icon,
#moove_gdpr_cookie_modal
	.moove-gdpr-modal-content
	.moove-gdpr-modal-left-content
	#moove-gdpr-menu
	li
	button:hover
	i,
#moove_gdpr_cookie_modal
	.moove-gdpr-modal-content
	.moove-gdpr-modal-left-content
	#moove-gdpr-menu
	li
	button:hover
	span.gdpr-icon {
	text-decoration: none;
}

#moove_gdpr_cookie_modal
	.moove-gdpr-modal-content
	.moove-gdpr-modal-left-content
	#moove-gdpr-menu
	li
	a
	i,
#moove_gdpr_cookie_modal
	.moove-gdpr-modal-content
	.moove-gdpr-modal-left-content
	#moove-gdpr-menu
	li
	a
	span.gdpr-icon,
#moove_gdpr_cookie_modal
	.moove-gdpr-modal-content
	.moove-gdpr-modal-left-content
	#moove-gdpr-menu
	li
	button
	i,
#moove_gdpr_cookie_modal
	.moove-gdpr-modal-content
	.moove-gdpr-modal-left-content
	#moove-gdpr-menu
	li
	button
	span.gdpr-icon {
	display: inline-block;
	float: left;
	font-size: 3rem;
	width: 4rem;
	margin-right: 0.5rem;
	position: relative;
	top: 0;
	color: $secondary-color;
}

#moove_gdpr_cookie_modal
	.moove-gdpr-modal-content
	.moove-gdpr-modal-left-content
	#moove-gdpr-menu
	li
	a
	span.gdpr-nav-tab-title,
#moove_gdpr_cookie_modal
	.moove-gdpr-modal-content
	.moove-gdpr-modal-left-content
	#moove-gdpr-menu
	li
	button
	span.gdpr-nav-tab-title {
	display: -ms-inline-flexbox;
	display: inline-flex;
	-ms-flex-align: center;
	align-items: center;
	width: calc(100% - 4rem);
	font-size: 1.3rem;
}

#moove_gdpr_cookie_modal
	.moove-gdpr-modal-content
	.moove-gdpr-modal-right-content {
	width: 60%;
	display: inline-block;
	float: right;
	padding: 4rem 6rem;
	position: absolute;
	top: 0;
	height: auto;
	right: 0;
	background-color: #f1f1f1;
	border-top-right-radius: 0.5rem;
	border-bottom-right-radius: 0.5rem;
}

#moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-company-logo {
	width: 100%;
	height: 0;
	padding-bottom: 3.8rem;
	background-size: contain;
	background-position: 0;
	background-repeat: no-repeat;
}

.moove-hidden {
	display: none;
}

#moove_gdpr_cookie_modal
	.moove-gdpr-modal-content
	.moove-gdpr-tab-main
	.moove-gdpr-status-bar:after,
.moove-clearfix:after {
	content: "";
	display: table;
	clear: both;
}

#moove_gdpr_cookie_info_bar {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	min-height: 6rem;
	max-height: 40rem;
	color: #fff;
	z-index: 9900;
	background-color: #202020;
	font-family: $theme-font;
	transition: bottom 0.3s cubic-bezier(0.17, 0.04, 0.03, 0.94);
}

#moove_gdpr_cookie_info_bar.gdpr_infobar_postion_top {
	bottom: auto;
	top: 0;
	transition: top 0.3s cubic-bezier(0.17, 0.04, 0.03, 0.94);
}

#moove_gdpr_cookie_info_bar.gdpr_infobar_postion_top.moove-gdpr-dark-scheme {
	border-top: 0;
	border-bottom: 0.1rem solid #fff;
}

#moove_gdpr_cookie_info_bar.gdpr_infobar_postion_top.moove-gdpr-light-scheme {
	border-top: 0;
	border-bottom: 0.1rem solid #202020;
}

#moove_gdpr_cookie_info_bar.gdpr_infobar_postion_top.moove-gdpr-info-bar-hidden {
	bottom: auto;
	top: -40rem;
}

#moove_gdpr_cookie_info_bar * {
	font-family: $theme-font;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

#moove_gdpr_cookie_info_bar.moove-gdpr-info-bar-hidden {
	bottom: -40rem;
}

#moove_gdpr_cookie_info_bar.moove-gdpr-align-center,
#moove_gdpr_cookie_info_bar.moove-gdpr-align-right {
	text-align: center;
}

#moove_gdpr_cookie_info_bar.moove-gdpr-light-scheme {
	background-color: #fff;
	border-top: 0.1rem solid #202020;
}

#moove_gdpr_cookie_info_bar.moove-gdpr-light-scheme
	.moove-gdpr-info-bar-container
	.moove-gdpr-info-bar-content
	h1,
#moove_gdpr_cookie_info_bar.moove-gdpr-light-scheme
	.moove-gdpr-info-bar-container
	.moove-gdpr-info-bar-content
	h2,
#moove_gdpr_cookie_info_bar.moove-gdpr-light-scheme
	.moove-gdpr-info-bar-container
	.moove-gdpr-info-bar-content
	h3,
#moove_gdpr_cookie_info_bar.moove-gdpr-light-scheme
	.moove-gdpr-info-bar-container
	.moove-gdpr-info-bar-content
	h4,
#moove_gdpr_cookie_info_bar.moove-gdpr-light-scheme
	.moove-gdpr-info-bar-container
	.moove-gdpr-info-bar-content
	h5,
#moove_gdpr_cookie_info_bar.moove-gdpr-light-scheme
	.moove-gdpr-info-bar-container
	.moove-gdpr-info-bar-content
	h6,
#moove_gdpr_cookie_info_bar.moove-gdpr-light-scheme
	.moove-gdpr-info-bar-container
	.moove-gdpr-info-bar-content
	p,
#moove_gdpr_cookie_info_bar.moove-gdpr-light-scheme
	.moove-gdpr-info-bar-container
	.moove-gdpr-info-bar-content
	p
	a,
#moove_gdpr_cookie_info_bar.moove-gdpr-light-scheme p {
	color: #202020;
}

#moove_gdpr_cookie_info_bar.moove-gdpr-light-scheme
	.moove-gdpr-info-bar-container
	.moove-gdpr-info-bar-content
	a,
#moove_gdpr_cookie_info_bar.moove-gdpr-light-scheme
	.moove-gdpr-info-bar-container
	.moove-gdpr-info-bar-content
	button {
	text-decoration: underline;
	outline: none;
}

#moove_gdpr_cookie_info_bar.moove-gdpr-dark-scheme {
	background-color: #202020;
}

#moove_gdpr_cookie_info_bar.moove-gdpr-dark-scheme
	.moove-gdpr-info-bar-container
	.moove-gdpr-info-bar-content
	h1,
#moove_gdpr_cookie_info_bar.moove-gdpr-dark-scheme
	.moove-gdpr-info-bar-container
	.moove-gdpr-info-bar-content
	h2,
#moove_gdpr_cookie_info_bar.moove-gdpr-dark-scheme
	.moove-gdpr-info-bar-container
	.moove-gdpr-info-bar-content
	h3,
#moove_gdpr_cookie_info_bar.moove-gdpr-dark-scheme
	.moove-gdpr-info-bar-container
	.moove-gdpr-info-bar-content
	h4,
#moove_gdpr_cookie_info_bar.moove-gdpr-dark-scheme
	.moove-gdpr-info-bar-container
	.moove-gdpr-info-bar-content
	h5,
#moove_gdpr_cookie_info_bar.moove-gdpr-dark-scheme
	.moove-gdpr-info-bar-container
	.moove-gdpr-info-bar-content
	h6,
#moove_gdpr_cookie_info_bar.moove-gdpr-dark-scheme
	.moove-gdpr-info-bar-container
	.moove-gdpr-info-bar-content
	p,
#moove_gdpr_cookie_info_bar.moove-gdpr-dark-scheme
	.moove-gdpr-info-bar-container
	.moove-gdpr-info-bar-content
	p
	a,
#moove_gdpr_cookie_info_bar.moove-gdpr-dark-scheme p {
	color: #fff;
}

#moove_gdpr_cookie_info_bar.moove-gdpr-dark-scheme
	.moove-gdpr-info-bar-container
	.moove-gdpr-info-bar-content
	a,
#moove_gdpr_cookie_info_bar.moove-gdpr-dark-scheme
	.moove-gdpr-info-bar-container
	.moove-gdpr-info-bar-content
	button {
	text-decoration: underline;
	outline: none;
	transition: all 0.2s ease;
}

#moove_gdpr_cookie_info_bar.moove-gdpr-dark-scheme
	.moove-gdpr-info-bar-container
	.moove-gdpr-info-bar-content
	a.mgbutton:hover,
#moove_gdpr_cookie_info_bar.moove-gdpr-dark-scheme
	.moove-gdpr-info-bar-container
	.moove-gdpr-info-bar-content
	button.mgbutton:hover {
	background: $secondary-color;
	color: $theme-color;
}

#moove_gdpr_cookie_info_bar.moove-gdpr-dark-scheme
	.moove-gdpr-info-bar-container
	.moove-gdpr-info-bar-content
	.moove-gdpr-close-modal-button
	a {
	border-color: #fff;
	color: #fff;
}

#moove_gdpr_cookie_info_bar.moove-gdpr-dark-scheme
	.moove-gdpr-info-bar-container
	.moove-gdpr-info-bar-content
	.moove-gdpr-close-modal-button
	a:hover {
	background-color: #fff;
	color: #202020;
}

#moove_gdpr_cookie_info_bar .moove-gdpr-info-bar-container {
	padding: 1rem 4rem;
	position: relative;
	display: inline-block;
}

#moove_gdpr_cookie_info_bar .moove-gdpr-info-bar-container i.gdpricon-cog-1,
#moove_gdpr_cookie_info_bar .moove-gdpr-info-bar-container span.gdpricon-cog-1 {
	font-size: 4rem;
	width: 6rem;
	height: 5rem;
	line-height: 1;
	text-align: center;
	position: absolute;
	top: calc(50% - 2.5rem);
	left: 0;
	color: #fff;
}

#moove_gdpr_cookie_info_bar
	.moove-gdpr-info-bar-container
	.moove-gdpr-close-cookie-popup {
	position: absolute;
	width: 6rem;
	height: 5rem;
	line-height: 1;
	text-align: center;
	top: calc(50% - 2.5rem);
	right: 0;
	text-decoration: none;
	outline: none;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: center;
	justify-content: center;
	-ms-flex-align: center;
	align-items: center;
}

#moove_gdpr_cookie_info_bar
	.moove-gdpr-info-bar-container
	.moove-gdpr-close-cookie-popup
	i,
#moove_gdpr_cookie_info_bar
	.moove-gdpr-info-bar-container
	.moove-gdpr-close-cookie-popup
	span.gdpr-icon {
	width: 2.8rem;
	height: 2.8rem;
	line-height: 1.6;
	text-align: center;
	text-decoration: none;
	background-color: #fff;
	color: #424449;
	border-radius: 50%;
	display: block;
	border: 0.1rem solid #fff;
	font-size: 1.6rem;
	position: relative;
}

#moove_gdpr_cookie_info_bar
	.moove-gdpr-info-bar-container
	.moove-gdpr-close-cookie-popup:hover
	i,
#moove_gdpr_cookie_info_bar
	.moove-gdpr-info-bar-container
	.moove-gdpr-close-cookie-popup:hover
	span.gdpr-icon {
	background-color: #424449;
	color: #fff;
}

#moove_gdpr_cookie_info_bar
	.moove-gdpr-info-bar-container
	.moove-gdpr-info-bar-content {
	padding-left: 3rem;
	padding-right: 3rem;
	text-align: left;
	display: -ms-flexbox;
	display: flex;
	align-items: baseline;
	width: 100%;
}

#moove_gdpr_cookie_info_bar
	.moove-gdpr-info-bar-container
	.moove-gdpr-info-bar-content
	p,
#moove_gdpr_cookie_info_bar
	.moove-gdpr-info-bar-container
	.moove-gdpr-info-bar-content
	p
	a {
	margin: 0;
	font-size: 1.4rem;
	line-height: 1.4;

	padding-bottom: 0;
	color: #fff;
}

#moove_gdpr_cookie_info_bar
	.moove-gdpr-info-bar-container
	.moove-gdpr-info-bar-content
	h1,
#moove_gdpr_cookie_info_bar
	.moove-gdpr-info-bar-container
	.moove-gdpr-info-bar-content
	h2,
#moove_gdpr_cookie_info_bar
	.moove-gdpr-info-bar-container
	.moove-gdpr-info-bar-content
	h3,
#moove_gdpr_cookie_info_bar
	.moove-gdpr-info-bar-container
	.moove-gdpr-info-bar-content
	h4,
#moove_gdpr_cookie_info_bar
	.moove-gdpr-info-bar-container
	.moove-gdpr-info-bar-content
	h5,
#moove_gdpr_cookie_info_bar
	.moove-gdpr-info-bar-container
	.moove-gdpr-info-bar-content
	h6 {
	font-size: 2.2rem;
	line-height: 1.5;
	margin-bottom: 1.5rem;
}

#moove_gdpr_cookie_info_bar
	.moove-gdpr-info-bar-container
	.moove-gdpr-info-bar-content
	.moove-gdpr-close-modal-button
	a {
	display: inline-block;
	width: 3.5rem;
	height: 3.5rem;
	border: 0.1rem solid #202020;
	color: #202020;
	text-decoration: none;
	outline: none;
	line-height: 1;
	text-align: center;
	border-radius: 50%;
	font-size: 2.8rem;
	padding-top: 0.1rem;
	transition: all 0.2s ease;
	margin-left: 1rem;
	margin-left: 6vw;
}

#moove_gdpr_cookie_info_bar
	.moove-gdpr-info-bar-container
	.moove-gdpr-info-bar-content
	.moove-gdpr-close-modal-button
	a:hover {
	background-color: #202020;
	color: #fff;
}

#moove_gdpr_cookie_info_bar
	.moove-gdpr-info-bar-container
	.moove-gdpr-info-bar-content
	a.mgbutton,
#moove_gdpr_cookie_info_bar
	.moove-gdpr-info-bar-container
	.moove-gdpr-info-bar-content
	button.mgbutton {
	font-size: 1.4rem;
	line-height: 1.5;
	color: #fff;
	font-family: $bold-font;
	text-decoration: none;
	border-radius: 15rem;
	padding: 0.8rem 3rem;
	transition: all 0.3s ease;
	border: none;
	display: inline-block;
	margin: 0.3rem 0.4rem;
	white-space: nowrap;
	text-transform: none;
	letter-spacing: 0;
	cursor: pointer;
	background: $secondary-color;
}

#moove_gdpr_cookie_info_bar
	.moove-gdpr-info-bar-container
	.moove-gdpr-info-bar-content
	a.mgbutton:hover,
#moove_gdpr_cookie_info_bar
	.moove-gdpr-info-bar-container
	.moove-gdpr-info-bar-content
	button.mgbutton:hover {
	color: #fff;
	background-color: #202020;
}

#moove_gdpr_cookie_info_bar
	.moove-gdpr-info-bar-container
	.moove-gdpr-info-bar-content
	a.mgbutton.change-settings-button,
#moove_gdpr_cookie_info_bar
	.moove-gdpr-info-bar-container
	.moove-gdpr-info-bar-content
	button.mgbutton.change-settings-button {
	background-color: #424449;
	color: #fff;
	border-color: transparent;
	text-decoration: underline;
	cursor: pointer;
}

#moove_gdpr_cookie_info_bar
	.moove-gdpr-info-bar-container
	.moove-gdpr-info-bar-content
	a.mgbutton.change-settings-button:hover,
#moove_gdpr_cookie_info_bar
	.moove-gdpr-info-bar-container
	.moove-gdpr-info-bar-content
	button.mgbutton.change-settings-button:hover {
	border-color: #fff;
}

#moove_gdpr_cookie_info_bar
	.moove-gdpr-info-bar-container
	.moove-gdpr-info-bar-content
	span.change-settings-button {
	text-decoration: underline;
	cursor: pointer;
	transition: all 0.2s ease;
	font-size: 1.4rem;
	margin-left: 1rem;
}

#moove_gdpr_cookie_info_bar
	.moove-gdpr-info-bar-container
	.moove-gdpr-info-bar-content
	span.change-settings-button:hover {
	color: $theme-color;
}

#moove_gdpr_cookie_info_bar
	.moove-gdpr-info-bar-container
	.moove-gdpr-info-bar-content
	.moove-gdpr-button-holder {
	padding-left: 1.5rem;
	padding-left: 3vw;
}

.lity.moove_gdpr_cookie_modal_open .lity-container {
	max-width: 100%;
}

.lity.moove_gdpr_cookie_modal_open .lity-close {
	opacity: 0;
	visibility: hidden;
}

#moove_gdpr_save_popup_settings_button {
	display: block;
	z-index: 1001;
	position: fixed;
	background-color: rgba(0, 0, 0, 0.8);
	transition: all 0.3s ease;
	color: #fff;
	padding: 0;
	text-align: center;
	height: 4rem;
	outline: none;
	font-size: 1.4rem;
	line-height: 1.5;
	border-radius: 0;
	border: none;
	text-decoration: none;
}

#moove_gdpr_save_popup_settings_button:not(.gdpr-floating-button-custom-position) {
	bottom: 5rem;
	left: 5rem;
}

#moove_gdpr_save_popup_settings_button span {
	background-color: inherit;
	transition: all 0.3s ease;
}

#moove_gdpr_save_popup_settings_button span.moove_gdpr_icon {
	display: -ms-inline-flexbox;
	display: inline-flex;
	line-height: 1;
	float: left;
	font-size: 3rem;
	min-width: 4rem;
	height: 4rem;
	-ms-flex-align: center;
	align-items: center;
	-ms-flex-pack: center;
	justify-content: center;
	text-align: center;
	z-index: 15;
	position: relative;
	background-color: transparent;
}

#moove_gdpr_save_popup_settings_button span.moove_gdpr_icon i,
#moove_gdpr_save_popup_settings_button span.moove_gdpr_icon span.gdpr-icon {
	position: relative;
	top: 0;

	background-color: transparent;
}

#moove_gdpr_save_popup_settings_button span.moove_gdpr_text {
	font: normal 1.2rem Arial, sans-serif;
	text-transform: uppercase;
	white-space: nowrap;
	padding: 0 1.5rem 0 0.5rem;
	top: 0;
	left: 0;
	position: relative;
	line-height: 2;
	display: none;
	overflow: hidden;
	z-index: 5;
	background-color: transparent;
	text-decoration: none;
}

#moove_gdpr_save_popup_settings_button:hover {
	background-color: #000;
}

#moove_gdpr_save_popup_settings_button:hover span.moove_gdpr_text {
	display: block;
}

#moove_gdpr_cookie_modal
	.moove-gdpr-modal-content.moove_gdpr_modal_theme_v2
	.moove-gdpr-branding-cnt {
	padding-right: 6rem;
}

#moove_gdpr_cookie_info_bar * {
	box-sizing: border-box;
}

#moove_gdpr_cookie_info_bar.gdpr-full-screen-infobar
	.moove-gdpr-info-bar-container
	.moove-gdpr-info-bar-content
	.moove-gdpr-button-holder
	a.mgbutton {
	display: -ms-inline-flexbox;
	display: inline-flex;
	-ms-flex-align: center;
	align-items: center;
}

#moove_gdpr_cookie_info_bar.gdpr-full-screen-infobar
	.moove-gdpr-info-bar-container
	.moove-gdpr-info-bar-content
	.moove-gdpr-button-holder
	a.mgbutton.mright {
	float: right;
}

#moove_gdpr_cookie_info_bar.gdpr-full-screen-infobar
	.moove-gdpr-info-bar-container
	.moove-gdpr-info-bar-content
	.moove-gdpr-button-holder
	a.mgbutton.mgrey {
	background-color: #424449;
}

#moove_gdpr_cookie_info_bar.gdpr-full-screen-infobar
	.moove-gdpr-info-bar-container
	.moove-gdpr-info-bar-content
	.moove-gdpr-button-holder
	a.mgbutton.mgrey:hover {
	background-color: #202020;
}

@media (max-width: 767px) {
	.gdpr-svg-icon svg {
		margin-left: 0.5rem;
		margin-right: 0.5rem;
	}

	.gdpr-icon.moovegdpr-arrow-close::before {
		font-size: 2rem;
	}

	#moove_gdpr_cookie_info_bar.gdpr-full-screen-infobar
		.moove-gdpr-info-bar-container
		.moove-gdpr-info-bar-content
		a.mgbutton,
	#moove_gdpr_cookie_info_bar.gdpr-full-screen-infobar
		.moove-gdpr-info-bar-container
		.moove-gdpr-info-bar-content
		button.mgbutton {
		min-height: 3rem;
	}

	#moove_gdpr_cookie_modal
		.moove-gdpr-modal-content.moove_gdpr_modal_theme_v1
		.moove-gdpr-modal-right-content,
	#moove_gdpr_cookie_modal
		.moove-gdpr-modal-content.moove_gdpr_modal_theme_v1
		.moove-gdpr-tab-content,
	#moove_gdpr_cookie_modal
		.moove-gdpr-modal-content.moove_gdpr_modal_theme_v1
		.moove-gdpr-tab-main {
		min-height: 40vh;
		max-height: calc(100vh - 18rem);
	}

	.gdpr-fb-hide-mobile {
		display: none !important;
	}

	#moove_gdpr_cookie_modal .moove-gdpr-modal-content {
		width: calc(100vw - 4rem);
	}

	#moove_gdpr_cookie_modal .cookie-switch,
	#moove_gdpr_cookie_modal .switch {
		width: 4rem;
		height: 2.4rem;
	}

	#moove_gdpr_cookie_modal .cookie-switch .cookie-slider:before,
	#moove_gdpr_cookie_modal .cookie-switch .slider:before,
	#moove_gdpr_cookie_modal .switch .cookie-slider:before,
	#moove_gdpr_cookie_modal .switch .slider:before {
		height: 2rem;
		width: 2rem;
	}

	#moove_gdpr_cookie_modal .cookie-switch input:checked + .cookie-slider:before,
	#moove_gdpr_cookie_modal .cookie-switch input:checked + .slider:before,
	#moove_gdpr_cookie_modal .switch input:checked + .cookie-slider:before,
	#moove_gdpr_cookie_modal .switch input:checked + .slider:before {
		transform: translateX(1.6rem);
	}

	#moove_gdpr_cookie_modal
		.moove-gdpr-modal-content.moove_gdpr_modal_theme_v2
		.moove-gdpr-modal-title {
		padding-right: 0;
		height: auto;
		margin-bottom: 1rem;
	}

	#moove_gdpr_cookie_modal
		.moove-gdpr-modal-content.moove_gdpr_modal_theme_v2
		.moove-gdpr-modal-title
		.tab-title {
		font-size: 2.2rem;
	}

	#moove_gdpr_cookie_modal
		.moove-gdpr-modal-content.moove_gdpr_modal_theme_v2
		.moove-gdpr-modal-title
		.moove-gdpr-company-logo-holder {
		display: none;
	}

	#moove_gdpr_cookie_modal
		.moove-gdpr-modal-content.moove_gdpr_modal_theme_v2
		.moove-gdpr-modal-right-content {
		height: 80vh;
	}

	#moove_gdpr_cookie_modal
		.moove-gdpr-modal-content.moove_gdpr_modal_theme_v2
		.moove-gdpr-modal-right-content
		.main-modal-content {
		max-height: calc(80vh - 15.5rem);
	}

	#moove_gdpr_cookie_modal
		.moove-gdpr-modal-content.moove_gdpr_modal_theme_v2
		.moove-gdpr-button-holder
		a.mgbutton,
	#moove_gdpr_cookie_modal
		.moove-gdpr-modal-content.moove_gdpr_modal_theme_v2
		.moove-gdpr-modal-footer-content
		.moove-gdpr-button-holder
		button.mgbutton {
		margin-bottom: 0.2rem;
	}

	#moove_gdpr_cookie_modal
		.moove-gdpr-modal-content.moove_gdpr_modal_theme_v2
		.moove-gdpr-branding-cnt {
		position: relative;
		padding-right: 1rem;
		max-width: 50%;
		width: auto;
	}

	#moove_gdpr_cookie_modal
		.moove-gdpr-modal-content.moove_gdpr_modal_theme_v2
		.moove-gdpr-branding-cnt
		a {
		font-size: 1.1rem;
		white-space: normal;
		padding-left: 0;
		display: block;
	}

	#moove_gdpr_cookie_modal
		.moove-gdpr-modal-content.moove_gdpr_modal_theme_v2
		.moove-gdpr-branding-cnt
		a
		span,
	#moove_gdpr_cookie_modal
		.moove-gdpr-modal-content.moove_gdpr_modal_theme_v2
		.moove-gdpr-branding-cnt
		a
		u {
		display: block;
		text-decoration: underline;
	}

	#moove_gdpr_cookie_modal
		.moove-gdpr-modal-content.moove_gdpr_modal_theme_v2
		.moove-gdpr-tab-main
		.moove-gdpr-tab-main-content {
		padding-right: 0;
	}

	#moove_gdpr_cookie_modal
		.moove-gdpr-modal-content.moove_gdpr_modal_theme_v2
		.moove-gdpr-tab-main
		.moove-gdpr-tab-main-content
		p {
		margin-bottom: 1.5rem;
	}

	#moove_gdpr_cookie_modal
		.moove-gdpr-modal-content.moove_gdpr_modal_theme_v2
		.moove-gdpr-tab-main
		.moove-gdpr-tab-main-content
		.moove-gdpr-status-bar {
		position: relative;
		left: 0;
		right: auto;
		width: 100%;
	}

	#moove_gdpr_cookie_modal
		.moove-gdpr-modal-content.moove_gdpr_modal_theme_v2
		.moove-gdpr-tab-main
		.moove-gdpr-tab-main-content
		.moove-gdpr-status-bar
		.gdpr-cc-form-wrap,
	#moove_gdpr_cookie_modal
		.moove-gdpr-modal-content.moove_gdpr_modal_theme_v2
		.moove-gdpr-tab-main
		.moove-gdpr-tab-main-content
		.moove-gdpr-status-bar
		form {
		text-align: left;
		margin-bottom: 1.5rem;
	}

	#moove_gdpr_cookie_modal
		.moove-gdpr-modal-content.moove_gdpr_modal_theme_v2
		.moove-gdpr-tab-main
		.moove-gdpr-tab-main-content
		.moove-gdpr-status-bar
		.gdpr-cc-form-wrap
		span.cookie-slider,
	#moove_gdpr_cookie_modal
		.moove-gdpr-modal-content.moove_gdpr_modal_theme_v2
		.moove-gdpr-tab-main
		.moove-gdpr-tab-main-content
		.moove-gdpr-status-bar
		.gdpr-cc-form-wrap
		span.slider,
	#moove_gdpr_cookie_modal
		.moove-gdpr-modal-content.moove_gdpr_modal_theme_v2
		.moove-gdpr-tab-main
		.moove-gdpr-tab-main-content
		.moove-gdpr-status-bar
		form
		span.cookie-slider,
	#moove_gdpr_cookie_modal
		.moove-gdpr-modal-content.moove_gdpr_modal_theme_v2
		.moove-gdpr-tab-main
		.moove-gdpr-tab-main-content
		.moove-gdpr-status-bar
		form
		span.slider {
		width: 4rem;
		height: 2.4rem;
	}

	#moove_gdpr_cookie_modal
		.moove-gdpr-modal-content.moove_gdpr_modal_theme_v2
		.moove-gdpr-tab-main
		.moove-gdpr-tab-main-content
		.moove-gdpr-status-bar
		.gdpr-cc-form-wrap
		span.cookie-slider:after,
	#moove_gdpr_cookie_modal
		.moove-gdpr-modal-content.moove_gdpr_modal_theme_v2
		.moove-gdpr-tab-main
		.moove-gdpr-tab-main-content
		.moove-gdpr-status-bar
		.gdpr-cc-form-wrap
		span.slider:after,
	#moove_gdpr_cookie_modal
		.moove-gdpr-modal-content.moove_gdpr_modal_theme_v2
		.moove-gdpr-tab-main
		.moove-gdpr-tab-main-content
		.moove-gdpr-status-bar
		form
		span.cookie-slider:after,
	#moove_gdpr_cookie_modal
		.moove-gdpr-modal-content.moove_gdpr_modal_theme_v2
		.moove-gdpr-tab-main
		.moove-gdpr-tab-main-content
		.moove-gdpr-status-bar
		form
		span.slider:after {
		left: 4.5rem;
		right: 0;
		text-align: left;
		top: 0.3rem;
	}

	#moove_gdpr_cookie_modal
		.moove-gdpr-modal-content.moove_gdpr_modal_theme_v2
		.moove-gdpr-tab-main
		h3.tab-title,
	#moove_gdpr_cookie_modal
		.moove-gdpr-modal-content.moove_gdpr_modal_theme_v2
		.moove-gdpr-tab-main
		span.tab-title {
		padding-right: 0;

		font-size: 1.6rem;
		margin-bottom: 1rem;
	}

	#moove_gdpr_cookie_modal .moove-gdpr-modal-content {
		max-height: 50rem;
		max-height: 90vw;
		min-height: auto;
	}

	#moove_gdpr_cookie_modal
		.moove-gdpr-modal-content
		.cookie-switch
		.cookie-slider:after,
	#moove_gdpr_cookie_modal .moove-gdpr-modal-content .switch .slider:after {
		font-size: 1.2rem;
		line-height: 1.5;
		min-width: 13rem;
	}

	#moove_gdpr_cookie_modal
		.moove-gdpr-modal-content
		.moove-gdpr-close-modal-button
		a,
	#moove_gdpr_cookie_modal
		.moove-gdpr-modal-content
		.moove-gdpr-close-modal-button
		button {
		display: inline-block;
		width: 3rem;
		height: 3rem;
		border: 0.1rem solid #202020;
		color: #202020;
		text-decoration: none;
		outline: none;
		line-height: 1;
		text-align: center;
		border-radius: 50%;
		font-size: 2.7rem;
		padding-top: 0.1rem;
		transition: all 0.2s ease;
		margin-left: 1.5rem;
		margin-left: 6vw;
		position: absolute;
		right: 0.5rem;
		top: 0.5rem;
	}

	#moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-modal-close {
		position: absolute;
		top: -1.5rem;
		right: -1.5rem;
		display: block;
		width: 4rem;
		height: 4rem;
		line-height: 1;
		text-decoration: none;
	}

	#moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-modal-close i,
	#moove_gdpr_cookie_modal
		.moove-gdpr-modal-content
		.moove-gdpr-modal-close
		span.gdpr-icon {
		width: 4rem;
		height: 4rem;
		line-height: 1;
		font-size: 4rem;
	}

	#moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-company-logo {
		padding-bottom: 3rem;
		background-size: contain;
		background-position: 50%;
		margin-top: 1rem;
	}

	#moove_gdpr_cookie_modal
		.moove-gdpr-modal-content
		.moove-gdpr-company-logo-holder {
		margin-bottom: 1.5rem;
	}

	#moove_gdpr_cookie_modal
		.moove-gdpr-modal-content
		.moove-gdpr-modal-left-content {
		padding: 1rem;
		padding-top: 3rem;
		position: relative;
		top: 0;
		left: 0;
		text-align: center;
		height: 14rem;
		border-radius: 0;
		border-top-left-radius: 0.5rem;
		border-top-right-radius: 0.5rem;
	}

	#moove_gdpr_cookie_modal
		.moove-gdpr-modal-content
		.moove-gdpr-modal-left-content
		#moove-gdpr-menu {
		display: flex;
		justify-content: flex-end;
	}

	#moove_gdpr_cookie_modal
		.moove-gdpr-modal-content
		.moove-gdpr-modal-left-content
		#moove-gdpr-menu
		li {
		list-style: none;
		margin-bottom: 2rem;
		display: inline-block;
		float: left;
		margin: 0 0.5rem;
	}

	#moove_gdpr_cookie_modal
		.moove-gdpr-modal-content
		.moove-gdpr-modal-left-content
		#moove-gdpr-menu
		li
		a,
	#moove_gdpr_cookie_modal
		.moove-gdpr-modal-content
		.moove-gdpr-modal-left-content
		#moove-gdpr-menu
		li
		button {
		padding: 0.5rem;
	}

	#moove_gdpr_cookie_modal
		.moove-gdpr-modal-content
		.moove-gdpr-modal-left-content
		#moove-gdpr-menu
		li
		a
		i,
	#moove_gdpr_cookie_modal
		.moove-gdpr-modal-content
		.moove-gdpr-modal-left-content
		#moove-gdpr-menu
		li
		a
		span.gdpr-icon,
	#moove_gdpr_cookie_modal
		.moove-gdpr-modal-content
		.moove-gdpr-modal-left-content
		#moove-gdpr-menu
		li
		button
		i,
	#moove_gdpr_cookie_modal
		.moove-gdpr-modal-content
		.moove-gdpr-modal-left-content
		#moove-gdpr-menu
		li
		button
		span.gdpr-icon {
		margin: 0;
		text-align: center;
		width: 2.4rem;
		font-size: 2.4rem;
	}

	#moove_gdpr_cookie_modal
		.moove-gdpr-modal-content
		.moove-gdpr-modal-left-content
		#moove-gdpr-menu
		li
		a
		span.gdpr-nav-tab-title,
	#moove_gdpr_cookie_modal
		.moove-gdpr-modal-content
		.moove-gdpr-modal-left-content
		#moove-gdpr-menu
		li
		button
		span.gdpr-nav-tab-title {
		display: none;
	}

	#moove_gdpr_cookie_modal
		.moove-gdpr-modal-content
		.moove-gdpr-modal-left-content
		.moove-gdpr-branding-cnt {
		top: 0.3rem;
		right: 0.3rem;
		left: auto;
		padding: 0;
		bottom: auto;
		transform: scale(0.8);
	}

	#moove_gdpr_cookie_modal
		.moove-gdpr-modal-content
		.moove-gdpr-modal-left-content
		.moove-gdpr-branding-cnt
		a {
		text-align: right;
	}

	#moove_gdpr_cookie_modal
		.moove-gdpr-modal-content
		.moove-gdpr-modal-left-content
		.moove-gdpr-branding-cnt
		a
		span {
		display: block;
	}

	#moove_gdpr_cookie_modal
		.moove-gdpr-modal-content
		.moove-gdpr-modal-right-content {
		width: 100%;
		position: relative;
		padding: 1.5rem 1rem;
		height: calc(90vh - 20rem);
		border-radius: 0;
		border-bottom-left-radius: 0.5rem;
		border-bottom-right-radius: 0.5rem;
	}

	#moove_gdpr_cookie_modal .moove-gdpr-modal-content.moove_gdpr_modal_theme_v2 {
		max-height: 100%;
	}

	#moove_gdpr_cookie_modal
		.moove-gdpr-modal-content
		.moove-gdpr-tab-main
		h3.tab-title,
	#moove_gdpr_cookie_modal
		.moove-gdpr-modal-content
		.moove-gdpr-tab-main
		span.tab-title {
		font-size: 1.6rem;
	}

	#moove_gdpr_cookie_modal
		.moove-gdpr-modal-content
		.moove-gdpr-tab-main
		.moove-gdpr-status-bar {
		padding: 0;
	}

	#moove_gdpr_cookie_modal
		.moove-gdpr-modal-content
		.moove-gdpr-tab-main
		.moove-gdpr-tab-main-content {
		padding: 0;
		position: relative;
		overflow: auto;
		max-height: calc(100% - 11rem);
	}

	#moove_gdpr_cookie_modal
		.moove-gdpr-modal-content
		.moove-gdpr-tab-main
		.moove-gdpr-tab-main-content
		a,
	#moove_gdpr_cookie_modal
		.moove-gdpr-modal-content
		.moove-gdpr-tab-main
		.moove-gdpr-tab-main-content
		li,
	#moove_gdpr_cookie_modal
		.moove-gdpr-modal-content
		.moove-gdpr-tab-main
		.moove-gdpr-tab-main-content
		p {
		font-size: 1.4rem;
		line-height: 1.3;
	}

	#moove_gdpr_cookie_modal
		.moove-gdpr-modal-content
		.moove-gdpr-tab-main
		.moove-gdpr-tab-main-content
		h1,
	#moove_gdpr_cookie_modal
		.moove-gdpr-modal-content
		.moove-gdpr-tab-main
		.moove-gdpr-tab-main-content
		h2,
	#moove_gdpr_cookie_modal
		.moove-gdpr-modal-content
		.moove-gdpr-tab-main
		.moove-gdpr-tab-main-content
		h3,
	#moove_gdpr_cookie_modal
		.moove-gdpr-modal-content
		.moove-gdpr-tab-main
		.moove-gdpr-tab-main-content
		h4,
	#moove_gdpr_cookie_modal
		.moove-gdpr-modal-content
		.moove-gdpr-tab-main
		.moove-gdpr-tab-main-content
		h5,
	#moove_gdpr_cookie_modal
		.moove-gdpr-modal-content
		.moove-gdpr-tab-main
		.moove-gdpr-tab-main-content
		h6 {
		font-size: 1.4rem;
	}

	#moove_gdpr_cookie_modal
		.moove-gdpr-modal-content.moove_gdpr_modal_theme_v1
		.moove-gdpr-tab-main {
		margin-bottom: 5.5rem;
	}

	#moove_gdpr_cookie_modal
		.moove-gdpr-modal-content.moove_gdpr_modal_theme_v1
		.moove-gdpr-tab-main
		.moove-gdpr-tab-main-content {
		height: 100%;
		max-height: calc(90vh - 32rem);
	}

	#moove_gdpr_cookie_modal
		.moove-gdpr-modal-content
		.moove-gdpr-modal-footer-content {
		height: 7rem;
	}

	#moove_gdpr_cookie_modal
		.moove-gdpr-modal-content
		.moove-gdpr-modal-footer-content:before {
		left: 1rem;
		right: 1rem;
		bottom: 7rem;
	}

	#moove_gdpr_cookie_modal
		.moove-gdpr-modal-content
		.moove-gdpr-modal-footer-content
		.moove-gdpr-button-holder {
		padding: 0 1rem;
	}

	#moove_gdpr_cookie_modal
		.moove-gdpr-modal-content
		.moove-gdpr-modal-footer-content
		.moove-gdpr-button-holder
		a.mgbutton,
	#moove_gdpr_cookie_modal
		.moove-gdpr-modal-content
		.moove-gdpr-modal-footer-content
		.moove-gdpr-button-holder
		button.mgbutton {
		margin: 0;
		background-color: #fff;
		text-decoration: none;
		border-radius: 15rem;

		font-size: 1.2rem;
		line-height: 1.5;
		padding: 0.5rem;
		transition: all 0.3s ease;
		border: 0.1rem solid #fff;
		color: #fff;
		min-width: 11rem;
		text-align: center;
		text-transform: none;
	}

	#moove_gdpr_cookie_modal
		.moove-gdpr-modal-content
		.moove-gdpr-modal-left-content {
		width: 100%;
	}

	#moove_gdpr_cookie_modal
		.moove-gdpr-modal-content
		.moove-gdpr-modal-left-content
		.moove-gdpr-branding-cnt
		a,
	#moove_gdpr_cookie_modal
		.moove-gdpr-modal-content
		.moove-gdpr-modal-left-content
		.moove-gdpr-branding-cnt
		button {
		top: 0;
		padding: 0.5rem 0;
	}

	#moove_gdpr_cookie_modal
		.moove-gdpr-modal-content
		.moove-gdpr-company-logo-holder
		img {
		max-height: 8rem;
		width: auto;
		position: absolute;
	}

	#moove_gdpr_cookie_modal
		.moove-gdpr-modal-content
		.moove-gdpr-company-logo-holder {
		text-align: center;
	}

	#moove_gdpr_cookie_info_bar .moove-gdpr-info-bar-container {
		padding: 1.5rem;
	}

	#moove_gdpr_cookie_info_bar .moove-gdpr-info-bar-container i.gdpricon-cog-1,
	#moove_gdpr_cookie_info_bar
		.moove-gdpr-info-bar-container
		span.gdpricon-cog-1 {
		display: none;
	}

	#moove_gdpr_cookie_info_bar
		.moove-gdpr-info-bar-container
		.moove-gdpr-info-bar-content {
		padding-left: 0;
		padding-right: 0;
		display: block;
		min-height: auto;
	}

	#moove_gdpr_cookie_info_bar
		.moove-gdpr-info-bar-container
		.moove-gdpr-info-bar-content
		.moove-gdpr-cookie-notice {
		padding-left: 0.4rem;
		margin-bottom: 1rem;
	}

	#moove_gdpr_cookie_info_bar
		.moove-gdpr-info-bar-container
		.moove-gdpr-info-bar-content
		.moove-gdpr-button-holder {
		padding-left: 0;
	}

	#moove_gdpr_cookie_info_bar
		.moove-gdpr-info-bar-container
		.moove-gdpr-info-bar-content
		a.mgbutton,
	#moove_gdpr_cookie_info_bar
		.moove-gdpr-info-bar-container
		.moove-gdpr-info-bar-content
		button.mgbutton {
		font-size: 1.2rem;

		padding: 0.5rem 2rem;
	}

	.moove-gdpr-branding-cnt a {
		padding: 1rem 0;
	}
}

@media screen and (max-width: 767px) and (orientation: landscape) {
	#moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-company-logo {
		margin-top: 0;
		background-position: 0;
	}

	#moove_gdpr_cookie_modal
		.moove-gdpr-modal-content.moove_gdpr_modal_theme_v2
		.moove-gdpr-modal-right-content {
		height: 60rem;
		height: 90vh;
	}

	#moove_gdpr_cookie_modal
		.moove-gdpr-modal-content.moove_gdpr_modal_theme_v2
		.moove-gdpr-modal-right-content
		.main-modal-content {
		max-height: 50rem;
		max-height: calc(80vh - 8rem);
	}

	#moove_gdpr_cookie_modal
		.moove-gdpr-modal-content
		.moove-gdpr-company-logo-holder {
		text-align: left;
		margin: 0;
		display: inline-block;
		float: left;
		width: 40%;
	}

	#moove_gdpr_cookie_modal
		.moove-gdpr-modal-content
		.moove-gdpr-modal-left-content
		#moove-gdpr-menu {
		max-width: 60%;
		float: right;
	}

	#moove_gdpr_cookie_modal
		.moove-gdpr-modal-content
		.moove-gdpr-modal-left-content {
		padding-top: 3rem;
		height: 7.5rem;
	}

	#moove_gdpr_cookie_modal
		.moove-gdpr-modal-content
		.moove-gdpr-tab-main
		h3.tab-title,
	#moove_gdpr_cookie_modal
		.moove-gdpr-modal-content
		.moove-gdpr-tab-main
		span.tab-title {
		margin-bottom: 1rem;
	}

	#moove_gdpr_cookie_modal
		.moove-gdpr-modal-content
		.moove-gdpr-modal-footer-content {
		height: 4.5rem;
	}

	#moove_gdpr_cookie_modal
		.moove-gdpr-modal-content
		.moove-gdpr-modal-footer-content:before {
		bottom: 4.5rem;
	}

	#moove_gdpr_cookie_modal
		.moove-gdpr-modal-content
		.moove-gdpr-tab-main
		.moove-gdpr-tab-main-content {
		display: -ms-flexbox;
		display: flex;
		-ms-flex-flow: column;
		flex-flow: column;
		max-height: 35rem;
		max-height: calc(100% - 7rem);
	}

	#moove_gdpr_cookie_modal {
		background: transparent;
		border-radius: 0.5rem;
	}

	#moove_gdpr_cookie_modal
		.moove-gdpr-modal-content
		.moove-gdpr-modal-right-content {
		height: 55vh;
	}

	#moove_gdpr_cookie_modal
		.moove-gdpr-modal-content
		.moove-gdpr-modal-left-content
		.moove-gdpr-branding-cnt
		a.moove-gdpr-branding {
		top: 0;
		padding: 0;
	}

	#moove_gdpr_cookie_modal
		.moove-gdpr-modal-content.moove_gdpr_modal_theme_v1
		.moove-gdpr-tab-main
		.moove-gdpr-tab-main-content {
		max-height: calc(90vh - 22rem);
	}

	#moove_gdpr_cookie_modal
		.moove-gdpr-modal-content.moove_gdpr_modal_theme_v2
		.moove-gdpr-modal-right-content {
		padding-bottom: 8rem;
	}
}

@media (min-width: 76.8rem) {
	#moove_gdpr_cookie_modal
		.moove-gdpr-modal-content.moove_gdpr_modal_theme_v1
		.moove-gdpr-modal-right-content,
	#moove_gdpr_cookie_modal
		.moove-gdpr-modal-content.moove_gdpr_modal_theme_v1
		.moove-gdpr-tab-content,
	#moove_gdpr_cookie_modal
		.moove-gdpr-modal-content.moove_gdpr_modal_theme_v1
		.moove-gdpr-tab-main {
		height: 100%;
	}
}

@media (min-width: 76.8rem) and (max-width: 999px) {
	#moove_gdpr_cookie_modal
		.moove-gdpr-modal-content
		.moove-gdpr-modal-right-content {
		padding: 3rem 2rem;
	}

	#moove_gdpr_cookie_modal
		.moove-gdpr-modal-content
		.moove-gdpr-modal-footer-content {
		height: 12rem;
	}

	#moove_gdpr_cookie_modal
		.moove-gdpr-modal-content
		.moove-gdpr-modal-footer-content
		.moove-gdpr-button-holder {
		padding: 0 2rem;
	}

	#moove_gdpr_cookie_modal
		.moove-gdpr-modal-content
		.moove-gdpr-modal-footer-content:before {
		bottom: 12rem;
		left: 2rem;
		right: 2rem;
	}

	#moove_gdpr_cookie_modal
		.moove-gdpr-modal-content.moove_gdpr_modal_theme_v2
		.moove-gdpr-branding-cnt {
		padding-right: 3rem;
	}

	#moove_gdpr_cookie_modal
		.moove-gdpr-modal-content
		.moove-gdpr-modal-left-content {
		padding: 3rem 2rem;
	}

	#moove_gdpr_cookie_modal .moove-gdpr-modal-content {
		min-height: 62rem;
		transform: scale(0.75);
	}

	#moove_gdpr_cookie_modal
		.moove-gdpr-modal-content
		.moove-gdpr-modal-left-content
		.moove-gdpr-branding-cnt {
		left: 2rem;
		right: 2rem;
	}

	#moove_gdpr_cookie_info_bar
		.moove-gdpr-info-bar-container
		.moove-gdpr-info-bar-content
		p,
	#moove_gdpr_cookie_info_bar
		.moove-gdpr-info-bar-container
		.moove-gdpr-info-bar-content
		p
		> a {
		font-size: 1.3rem;
	}

	#moove_gdpr_cookie_modal
		.moove-gdpr-modal-content
		.moove-gdpr-modal-left-content
		#moove-gdpr-menu
		li
		a,
	#moove_gdpr_cookie_modal
		.moove-gdpr-modal-content
		.moove-gdpr-modal-left-content
		#moove-gdpr-menu
		li
		button {
		padding: 1rem 1.5rem;

		font-size: 1.2rem;
	}

	#moove_gdpr_cookie_info_bar
		.moove-gdpr-info-bar-container
		.moove-gdpr-info-bar-content {
		padding-left: 2rem;
		padding-right: 2rem;
	}

	#moove_gdpr_cookie_info_bar
		.moove-gdpr-info-bar-container
		.moove-gdpr-info-bar-content
		.moove-gdpr-close-modal-button
		a,
	#moove_gdpr_cookie_info_bar
		.moove-gdpr-info-bar-container
		.moove-gdpr-info-bar-content
		.moove-gdpr-close-modal-button
		button {
		margin-left: 1.5rem;
		margin-left: 5vw;
	}

	#moove_gdpr_cookie_modal
		.moove-gdpr-modal-content
		.moove-gdpr-tab-main
		h3.tab-title,
	#moove_gdpr_cookie_modal
		.moove-gdpr-modal-content
		.moove-gdpr-tab-main
		span.tab-title {
		font-size: 2.4rem;
	}

	#moove_gdpr_cookie_modal
		.moove-gdpr-modal-content
		.moove-gdpr-modal-footer-content
		.moove-gdpr-button-holder
		a.mgbutton,
	#moove_gdpr_cookie_modal
		.moove-gdpr-modal-content
		.moove-gdpr-modal-footer-content
		.moove-gdpr-button-holder
		button.mgbutton {
		transform: scale(0.75);
	}

	#moove_gdpr_cookie_info_bar .moove-gdpr-info-bar-container {
		padding: 1rem 2rem;
	}
}

@media (min-width: 1000px) and (max-width: 1300px) {
	#moove_gdpr_cookie_modal
		.moove-gdpr-modal-content
		.moove-gdpr-modal-right-content {
		padding: 4rem 3rem;
	}

	#moove_gdpr_cookie_modal
		.moove-gdpr-modal-content
		.moove-gdpr-modal-footer-content {
		height: 12rem;
	}

	#moove_gdpr_cookie_modal
		.moove-gdpr-modal-content
		.moove-gdpr-modal-footer-content
		.moove-gdpr-button-holder {
		padding: 0 3rem;
	}

	#moove_gdpr_cookie_modal
		.moove-gdpr-modal-content
		.moove-gdpr-modal-footer-content:before {
		bottom: 12rem;
		left: 3rem;
		right: 3rem;
	}

	#moove_gdpr_cookie_modal
		.moove-gdpr-modal-content.moove_gdpr_modal_theme_v2
		.moove-gdpr-branding-cnt {
		padding-right: 3rem;
	}

	#moove_gdpr_cookie_modal
		.moove-gdpr-modal-content
		.moove-gdpr-modal-left-content
		.moove-gdpr-branding-cnt {
		left: 3rem;
		right: 3rem;
	}

	#moove_gdpr_cookie_modal
		.moove-gdpr-modal-content
		.moove-gdpr-modal-left-content {
		padding: 3rem;
	}

	#moove_gdpr_cookie_modal .moove-gdpr-modal-content {
		min-width: 70rem;
	}
}

@media (min-width: 76.8rem) and (max-height: 700px) {
	#moove_gdpr_cookie_modal .moove-gdpr-modal-content {
		min-height: 60rem;
		transform: scale(0.7);
	}
}

@media (-ms-high-contrast: none), screen and (-ms-high-contrast: active) {
	#moove_gdpr_cookie_info_bar
		.moove-gdpr-info-bar-container
		.moove-gdpr-info-bar-content {
		display: block;
		max-width: 100%;
		text-align: center;
	}

	#moove_gdpr_cookie_info_bar
		.moove-gdpr-info-bar-container
		.moove-gdpr-info-bar-content
		.moove-gdpr-button-holder {
		margin-top: 1rem;
	}

	#moove_gdpr_cookie_modal
		.moove-gdpr-modal-content
		.moove-gdpr-tab-main
		.moove-gdpr-tab-main-content {
		display: block;
		max-width: 100%;
	}

	#moove_gdpr_cookie_modal
		.moove-gdpr-modal-content
		.moove-gdpr-modal-left-content
		#moove-gdpr-menu
		li
		a
		span,
	#moove_gdpr_cookie_modal
		.moove-gdpr-modal-content
		.moove-gdpr-modal-left-content
		#moove-gdpr-menu
		li
		button
		span {
		display: block;
	}
}

@media (-ms-high-contrast: active), (-ms-high-contrast: none) {
	#moove_gdpr_cookie_info_bar
		.moove-gdpr-info-bar-container
		.moove-gdpr-info-bar-content {
		display: block;
		max-width: 100%;
		text-align: center;
	}

	#moove_gdpr_cookie_info_bar
		.moove-gdpr-info-bar-container
		.moove-gdpr-info-bar-content
		.moove-gdpr-button-holder {
		margin-top: 1rem;
	}

	#moove_gdpr_cookie_modal
		.moove-gdpr-modal-content
		.moove-gdpr-tab-main
		.moove-gdpr-tab-main-content {
		display: block;
		max-width: 100%;
	}

	#moove_gdpr_cookie_modal
		.moove-gdpr-modal-content
		.moove-gdpr-modal-left-content
		#moove-gdpr-menu
		li
		a
		span,
	#moove_gdpr_cookie_modal
		.moove-gdpr-modal-content
		.moove-gdpr-modal-left-content
		#moove-gdpr-menu
		li
		button
		span {
		display: block;
	}
}

@media print {
	.gdpr_lightbox,
	#moove_gdpr_cookie_info_bar,
	#moove_gdpr_cookie_modal,
	#moove_gdpr_save_popup_settings_button,
	.gdpr_cookie_settings_shortcode_content {
		display: none !important;
	}

	body.moove_gdpr_overflow {
		overflow: auto;
	}

	body.moove_gdpr_overflow .lity {
		display: none !important;
	}
}

/*! Lity - v2.2.2 - 2016-12-14
* http://sorgalla.com/lity/
* Copyright (c) 2015-2016 Jan Sorgalla; Licensed MIT */
.lity {
	z-index: 9990;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	white-space: nowrap;
	background: #0b0b0b;
	background: rgba(0, 0, 0, 0.7);
	outline: none !important;
	opacity: 0;
	-webkit-transition: opacity 0.3s ease;
	-o-transition: opacity 0.3s ease;
	transition: opacity 0.3s ease;
}

.lity.lity-opened {
	opacity: 1;
}

.lity.lity-closed {
	opacity: 0;
}

.lity * {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.lity-wrap {
	z-index: 9990;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	text-align: center;
	outline: none !important;
}

.lity-wrap:before {
	content: "";
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}

.lity-loader {
	z-index: 9991;
	color: #fff;
	position: absolute;
	top: 50%;
	margin-top: -0.8em;
	width: 100%;
	text-align: center;
	font-size: 14px;
	font-family: Arial, Helvetica, sans-serif;
	opacity: 0;
	-webkit-transition: opacity 0.3s ease;
	-o-transition: opacity 0.3s ease;
	transition: opacity 0.3s ease;
}

.lity-loading .lity-loader {
	opacity: 1;
}

.lity-container {
	z-index: 9992;
	position: relative;
	text-align: left;
	vertical-align: middle;
	display: inline-block;
	white-space: normal;
	max-width: 100%;
	max-height: 100%;
	outline: none !important;
}

.lity-content {
	z-index: 9993;
	width: 100%;
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
	transform: scale(1);
	-webkit-transition: -webkit-transform 0.3s ease;
	transition: -webkit-transform 0.3s ease;
	-o-transition: -o-transform 0.3s ease;
	transition: transform 0.3s ease;
	transition: transform 0.3s ease, -webkit-transform 0.3s ease,
		-o-transform 0.3s ease;
}

.lity-loading .lity-content,
.lity-closed .lity-content {
	-webkit-transform: scale(0.8);
	-ms-transform: scale(0.8);
	-o-transform: scale(0.8);
	transform: scale(0.8);
}

.lity-content:after {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	display: block;
	right: 0;
	width: auto;
	height: auto;
	z-index: -1;
	/*-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
	box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);*/
}

.lity-close {
	z-index: 9994;
	width: 35px;
	height: 35px;
	position: fixed;
	right: 0;
	top: 0;
	-webkit-appearance: none;
	cursor: pointer;
	text-decoration: none;
	text-align: center;
	padding: 0;
	color: #fff;
	font-style: normal;
	font-size: 35px;
	font-family: Arial, Baskerville, monospace;
	line-height: 35px;
	text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
	border: 0;
	background: none;
	outline: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.lity-close::-moz-focus-inner {
	border: 0;
	padding: 0;
}

.lity-close:hover,
.lity-close:focus,
.lity-close:active,
.lity-close:visited {
}

/* Image */
.lity-image img {
	max-width: 100%;
	display: block;
	line-height: 0;
	border: 0;
}

/* iFrame */
.lity-iframe .lity-container,
.lity-youtube .lity-container,
.lity-vimeo .lity-container,
.lity-facebookvideo .lity-container,
.lity-googlemaps .lity-container {
	width: 100%;
	max-width: 964px;
}

.lity-iframe-container {
	width: 100%;
	height: 0;
	padding-top: 56.25%;
	overflow: auto;
	pointer-events: auto;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-overflow-scrolling: touch;
}

.lity-iframe-container iframe {
	position: absolute;
	display: block;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
	box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
	background: #000;
}

.lity-hide {
	display: none;
}

.lity-video .lity-container {
	/*width: 100%;
	min-height: 100vh;*/
}

.lity-video .lity-container video {
	/*width: 100%;
	min-height: 100vh;
	object-fit: cover;*/
	max-width: 96.4rem;
}

.lity-close {
	top: 2rem;
	right: 2rem;
	font-family: $light-font;
	font-size: 6rem;
	transition: 0.3s var(--inoutquad);

	&:hover {
		transform: rotate(-90deg);
	}
}

.lity-inline {
	.lity {
		&-content {
			background: #fff;
			max-width: 75rem;
		}

		&-close {
			right: 3.5rem;
			position: absolute;
			font-family: $theme-font;
			color: $theme-color;
			text-shadow: unset;

			@include mq(pw) {
				top: 1rem;
				right: 1.5rem;
			}
		}
	}
}
