// * Components - Inputs

input,
textarea {
	@include placeholder {
		color: $darkgray;
		opacity: 1; // Firefox issue
	}
}

input {
	&[type="number"] {
		-moz-appearance: textfield;

		&::-webkit-inner-spin-button,
		&::-webkit-outer-spin-button {
			-webkit-appearance: none;
			margin: 0;
		}
	}

	&[type="search"] {
		&::-webkit-search-decoration,
		&::-webkit-search-cancel-button,
		&::-webkit-search-results-button,
		&::-webkit-search-results-decoration {
			display: none;
		}
	}

	&[type="radio"] {
		display: none;

		+ label {
			padding-left: 3rem;
			min-height: 3rem;
			display: flex;
			cursor: pointer;

			&::before {
				content: "";
				width: 2rem;
				height: 2rem;
				border: 0.1rem solid $darkgray;
				position: absolute;
				top: 0.2rem;
				left: 0;
				border-radius: 50%;
			}

			&::after {
				content: "";
				position: absolute;
				width: 1.2rem;
				height: 1.2rem;
				border-radius: 50%;
				top: 0.6rem;
				left: 0.4rem;
				background: $success-color;
				transition: 0.2s;
				transform: scale(0);
			}
		}

		&:checked {
			+ label {
				&::after {
					transform: scale(1);
				}
			}
		}
	}

	&[type="checkbox"] {
		display: none;

		+ label {
			position: relative;
			padding-left: 3rem;
			min-height: 3rem;
			color: #000;
			display: flex;
			cursor: pointer;

			&::before {
				content: "";
				width: 2rem;
				height: 2rem;
				border: 0.1rem solid $darkgray;
				position: absolute;
				top: 0.6rem;
				left: 0;
			}

			&::after {
				content: "";
				width: 1.2rem;
				height: 1.2rem;
				position: absolute;
				background: $secondary-color;
				transition: 0.2s;
				transform: scale(0);
				top: 1rem;
				left: 0.4rem;
			}
		}

		+ span {
			> label {
				position: relative;
				padding-left: 3rem;
				min-height: 3rem;
				color: #000;
				display: inline-block;
				cursor: pointer;

				&::before {
					content: "";
					width: 2rem;
					height: 2rem;
					border: 0.1rem solid $darkgray;
					position: absolute;
					top: 0.2rem;
					left: 0;
				}

				&::after {
					content: "";
					width: 1.2rem;
					height: 1.2rem;
					position: absolute;
					background: $secondary-color;
					transition: 0.2s;
					transform: scale(0);
					top: 0.6rem;
					left: 0.4rem;
				}
			}
		}

		&:checked {
			+ label {
				&::after {
					transform: scale(1);
				}
			}

			+ span {
				> label {
					&::after {
						transform: scale(1);
					}
				}
			}
		}
	}
}

input:not([type="checkbox"]):not([type="radio"]),
textarea,
select {
	-webkit-appearance: none;
}

// General Input Styles
input[type="text"],
input[type="number"],
input[type="password"],
input[type="email"],
input[type="search"],
input[type="tel"],
input[type="urL"],
select,
textarea {
	position: relative;
	font-size: clamp(1.6rem, 4.2vw, 1.9rem);
	line-height: clamp(2.2rem, 5.2vw, 2.5rem);
	color: $font-color;
	border: 0;
	border-radius: 0;
	padding: 2rem 2.75rem;
	background: #f1f1f1;
	width: 100%;
	margin: 0;
	transition: 0.2s;
	height: 5.6rem;
	transition: border-color 0.2s;
}

input[type="search"] {
	padding: 2rem 4.3rem 2rem 2.75rem;
}

input,
select,
textarea {
	&:focus {
		border-color: darken($lightgray, 25);
	}
}

select {
	font: 1.2rem/1.5 $bold-font;
	text-transform: uppercase;
	letter-spacing: 0.1rem;
	border-bottom: 0.1rem solid $gray;
	padding: 0 5rem 0 2rem;
}

textarea {
	min-height: 10rem;
	max-height: 10rem;
	resize: vertical;
	overflow: auto;
	resize: none;

	@include mq(ls) {
		max-height: 8rem;
	}
}

// Custom Select
// Custom Select
.select {
	&__custom {
		position: relative;
		min-height: 5.6rem;
		height: fit-content;

		&.placeholder {
			min-height: 5.6rem;

			.select {
				&__selected {
					color: $darkgray;
					letter-spacing: -0.03rem;
				}

				&__items {
					div {
						&:first-child {
							display: none;
						}
					}
				}
			}
		}

		select {
			display: none;
		}
	}

	&__selected {
		background: #f1f1f1;
		color: $dark;
		cursor: pointer;
		height: 5.6rem;
		font-size: clamp(1.6rem, 4.2vw, 1.85rem);
		line-height: clamp(2.2rem, 5.2vw, 2.5rem);
		@include unselectable;
		@include truncate(100%);
		padding: 1.5rem 2rem;
		width: 100%;

		@include mq(ls) {
			font-size: 1.6rem;
		}

		&::after {
			content: "\f107";
			top: 2rem;
			right: 2rem;
			position: absolute;
			font-family: $regular-icon;
			line-height: 1;
			color: rgba($dark, 0.6);
			transition: transform 0.2s;
			will-change: transform;

			@include mq(ls) {
				font-size: 1.6rem;
			}
		}
	}

	&__arrow {
		&--active {
			&::after {
				transform: rotate(180deg);
			}
		}
	}

	&__items {
		top: 100%;
		position: absolute;
		background: #f1f1f1;
		padding: 1rem;
		width: 100%;
		max-height: 30rem;
		overflow-y: auto;
		z-index: z("main");
		box-shadow: 0 0.2rem 4.9rem 0 rgba($dark, 0.06);
		//border: 0.1rem solid $mediumgray;

		&::-webkit-scrollbar {
			width: 1.1rem;
			opacity: 0;
		}

		&::-webkit-scrollbar-track {
			opacity: 0;
			//border: 0.1rem solid $mediumgray;
		}

		&::-webkit-scrollbar-thumb {
			background-color: $midgray;
			opacity: 0;
			//border-left: 0.1rem solid $mediumgray;
			//border-right: 0.1rem solid $mediumgray;
		}

		div {
			font-size: clamp(1.6rem, 4.2vw, 1.9rem);
			line-height: clamp(2.2rem, 5.2vw, 2.5rem);
			padding: 0.5rem 1rem;
			letter-spacing: -0.07rem;
			cursor: pointer;
			@include unselectable;

			@include mq(ls) {
				font-size: 1.6rem;
			}

			&:hover {
				background-color: rgba(0, 0, 0, 0.05);
			}

			&:first-child {
				color: $gray;
			}
		}
	}

	&__hide {
		display: none;
	}

	&__same {
		background-color: rgba(0, 0, 0, 0.05);
	}
}
