// * Components - Lightgallery

.lg-icon {
	font-family: $icon;
	font-style: normal;
	font-weight: 400;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.lg-container {
	font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue",
		Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji",
		"Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.lg-next,
.lg-prev {
	background-color: rgba(0, 0, 0, 0.45);
	border-radius: 2px;
	color: #999;
	cursor: pointer;
	display: block;
	font-size: 22px;
	margin-top: -10px;
	padding: 8px 10px 9px;
	position: absolute;
	top: 50%;
	z-index: 1080;
	outline: none;
	border: none;
}

.lg-next.disabled,
.lg-prev.disabled {
	pointer-events: none;
	opacity: 0.5;
}

.lg-next:hover,
.lg-prev:hover {
	color: #fff;
}

.lg-next {
	right: 20px;
}

.lg-next:before {
	content: "\f054";
}

.lg-prev {
	left: 20px;
}

.lg-prev:after {
	content: "\f053";
}

@-webkit-keyframes lg-right-end {
	0% {
		left: 0;
	}
	50% {
		left: -30px;
	}
	100% {
		left: 0;
	}
}

@-moz-keyframes lg-right-end {
	0% {
		left: 0;
	}
	50% {
		left: -30px;
	}
	100% {
		left: 0;
	}
}

@-ms-keyframes lg-right-end {
	0% {
		left: 0;
	}
	50% {
		left: -30px;
	}
	100% {
		left: 0;
	}
}

@keyframes lg-right-end {
	0% {
		left: 0;
	}
	50% {
		left: -30px;
	}
	100% {
		left: 0;
	}
}

@-webkit-keyframes lg-left-end {
	0% {
		left: 0;
	}
	50% {
		left: 30px;
	}
	100% {
		left: 0;
	}
}

@-moz-keyframes lg-left-end {
	0% {
		left: 0;
	}
	50% {
		left: 30px;
	}
	100% {
		left: 0;
	}
}

@-ms-keyframes lg-left-end {
	0% {
		left: 0;
	}
	50% {
		left: 30px;
	}
	100% {
		left: 0;
	}
}

@keyframes lg-left-end {
	0% {
		left: 0;
	}
	50% {
		left: 30px;
	}
	100% {
		left: 0;
	}
}

.lg-outer.lg-right-end .lg-object {
	-webkit-animation: lg-right-end 0.3s;
	-o-animation: lg-right-end 0.3s;
	animation: lg-right-end 0.3s;
	position: relative;
}

.lg-outer.lg-left-end .lg-object {
	-webkit-animation: lg-left-end 0.3s;
	-o-animation: lg-left-end 0.3s;
	animation: lg-left-end 0.3s;
	position: relative;
}

.lg-toolbar {
	z-index: 1082;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}

.lg-media-overlap .lg-toolbar {
	background-image: linear-gradient(0deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));
}

.lg-toolbar .lg-icon {
	color: #999;
	cursor: pointer;
	float: right;
	font-size: 24px;
	height: 47px;
	line-height: 27px;
	padding: 10px 0;
	text-align: center;
	width: 50px;
	text-decoration: none !important;
	outline: medium none;
	will-change: color;
	-webkit-transition: color 0.2s linear;
	-o-transition: color 0.2s linear;
	transition: color 0.2s linear;
	background: none;
	border: none;
	box-shadow: none;
}

.lg-toolbar .lg-icon.lg-icon-18 {
	font-size: 18px;
}

.lg-toolbar .lg-icon:hover {
	color: #fff;
}

.lg-toolbar .lg-close:after {
	content: "\f00d";
}

.lg-toolbar .lg-maximize {
	font-size: 22px;
}

.lg-toolbar .lg-maximize:after {
	content: "\e90a";
}

.lg-toolbar .lg-download:after {
	content: "\f019";
}

.lg-sub-html {
	color: #eee;
	font-size: 16px;
	padding: 10px 40px;
	text-align: center;
	z-index: 1080;
	opacity: 0;
	-webkit-transition: opacity 0.2s ease-out 0s;
	-o-transition: opacity 0.2s ease-out 0s;
	transition: opacity 0.2s ease-out 0s;
}

.lg-sub-html h4 {
	margin: 0;
	font-size: 13px;
	font-weight: bold;
}

.lg-sub-html p {
	font-size: 12px;
	margin: 5px 0 0;
}

.lg-sub-html a {
	color: inherit;
}

.lg-sub-html a:hover {
	text-decoration: underline;
}

.lg-media-overlap .lg-sub-html {
	background-image: linear-gradient(
		180deg,
		rgba(0, 0, 0, 0),
		rgba(0, 0, 0, 0.6)
	);
}

.lg-item .lg-sub-html {
	position: absolute;
	bottom: 0;
	right: 0;
	left: 0;
}

.lg-error-msg {
	font-size: 14px;
	color: #999;
}

.lg-counter {
	color: #999;
	display: inline-block;
	font-size: 16px;
	padding-left: 20px;
	padding-top: 12px;
	height: 47px;
	vertical-align: middle;
}

.lg-closing .lg-toolbar,
.lg-closing .lg-prev,
.lg-closing .lg-next,
.lg-closing .lg-sub-html {
	opacity: 0;
	-webkit-transition: -webkit-transform 0.08 cubic-bezier(0, 0, 0.25, 1) 0s,
		opacity 0.08 cubic-bezier(0, 0, 0.25, 1) 0s, color 0.08 linear;
	-moz-transition: -moz-transform 0.08 cubic-bezier(0, 0, 0.25, 1) 0s,
		opacity 0.08 cubic-bezier(0, 0, 0.25, 1) 0s, color 0.08 linear;
	-o-transition: -o-transform 0.08 cubic-bezier(0, 0, 0.25, 1) 0s,
		opacity 0.08 cubic-bezier(0, 0, 0.25, 1) 0s, color 0.08 linear;
	transition: transform 0.08 cubic-bezier(0, 0, 0.25, 1) 0s,
		opacity 0.08 cubic-bezier(0, 0, 0.25, 1) 0s, color 0.08 linear;
}

body:not(.lg-from-hash) .lg-outer.lg-start-zoom .lg-object {
	opacity: 0;
	will-change: opacity;
	-webkit-transition: opacity 250ms cubic-bezier(0, 0, 0.25, 1) !important;
	-moz-transition: opacity 250ms cubic-bezier(0, 0, 0.25, 1) !important;
	-o-transition: opacity 250ms cubic-bezier(0, 0, 0.25, 1) !important;
	transition: opacity 250ms cubic-bezier(0, 0, 0.25, 1) !important;
}

body:not(.lg-from-hash)
	.lg-outer.lg-start-zoom
	.lg-item.lg-complete
	.lg-object {
	opacity: 1;
}

.lg-group:after {
	content: "";
	display: table;
	clear: both;
}

.lg-container {
	display: none;
}

.lg-container.lg-show {
	display: block;
}

.lg-toolbar,
.lg-prev,
.lg-next,
.lg-pager-outer,
.lg-hide-sub-html .lg-sub-html {
	opacity: 0;
	will-change: transform, opacity;
	-webkit-transition: -webkit-transform 0.25s cubic-bezier(0, 0, 0.25, 1) 0s,
		opacity 0.25s cubic-bezier(0, 0, 0.25, 1) 0s;
	-moz-transition: -moz-transform 0.25s cubic-bezier(0, 0, 0.25, 1) 0s,
		opacity 0.25s cubic-bezier(0, 0, 0.25, 1) 0s;
	-o-transition: -o-transform 0.25s cubic-bezier(0, 0, 0.25, 1) 0s,
		opacity 0.25s cubic-bezier(0, 0, 0.25, 1) 0s;
	transition: transform 0.25s cubic-bezier(0, 0, 0.25, 1) 0s,
		opacity 0.25s cubic-bezier(0, 0, 0.25, 1) 0s;
}

.lg-show-in .lg-toolbar,
.lg-show-in .lg-prev,
.lg-show-in .lg-next,
.lg-show-in .lg-pager-outer {
	opacity: 1;
}

.lg-show-in.lg-hide-sub-html .lg-sub-html {
	opacity: 1;
}

.lg-show-in .lg-hide-items .lg-prev {
	opacity: 0;
	-webkit-transform: translate3d(-10px, 0, 0);
	transform: translate3d(-10px, 0, 0);
}

.lg-show-in .lg-hide-items .lg-next {
	opacity: 0;
	-webkit-transform: translate3d(10px, 0, 0);
	transform: translate3d(10px, 0, 0);
}

.lg-show-in .lg-hide-items .lg-toolbar {
	opacity: 0;
	-webkit-transform: translate3d(0, -10px, 0);
	transform: translate3d(0, -10px, 0);
}

.lg-show-in .lg-hide-items.lg-hide-sub-html .lg-sub-html {
	opacity: 0;
	-webkit-transform: translate3d(0, 20px, 0);
	transform: translate3d(0, 20px, 0);
}

.lg-outer {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1050;
	text-align: left;
	opacity: 0.001;
	outline: none;
	will-change: opacity;
	-webkit-transition: opacity 0.15s ease 0s;
	-o-transition: opacity 0.15s ease 0s;
	transition: opacity 0.15s ease 0s;
}

.lg-outer * {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.lg-outer.lg-zoom-from-image {
	opacity: 1;
}

.lg-outer.lg-visible {
	opacity: 1;
}

.lg-outer.lg-css3 .lg-item:not(.lg-start-end-progress).lg-prev-slide,
.lg-outer.lg-css3 .lg-item:not(.lg-start-end-progress).lg-next-slide,
.lg-outer.lg-css3 .lg-item:not(.lg-start-end-progress).lg-current {
	-webkit-transition-duration: inherit !important;
	transition-duration: inherit !important;
	-webkit-transition-timing-function: inherit !important;
	transition-timing-function: inherit !important;
}

.lg-outer.lg-css3.lg-dragging .lg-item.lg-prev-slide,
.lg-outer.lg-css3.lg-dragging .lg-item.lg-next-slide,
.lg-outer.lg-css3.lg-dragging .lg-item.lg-current {
	-webkit-transition-duration: 0s !important;
	transition-duration: 0s !important;
	opacity: 1;
}

.lg-outer.lg-grab img.lg-object {
	cursor: -webkit-grab;
	cursor: -moz-grab;
	cursor: -o-grab;
	cursor: -ms-grab;
	cursor: grab;
}

.lg-outer.lg-grabbing img.lg-object {
	cursor: move;
	cursor: -webkit-grabbing;
	cursor: -moz-grabbing;
	cursor: -o-grabbing;
	cursor: -ms-grabbing;
	cursor: grabbing;
}

.lg-outer .lg {
	height: 100%;
	width: 100%;
	position: relative;
	overflow: hidden;
	margin-left: auto;
	margin-right: auto;
	max-width: 100%;
	max-height: 100%;
}

.lg-outer .lg-inner {
	width: 100%;
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	-webkit-transition: none;
	-o-transition: none;
	transition: none;
	white-space: nowrap;
}

.lg-outer .lg-item {
	will-change: transform, opacity;
	display: none !important;
}

.lg-outer .lg-item:not(.lg-start-end-progress) {
	background: url("assets/img/loading.svg") no-repeat scroll center center
		transparent;
}

.lg-outer.lg-css3 .lg-prev-slide,
.lg-outer.lg-css3 .lg-current,
.lg-outer.lg-css3 .lg-next-slide {
	display: inline-block !important;
}

.lg-outer.lg-css .lg-current {
	display: inline-block !important;
}

.lg-outer .lg-item,
.lg-outer .lg-img-wrap {
	display: inline-block;
	text-align: center;
	position: absolute;
	width: 100%;
	height: 100%;
}

.lg-outer .lg-item:before,
.lg-outer .lg-img-wrap:before {
	content: "";
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}

.lg-outer .lg-img-wrap {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	white-space: nowrap;
	font-size: 0;
}

.lg-outer .lg-item.lg-complete {
	background-image: none;
}

.lg-outer .lg-item.lg-current {
	z-index: 1060;
}

.lg-outer .lg-object {
	display: inline-block;
	vertical-align: middle;
	max-width: 100%;
	max-height: 100%;
	width: auto;
	height: auto;
	position: relative;
}

.lg-outer.lg-show-after-load .lg-item .lg-object,
.lg-outer.lg-show-after-load .lg-item .lg-video-play-button {
	opacity: 0;
	will-change: opacity;
	-webkit-transition: opacity 0.15s ease 0s;
	-o-transition: opacity 0.15s ease 0s;
	transition: opacity 0.15s ease 0s;
}

.lg-outer.lg-show-after-load .lg-item.lg-zoom-from-image .lg-object,
.lg-outer.lg-show-after-load .lg-item.lg-zoom-from-image .lg-video-play-button {
	opacity: 1;
}

.lg-outer.lg-show-after-load .lg-item.lg-complete .lg-object,
.lg-outer.lg-show-after-load .lg-item.lg-complete .lg-video-play-button {
	opacity: 1;
}

.lg-outer .lg-empty-html {
	display: none;
}

.lg-outer[data-lg-slide-type="video"] .lg-download,
.lg-outer[data-lg-slide-type="iframe"] .lg-download {
	opacity: 0.75;
	pointer-events: none;
}

.lg-outer .lg-first-slide .lg-dummy-img {
	position: absolute;
	top: 50%;
	left: 50%;
}

.lg-outer.lg-components-open:not(.lg-zoomed) .lg-components {
	-webkit-transform: translate3d(0, 0%, 0);
	transform: translate3d(0, 0%, 0);
	opacity: 1;
}

.lg-outer.lg-components-open:not(.lg-zoomed) .lg-sub-html {
	opacity: 1;
	transition: opacity 0.2s ease-out 0.15s;
}

.lg-backdrop {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 1040;
	background-color: #000;
	opacity: 0;
	will-change: opacity;
	-webkit-transition: opacity 333ms ease-in 0s;
	-o-transition: opacity 333ms ease-in 0s;
	transition: opacity 333ms ease-in 0s;
}

.lg-backdrop.in {
	opacity: 1;
}

.lg-css3.lg-no-trans .lg-prev-slide,
.lg-css3.lg-no-trans .lg-next-slide,
.lg-css3.lg-no-trans .lg-current {
	-webkit-transition: none 0s ease 0s !important;
	-moz-transition: none 0s ease 0s !important;
	-o-transition: none 0s ease 0s !important;
	transition: none 0s ease 0s !important;
}

.lg-css3.lg-use-css3 .lg-item {
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
}

.lg-css3.lg-fade .lg-item {
	opacity: 0;
}

.lg-css3.lg-fade .lg-item.lg-current {
	opacity: 1;
}

.lg-css3.lg-fade .lg-item.lg-prev-slide,
.lg-css3.lg-fade .lg-item.lg-next-slide,
.lg-css3.lg-fade .lg-item.lg-current {
	-webkit-transition: opacity 0.1s ease 0s;
	-moz-transition: opacity 0.1s ease 0s;
	-o-transition: opacity 0.1s ease 0s;
	transition: opacity 0.1s ease 0s;
}

.lg-css3.lg-use-css3 .lg-item.lg-start-progress {
	-webkit-transition: -webkit-transform 1s
		cubic-bezier(0.175, 0.885, 0.32, 1.275) 0s;
	-moz-transition: -moz-transform 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0s;
	-o-transition: -o-transform 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0s;
	transition: transform 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0s;
}

.lg-css3.lg-use-css3 .lg-item.lg-start-end-progress {
	-webkit-transition: -webkit-transform 1s cubic-bezier(0, 0, 0.25, 1) 0s;
	-moz-transition: -moz-transform 1s cubic-bezier(0, 0, 0.25, 1) 0s;
	-o-transition: -o-transform 1s cubic-bezier(0, 0, 0.25, 1) 0s;
	transition: transform 1s cubic-bezier(0, 0, 0.25, 1) 0s;
}

.lg-css3.lg-slide.lg-use-css3 .lg-item {
	opacity: 0;
}

.lg-css3.lg-slide.lg-use-css3 .lg-item.lg-prev-slide {
	-webkit-transform: translate3d(-100%, 0, 0);
	transform: translate3d(-100%, 0, 0);
}

.lg-css3.lg-slide.lg-use-css3 .lg-item.lg-next-slide {
	-webkit-transform: translate3d(100%, 0, 0);
	transform: translate3d(100%, 0, 0);
}

.lg-css3.lg-slide.lg-use-css3 .lg-item.lg-current {
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	opacity: 1;
}

.lg-css3.lg-slide.lg-use-css3 .lg-item.lg-prev-slide,
.lg-css3.lg-slide.lg-use-css3 .lg-item.lg-next-slide,
.lg-css3.lg-slide.lg-use-css3 .lg-item.lg-current {
	-webkit-transition: -webkit-transform 1s cubic-bezier(0, 0, 0.25, 1) 0s,
		opacity 0.1s ease 0s;
	-moz-transition: -moz-transform 1s cubic-bezier(0, 0, 0.25, 1) 0s,
		opacity 0.1s ease 0s;
	-o-transition: -o-transform 1s cubic-bezier(0, 0, 0.25, 1) 0s,
		opacity 0.1s ease 0s;
	transition: transform 1s cubic-bezier(0, 0, 0.25, 1) 0s, opacity 0.1s ease 0s;
}

.lg-container {
	display: none;
}

.lg-container.lg-show {
	display: block;
}

.lg-container.lg-dragging-vertical .lg-backdrop {
	-webkit-transition-duration: 0s !important;
	transition-duration: 0s !important;
}

.lg-container.lg-dragging-vertical .lg-css3 .lg-item.lg-current {
	-webkit-transition-duration: 0s !important;
	transition-duration: 0s !important;
	opacity: 1;
}

.lg-inline .lg-backdrop,
.lg-inline .lg-outer {
	position: absolute;
}

.lg-inline .lg-backdrop {
	z-index: 1;
}

.lg-inline .lg-outer {
	z-index: 2;
}

.lg-inline .lg-maximize:after {
	content: "\e909";
}

.lg-components {
	-webkit-transform: translate3d(0, 100%, 0);
	transform: translate3d(0, 100%, 0);
	will-change: transform;
	-webkit-transition: -webkit-transform 0.35s ease-out 0s;
	-moz-transition: -moz-transform 0.35s ease-out 0s;
	-o-transition: -o-transform 0.35s ease-out 0s;
	transition: transform 0.35s ease-out 0s;
	z-index: 1080;
	position: absolute;
	bottom: 0;
	right: 0;
	left: 0;
}

// Customization
.lg {
	&-backdrop {
		background: #fff;
	}

	&-outer {
		&.lg-zoomed {
			.lg-img-wrap {
				padding-bottom: 0;
			}
		}
	}

	&-toolbar {
		.lg {
			&-close {
				position: relative;
				top: 1rem;
				right: 1rem;
				transition: transform 0.3s var(--inoutquad);
				color: $dark;

				@include mq(tw) {
					top: 0;
					right: 0;
				}

				&:hover {
					transform: rotate(-90deg);
					color: $dark;
				}

				&::after {
					content: "×";
					font-size: 6rem;
					font-family: "SL";
				}
			}

			&-zoom {
				&-in,
				&-out {
					height: 6.5rem;
					position: fixed;
					top: 6rem;
					right: 1rem;

					@include mq(tw) {
						right: 0;
					}

					@include mq(tm) {
						display: none;
					}

					&::after {
						font: 2.6rem/1 $icon;
						color: $dark;
					}
				}

				&-in {
					&::after {
						content: "\f00e";
					}
				}
				&-out {
					&::after {
						content: "\f010";
					}
				}
			}
		}
	}

	&-outer {
		.lg-img-wrap {
			padding: 0 7rem 7rem 7rem;

			@include mq(tw) {
				padding: 0 5rem 5rem 5rem;
			}
		}
	}

	&-prev,
	&-next {
		background: transparent;
		color: $dark;
		width: 7rem;
		height: 60vh;
		top: 20vh;
		padding: 0;
		font-size: 3rem;

		@include mq(tw) {
			width: 5rem;
		}

		&:hover {
			color: $dark;
		}
	}

	&-prev {
		left: 0;
	}

	&-next {
		right: 0;
	}

	&-sub-html {
		font-size: clamp(1.8rem, 5.2vw, 2.5rem);
		padding: 0 1rem;
		display: flex;
		align-items: center;
		justify-content: center;
		height: 7rem;
		color: $dark;
		background: rgba($dark, 0.1);

		@include mq(tw) {
			height: 5rem;
		}
	}
}

// Plugin: Zoom
.lg-outer.lg-css3.lg-zoom-dragging
	.lg-item.lg-complete.lg-zoomable
	.lg-img-wrap,
.lg-outer.lg-css3.lg-zoom-dragging .lg-item.lg-complete.lg-zoomable .lg-image {
	transition-duration: 0ms !important;
}

.lg-outer.lg-use-transition-for-zoom
	.lg-item.lg-complete.lg-zoomable
	.lg-img-wrap {
	will-change: transform;
	transition: transform 0.5s cubic-bezier(0.12, 0.415, 0.01, 1.19) 0s;
}

.lg-outer.lg-use-transition-for-zoom.lg-zoom-drag-transition
	.lg-item.lg-complete.lg-zoomable
	.lg-img-wrap {
	will-change: transform;
	transition: transform 0.8s cubic-bezier(0, 0, 0.25, 1) 0s;
}

.lg-outer .lg-item.lg-complete.lg-zoomable .lg-img-wrap {
	transform: translate3d(0, 0, 0);
	backface-visibility: hidden;
}

.lg-outer .lg-item.lg-complete.lg-zoomable .lg-image,
.lg-outer .lg-item.lg-complete.lg-zoomable .lg-dummy-img {
	transform: scale3d(1, 1, 1);
	will-change: opacity, transform;
	transition: transform 0.5s cubic-bezier(0.12, 0.415, 0.01, 1.19) 0s,
		opacity 0.15s !important;
	transform-origin: 0 0;
	backface-visibility: hidden;
}

.lg-icon.lg-zoom-out {
	opacity: 0.5;
	pointer-events: none;
}

.lg-zoomed .lg-icon.lg-zoom-out {
	opacity: 1;
	pointer-events: auto;
}

.lg-outer[data-lg-slide-type="video"] .lg-zoom-in,
.lg-outer[data-lg-slide-type="video"] .lg-actual-size,
.lg-outer[data-lg-slide-type="video"] .lg-zoom-ou,
.lg-outer[data-lg-slide-type="iframe"] .lg-zoom-in,
.lg-outer[data-lg-slide-type="iframe"] .lg-actual-size,
.lg-outer[data-lg-slide-type="iframe"] .lg-zoom-ou {
	opacity: 0.75;
	pointer-events: none;
}
