// * Components - Navigation | Burger Menu

// Burger Menu
// #burger__menu {
// 	position: fixed;
// 	top: 3.5rem;
// 	right: 7rem;
// 	stroke: #fff;
// 	transition: transform 0.2s;
// 	cursor: pointer;
// 	z-index: z("popup");

// 	@include mq("ls") {
// 		right: 4rem;
// 	}

// 	@include mq("ts") {
// 		top: 2.5rem;
// 		right: 3rem;
// 	}

// 	&.post {
// 		stroke: $theme-color;
// 	}

// 	g {
// 		&:first-child {
// 			opacity: 1;
// 			transition: opacity 0s 0.2s;

// 			line {
// 				fill: none;
// 				transform: translateY(0px);
// 				transition: transform 0.2s 0.2s;
// 			}
// 		}

// 		&:last-child {
// 			opacity: 0;
// 			transition: opacity 0s 0.2s;

// 			line {
// 				transform: rotate(0deg);
// 				transform-origin: center;
// 			}
// 		}
// 	}

// 	&:hover {
// 		g {
// 			&:first-child,
// 			line {
// 				//color: red;
// 			}
// 		}
// 	}
// }

// .sticky {
// 	#burger__menu {
// 		mix-blend-mode: difference;

// 		&.post {
// 			stroke: #fff;
// 		}
// 	}
// }

// // Menu Active
// .menu__active {
// 	overflow: hidden;

// 	#burger__menu {
// 		//right: 21.7rem;
// 		stroke: #fff;

// 		g {
// 			&:first-child {
// 				opacity: 0;

// 				line {
// 					transition: transform 0.2s;

// 					&:first-child {
// 						transform: translateY(1px);
// 					}

// 					&:last-child {
// 						transform: translateY(-1px);
// 					}
// 				}
// 			}

// 			&:last-child {
// 				opacity: 1;

// 				line {
// 					transition: transform 0.2s 0.2s;

// 					&:first-child {
// 						transform: rotate(45deg);
// 					}

// 					&:last-child {
// 						transform: rotate(-45deg);
// 					}
// 				}
// 			}
// 		}
// 	}

// 	&.sticky {
// 		#burger__menu {
// 			mix-blend-mode: unset;
// 		}
// 	}

// 	#nav {
// 		transform: translateY(0);
// 		transition: transform 1s var(--inoutquart);
// 		overflow-y: auto;

// 		&__inner {
// 			visibility: visible;
// 			transition: unset;
// 		}

// 		&__content {
// 			opacity: 1;
// 			transition: opacity 0.7s 0.7s var(--outcirc);
// 		}

// 		&__menu {
// 			li {
// 				> a {
// 					> span {
// 						transform: translate3d(0, 0, 0);
// 						transition: transform 0.32s var(--outcirc);
// 					}
// 				}
// 			}
// 			@for $i from 1 through 10 {
// 				li:nth-child(#{$i}) {
// 					> a {
// 						> span {
// 							transition-delay: calc(0.3s + (#{$i} * 0.1s));
// 						}
// 					}
// 				}
// 			}
// 		}
// 	}
// }

// .nav {
// 	&__grid {
// 		&.col__2 {
// 			@include mq("tp") {
// 				grid-template-columns: auto;
// 			}
// 		}
// 	}
// }

// // Navigation
// #nav {
// 	position: fixed;
// 	width: 100vw;
// 	height: 100vh;
// 	background: $blue;
// 	top: 0;
// 	left: 0;
// 	right: 0;
// 	bottom: 0;
// 	z-index: z("header");
// 	transform: translateY(-100%);
// 	transition: transform 1s 0.6s var(--inoutquart);

// 	&__inner {
// 		align-items: end;
// 		padding-top: 14vh;
// 		padding-bottom: 7rem;
// 		justify-content: center;
// 		visibility: hidden;
// 		transition: visibility 1.6s var(--inoutquart);

// 		@include mq(tp) {
// 			align-items: center;
// 		}

// 		@media screen and (max-height: 800px) {
// 			padding-top: 11vh;
// 		}

// 		@media screen and (max-height: 700px) {
// 			padding-top: 5vh;
// 			padding-bottom: 5vh;
// 			overflow-y: auto;
// 			height: 100%;

// 			&::-webkit-scrollbar {
// 				width: 0.4rem;
// 				opacity: 0;
// 				background: rgba(#fff, 0.35);
// 			}

// 			&::-webkit-scrollbar-track {
// 				opacity: 0;
// 			}

// 			&::-webkit-scrollbar-thumb {
// 				background-color: rgba(#fff, 0.65);
// 				opacity: 0;
// 			}
// 		}
// 	}

// 	&__content {
// 		padding-left: 4.9vw;

// 		p {
// 			&:last-of-type {
// 				margin-bottom: 0;
// 				color: rgba(255, 255, 255, 0.8);
// 			}
// 		}
// 		opacity: 0;
// 		transition: opacity 0.7s var(--outcirc);

// 		@include mq(tp) {
// 			display: none;
// 		}

// 		.menu__link {
// 			&s {
// 				display: grid;
// 				row-gap: 2.1rem;
// 			}

// 			.read__more {
// 				color: #fff;
// 			}
// 		}

// 		.social__link {
// 			margin-top: 3.5rem;
// 		}
// 	}

// 	&__menu {
// 		display: block;
// 		padding-left: 2.8vw;
// 		height: auto;

// 		@include mq(tp) {
// 			padding-left: 0;
// 		}

// 		li {
// 			display: flex;
// 			align-items: center;
// 			height: 100%;
// 			margin-right: 4rem;
// 			position: relative;
// 			text-align: left;

// 			&.solutions {
// 				/*&__start {
// 					margin-top: 3rem;

// 					a {
// 						span {
// 							&::before {
// 								display: block;
// 								content: "Solutions";
// 								position: relative;
// 								font: 1.3rem/1 $bold-font;
// 								color: #7f85bb;
// 								text-transform: uppercase;
// 								padding-top: 0.6rem;
// 								padding-bottom: 1.2rem;
// 								letter-spacing: 0.07rem;
// 							}
// 							&::after {
// 								top: calc(50% + 0.5rem);
// 							}
// 						}
// 					}
// 				}

// 				&__end {
// 					a {
// 						span {
// 							&::after {
// 								top: calc(50% - 1.7rem);
// 							}
// 						}
// 					}
// 					margin-top: 1.7rem;
// 				}*/
// 			}

// 			&:hover {
// 				> a {
// 					color: #fff;

// 					> span {
// 						&::after {
// 							opacity: 1;
// 							visibility: visible;
// 							transform: translateX(0);
// 							transition: opacity 0.2s ease-out, transform 0.2s ease-out,
// 								visibility 0s ease;
// 						}
// 					}
// 				}
// 			}

// 			&.custom__button {
// 				a {
// 					color: #fff;
// 					padding: 0.8rem 2.4rem;
// 					background: $theme-color;
// 					font-size: 1.8rem;

// 					@include mq(ls) {
// 						font-size: 1.2vw;
// 					}

// 					@include mq(tw) {
// 						margin-top: 1.4rem;
// 						font-size: 1.6rem;
// 						padding: 1.5rem 2.4rem;
// 						left: -1rem;
// 					}
// 				}
// 			}

// 			&.menu-item-has-children {
// 				@include mq(tw) {
// 					padding: 0 4rem 0 0;
// 				}

// 				ul {
// 					li {
// 						&.menu-item-has-children {
// 							padding: 0;
// 						}
// 					}
// 				}
// 			}

// 			&.current_page_item:not(.custom__button),
// 			&.current-menu-item:not(.custom__button),
// 			&.current-page-ancestor:not(.custom__button),
// 			&.current-menu-parent {
// 				> a {
// 					color: #fff;
// 				}
// 			}

// 			&:last-child {
// 				margin-right: 0;

// 				@include mq(tw) {
// 					margin: 0;
// 				}
// 			}

// 			&:not(:first-child) {
// 				margin-top: 3.5rem;

// 				@include mq(tp) {
// 					margin-top: 2.5rem;
// 				}
// 			}

// 			> a {
// 				display: flex;
// 				align-items: center;
// 				height: 100%;
// 				font-family: $light-font;
// 				font-size: clamp(2.3rem, 5vw, 4.1rem);
// 				line-height: clamp(2.8rem, 5vw, 4.4rem);
// 				color: rgba(255, 255, 255, 0.7);
// 				margin: 0;
// 				position: relative;
// 				transition: color 0.2s;
// 				overflow: hidden;
// 				@include hardware;
// 				padding-left: 5rem;

// 				@include mq(lp) {
// 					padding-bottom: 0.3rem;
// 				}

// 				> span {
// 					transform: translate3d(0, -110%, 0);
// 					transition: transform 0.75s var(--inoutquart);

// 					&::after {
// 						content: "\f061";
// 						font: 2.3rem/1 $icon;
// 						position: absolute;
// 						top: calc(50% - 1rem);
// 						left: -4.5rem;
// 						transform: translateX(-2rem);
// 						opacity: 0;
// 						visibility: hidden;
// 						color: $error-color;
// 						transition: opacity 0.2s ease-out, transform 0.2s ease-out,
// 							visibility 0.2s ease-out;
// 					}
// 				}
// 			}
// 		}
// 	}
// }
