// * Components - Scroll Animation

$sal-animation-duration: 0.3s !default;
$sal-animation-delay: 0s !default;
$sal-slide-offset: 3rem !default;
$sal-zoom-in-scale: 0.5 !default;
$sal-zoom-out-scale: 1.25 !default;
$sal-flip-rotate: 90deg !default;

// Easings
$sal-easings: (
	linear: linear,
	ease: ease,
	ease-in: ease-in,
	ease-out: ease-out,
	ease-in-out: ease-in-out,
	ease-in-cubic: cubic-bezier(0.55, 0.055, 0.675, 0.19),
	ease-out-cubic: cubic-bezier(0.215, 0.61, 0.355, 1),
	ease-in-out-cubic: cubic-bezier(0.645, 0.045, 0.355, 1),
	ease-in-circ: cubic-bezier(0.6, 0.04, 0.98, 0.335),
	ease-out-circ: cubic-bezier(0.075, 0.82, 0.165, 1),
	ease-in-out-circ: cubic-bezier(0.785, 0.135, 0.15, 0.86),
	ease-in-expo: cubic-bezier(0.95, 0.05, 0.795, 0.035),
	ease-out-expo: cubic-bezier(0.19, 1, 0.22, 1),
	ease-in-out-expo: cubic-bezier(1, 0, 0, 1),
	ease-in-quad: cubic-bezier(0.55, 0.085, 0.68, 0.53),
	ease-out-quad: cubic-bezier(0.25, 0.46, 0.45, 0.94),
	ease-in-out-quad: cubic-bezier(0.455, 0.03, 0.515, 0.955),
	ease-in-quart: cubic-bezier(0.895, 0.03, 0.685, 0.22),
	ease-out-quart: cubic-bezier(0.165, 0.84, 0.44, 1),
	ease-in-out-quart: cubic-bezier(0.77, 0, 0.175, 1),
	ease-in-quint: cubic-bezier(0.755, 0.05, 0.855, 0.06),
	ease-out-quint: cubic-bezier(0.23, 1, 0.32, 1),
	ease-in-out-quint: cubic-bezier(0.86, 0, 0.07, 1),
	ease-in-sine: cubic-bezier(0.47, 0, 0.745, 0.715),
	ease-out-sine: cubic-bezier(0.39, 0.575, 0.565, 1),
	ease-in-out-sine: cubic-bezier(0.445, 0.05, 0.55, 0.95),
	ease-in-back: cubic-bezier(0.6, -0.28, 0.735, 0.045),
	ease-out-back: cubic-bezier(0.175, 0.885, 0.32, 1.275),
	ease-in-out-back: cubic-bezier(0.68, -0.55, 0.265, 1.55),
);

// Core
[data-sal] {
	transition-duration: $sal-animation-duration;
	transition-delay: $sal-animation-delay;
	transition-duration: var(--sal-duration, $sal-animation-duration);
	transition-delay: var(--sal-delay, $sal-animation-delay);
	transition-timing-function: var(--sal-easing, map-get($sal-easings, "ease"));
}

@for $i from 4 through 40 {
	[data-sal][data-sal-duration="#{$i * 50}"] {
		transition-duration: #{$i * 0.05}s;
	}
}

@for $i from 1 through 40 {
	[data-sal][data-sal-delay="#{$i * 50}"] {
		transition-delay: #{$i * 0.05}s;
	}
}

@each $key, $value in $sal-easings {
	[data-sal][data-sal-easing="#{$key}"] {
		transition-timing-function: $value;
	}
}

// Animations

// Fade
[data-sal|="fade"] {
	opacity: 0;
	transition-property: opacity;
}

[data-sal|="fade"].sal-animate,
body.sal-disabled [data-sal|="fade"] {
	opacity: 1;
}

// Slide
[data-sal|="slide"] {
	opacity: 0;
	transition-property: opacity, transform;
}

[data-sal="slide-up"] {
	transform: translateY($sal-slide-offset);
}

[data-sal="slide-down"] {
	transform: translateY(-$sal-slide-offset);
}

[data-sal="slide-left"] {
	transform: translateX($sal-slide-offset);
}

[data-sal="slide-right"] {
	transform: translateX(-$sal-slide-offset);
}

[data-sal|="slide"].sal-animate,
body.sal-disabled [data-sal|="slide"] {
	opacity: 1;
	transform: none;
}

// Zoom
[data-sal|="zoom"] {
	transition-property: opacity, transform;
}

[data-sal="zoom-in"] {
	transform: scale($sal-zoom-in-scale);
}

[data-sal="zoom-out"] {
	transform: scale($sal-zoom-out-scale);
}

[data-sal|="zoom"].sal-animate,
body.sal-disabled [data-sal|="zoom"] {
	opacity: 1;
	transform: none;
}

// Flip
[data-sal|="flip"] {
	@include hardware;
	transition-property: transform;
}

[data-sal="flip-left"] {
	transform: perspective(2000px) rotateY(-$sal-flip-rotate);
}

[data-sal="flip-right"] {
	transform: perspective(2000px) rotateY($sal-flip-rotate);
}

[data-sal="flip-up"] {
	transform: perspective(2000px) rotateX(-$sal-flip-rotate);
}

[data-sal="flip-down"] {
	transform: perspective(2000px) rotateX($sal-flip-rotate);
}

[data-sal|="flip"].sal-animate,
body.sal-disabled [data-sal|="flip"] {
	transform: none;
}

body.sal-disabled [data-sal] {
	transition: unset;
}

// * Keyframes

// Spin
@keyframes spin {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(1turn);
	}
}

// Split
@keyframes split {
	0% {
		transform: translateY(150%);
		opacity: 0;
	}
	20% {
		opacity: 1;
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

.split {
	&__word {
		display: inline-block;
		overflow: hidden;
	}
	&__char {
		display: inline-block;
		opacity: 0;
	}
	&__whitespace {
		display: initial;
	}
}

.sal-animate {
	.split {
		&__char {
			animation: split 0.25s var(--inoutquart);
			animation-fill-mode: forwards;
		}
	}
}
/*
.is__mobile {
	.split {
		&__char {
			opacity: 1;
		}
	}
}*/

// By Splitting JS
.splitting {
	display: inline-block;

	/* The center word index */
	--word-center: calc((var(--word-total) - 1) / 2);

	/* The center character index */
	--char-center: calc((var(--char-total) - 1) / 2);

	/* The center character index */
	--line-center: calc((var(--line-total) - 1) / 2);

	.word {
		/* Pecent (0-1) of the word's position */
		--word-percent: calc(var(--word-index) / var(--word-total));

		/* Pecent (0-1) of the line's position */
		--line-percent: calc(var(--line-index) / var(--line-total));
	}

	.char {
		display: inline-block;
		position: relative;

		&::before,
		&::after {
			content: attr(data-char);
			position: absolute;
			top: 0;
			left: 0;
			visibility: hidden;
			transition: inherit;
			@include unselectable;
		}

		/* Percent (0-1) of the char's position */
		--char-percent: calc(var(--char-index) / var(--char-total));

		/* Offset from center, positive & negative */
		--char-offset: calc(var(--char-index) - var(--char-center));

		/* Absolute distance from center, only positive */
		--distance: calc(
			(var(--char-offset) * var(--char-offset)) / var(--char-center)
		);

		/* Distance from center where -1 is the far left, 0 is center, 1 is far right */
		--distance-sine: calc(var(--char-offset) / var(--char-center));

		/* Distance from center where 1 is far left/far right, 0 is center */
		--distance-percent: calc((var(--distance) / var(--char-center)));
	}
}
