// * Components - Socials

.social {
	&__link {
		margin-top: 5rem;
		&-icon {
			display: inline-grid;
			grid-auto-flow: column;
			grid-column-gap: 2rem;

			a {
				border-radius: 50%;
				width: 3.3rem;
				height: 3.3rem;
				font: 1.7rem/1 $social-icon;
				color: $theme-color;
				transition: background 0.2s;
				background: rgba(255, 255, 255, 0.6);
				&[data-icon] {
					&::before {
						font-family: $social-icon;
						color: $blue;
						display: flex;
						align-items: center;
						justify-content: center;
						width: 100%;
						height: 100%;
					}
				}

				&:hover {
					background: #fff;
				}
			}
		}
	}
}
