// * Components - WPML

.lang__de {
	/*#nav {
		&__menu {
			li {
				&.solutions {
					&__start {
						a {
							span {
								&::before {
									content: "Lösungen";
								}
							}
						}
					}
				}
			}
		}
	}*/

	.video__hero__title {
		line-height: clamp(3.8rem, 6.5vw, 6.7rem);
	}

	.video__hero__header {
		max-width: 84rem;
	}

	// Resources
	#resources .resources {
		&__filter__items {
			max-width: 92rem;
		}
		&__reset {
			right: -10.4rem;
		}
	}
}

.loaded {
	.language {
		&__switcher {
			opacity: 1;
			transform: translateY(0);
		}
	}
}

#nav {
	.language {
		&__switcher {
			transition: opacity 0.7s 0.7s ease;
			margin-top: 2.6rem;

			@include mq(tp) {
				padding-left: 5rem;
			}
		}
	}
}

#footer {
	.language {
		&__switcher {
			gap: 2rem;
		}

		&__item {
			color: $dark;

			&:not(.active) {
				a {
					color: rgba($dark, 0.6);
				}
			}
		}
	}
}

.language {
	&__switcher {
		display: inline-grid;
		grid-auto-flow: column;
		gap: 2.5rem;
	}
	&__item {
		font-size: 15px;
		letter-spacing: -0.013rem;
		color: #fff;

		&:not(.active) {
			a {
				color: rgba(#fff, 0.6);
			}
		}
	}
}
