// * Templates - Contact

.contact {
	margin-top: 8rem;
	min-height: 75.3rem;
	background: $blue;
	padding-top: 0;
	margin-bottom: 34.9rem;

	@include mq(tw) {
		margin-top: 0;
		padding-bottom: 12rem;
	}

	@include mq(tm) {
		margin-top: 0;
		margin-bottom: 73.9rem;
	}

	&__grid {
		&.narrow {
			@include mq(tw) {
				max-width: 75rem;
				grid-template-columns: auto;
				grid-column-gap: unset;
			}

			@include mq(tp) {
				max-width: 58.2rem;
			}

			@include mq(ts) {
				max-width: calc(100% - 5rem);
			}
		}
	}

	&__contents {
		padding-top: 20.1rem;
		z-index: z("main");

		@include mq(tw) {
			padding-top: 10.1rem;
			display: grid;
			grid-auto-flow: column;
			justify-content: space-between;
		}

		@include mq(tp) {
			display: block;
		}
	}

	&__header {
		@include mq(tp) {
			text-align: center;
			margin-bottom: 6.5rem;
		}
	}

	&__title {
		color: #fff;
		margin-bottom: 1.9rem;
	}

	&__url {
		margin-left: 0;
		color: #fff;
	}

	&__countries {
		margin-top: 8rem;
		max-width: 30rem;

		@include mq(tw) {
			margin-top: 0;
			margin-bottom: 0.8rem;
			align-self: end;
		}

		@include mq(tp) {
			margin-bottom: 1.5rem;
		}
	}

	&__tabs {
		display: inline-grid;
		grid-auto-flow: column;
		grid-column-gap: 3rem;
	}

	&__links {
		color: $secondary-color;
		font-family: $bold-font;
		font-size: clamp(1.1rem, 2.2vw, 1.3rem);
		line-height: clamp(2.8rem, 5.2vw, 4.4rem);
		letter-spacing: 0.083rem;
		text-transform: uppercase;
		@include unselectable;

		&:not(.active) {
			cursor: pointer;
			color: rgba($secondary-color, 0.6);
		}
	}

	&__map {
		visibility: hidden;
		transition: none;
		position: absolute;
		opacity: 0;
		transform: scale(1.2);
		transition: none;

		@include mq(tw) {
			object-fit: cover;
			left: 12vw;
		}

		@include mq(tp) {
			left: 0;
			object-position: top left;
		}

		@include mq(ts) {
			object-position: 15%;
		}

		@include mq(pw) {
			object-position: 25%;
		}

		&.active {
			position: relative;
			opacity: 1;
			visibility: visible;
			transform: scale(1);
			transition: 1s ease;
			height: auto;

			@include mq(tw) {
				height: 74rem;
			}
		}

		&s {
			overflow: hidden;
			position: absolute;
			max-width: 144rem;
			width: 100%;
			top: 0;
			left: 0;
			right: 0;
			margin: 0 auto;

			&::after {
				content: "";
				background: linear-gradient(to left, $blue 50%, rgba($blue, 0));
				position: absolute;
				top: 0;
				right: 0;
				width: 10vw;
				height: 75.3rem;
			}
		}
	}

	&__container {
		opacity: 0;
		position: absolute;
		visibility: hidden;
		transition: none;
		margin-bottom: 4rem;
		transform: translateX(-3rem);
		transition: none;

		&.active {
			position: relative;
			opacity: 1;
			visibility: visible;
			transform: translateX(0);
			transition: 0.4s var(--inquad), opacity 1.5s ease;
		}
	}

	&__address {
		margin-top: 2.1rem;
		max-width: 28rem;
		color: #fff;
		margin-bottom: 1.8rem;
	}

	&__phone {
		display: inline-block;
		margin-bottom: 0.5rem;
	}

	&__email {
		display: inline-block;
	}

	&__message {
		.wpcf7-not-valid-tip {
			bottom: -0.5rem;

			@include mq(ts) {
				bottom: -1.8rem;
			}
		}
	}

	&__form {
		max-width: 53rem;
		width: 100%;
		height: 59.2rem;
		background: #fff;
		padding: 2.5rem 4.5rem 4rem;
		margin-top: -3.2rem;
		box-shadow: 0 -1rem 4rem 0 rgba(0, 0, 0, 0.07);

		@include mq(tw) {
			margin-top: 0;
			height: auto;
			max-width: 100%;
		}

		@include mq(pw) {
			padding: 1rem 2rem 2.5rem;
		}

		&__field {
			position: relative;
			margin-bottom: 2rem;

			input[type="text"],
			input[type="email"],
			input[type="tel"],
			input[type="url"],
			input[type="search"],
			input[type="password"],
			select,
			textarea {
				height: 6rem;
				background: #fff;
				padding-left: 0;
				border-bottom: 0.1rem solid rgba(0, 0, 0, 0.18);

				@include placeholder {
					color: rgab($dark, 0.6);
					opacity: 1;
				}

				@include mq(pw) {
					height: 4rem;
				}

				&.wpcf7-not-valid {
					border-color: $error-color;
				}

				&:active,
				&:focus {
					border-color: $theme-color;
				}
			}

			textarea {
				padding-top: 1rem;
				min-height: 11.2rem;
				margin-bottom: 1.7rem;

				@include mq(pw) {
					min-height: 8.6rem;
					margin-bottom: 0;
				}
			}
		}

		&__grid {
			grid-column-gap: 1.5rem;
		}

		&__button {
			&.button {
				padding: 1.4rem 4.5rem 1.6rem 6.4rem;

				&::before {
					left: 3.9rem;
				}

				&:hover {
					&::after {
						transform: translateX(4.9rem);
					}
				}
			}
		}
	}

	&__social {
		.social__link {
			margin-top: 4.2rem;

			@include mq(tw) {
				text-align: center;
			}
		}
	}

	&__cities {
		position: absolute;
		top: calc(100% - 6.7rem);
		left: 0;
		right: 0;
		z-index: z("footer");
	}

	&__city {
		padding: 3.5rem 4.5rem 4rem 5rem;
		min-height: 35.2rem;
		overflow: hidden;

		@include mq(ls) {
			padding: 3.5rem 4rem 4rem 4rem;
		}

		@include mq(tm) {
			min-height: 25.6rem;
		}

		&__bg {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: $dark;
			overflow: hidden;
		}

		&__img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			transition: transform 0.5s ease;
			@include hardware;
		}

		&:hover {
			.contact__city {
				&__img {
					opacity: 0.6;
					transform: scale(1.05);
					transition: transform 1s ease;
				}

				&__helper {
					opacity: 1;
				}

				&__content {
					transform: translateY(0);
				}

				&__text {
					opacity: 1;
					transform: translateY(0);
				}
			}
		}

		&__container {
			counter-reset: productNumber;

			&.grid.col__3 {
				@include mq(tm) {
					grid-template-columns: auto;
				}
			}
		}

		&__helper {
			opacity: 0.7;
			position: relative;
			width: 100%;
			height: 100%;
			display: flex;
			flex-flow: column;
			justify-content: flex-end;
			overflow: hidden;
			@include hardware;

			&::before {
				content: counter(productNumber, decimal-leading-zero) "  ";
				counter-increment: productNumber;
				position: absolute;
				top: 0;
				left: 0;
				font-family: $bold-font;
				color: #fff;
				letter-spacing: 0.135rem;
				font-size: 1.6rem;
				padding-top: 0.4rem;
				padding-right: 0.1rem;
				border-top: 0.2rem solid $secondary-color;
			}
		}

		&__content {
			transition: transform 0.5s var(--inoutquart);
			transform: translateY(calc(100% - var(--title-height) * 1px));
		}

		&__title {
			color: #fff;
			font-family: $theme-font;
			font-size: clamp(2rem, 5.2vw, 2.9rem);
			line-height: clamp(2.5rem, 5.2vw, 3.6rem);
		}

		&__text {
			color: #fff;
			opacity: 0;
			margin-bottom: 0;
			margin-top: 1.2rem;
			transform: translateY(1.5rem);
			transition: opacity 0.45s 0.3s var(--outcirc),
				transform 0.45s 0.25s var(--outcirc);
		}
	}
}

// Contact Form 7
.wpcf7 {
	&-form {
		position: relative;

		&.submitting {
			&::after {
				content: "\f3f4";
				font: 4rem/1 $icon;
				position: absolute;
				color: rgba($dark, 0.4);
				bottom: 4.5rem;
				left: 21rem;
				animation: spin 1s linear infinite;

				@include mq(ts) {
					font-size: 3.5rem;
					bottom: 3.5rem;
					left: 19rem;
				}
			}
		}

		&-control-wrap {
			position: relative;
			display: block;
		}
	}

	&-list-item {
		display: block;
		margin: 0;

		> label {
			padding: 0;

			a {
				color: $secondary-color;
				transition: color 0.2s;

				&:hover {
					text-decoration: underline;
				}
			}
		}
	}

	&-not-valid {
		&-tip {
			position: absolute;
			bottom: -3rem;
			right: 0rem;
			padding: 0;
			font-size: clamp(1.5rem, 5.2vw, 1.6rem);
			color: $error-color;
			background: #fff;
			z-index: z("footer");

			@include mq(ts) {
				bottom: -2.5rem;
			}
		}
	}

	&-validation-errors,
	&-acceptance-missing,
	&-mail-sent-ok,
	&-mail-sent-ng,
	&-aborted {
		border: 0;
		position: absolute;
		right: 0;
		bottom: 0;
		margin: 0;
		padding: 0;
	}

	&-mail-sent-ng,
	&-aborted {
		color: $error-color;
	}

	&-validation-errors,
	&-mail-sent-ok,
	&-mail-sent-ng {
		position: relative;
		text-align: right;
		margin: 0 0 3rem;
	}

	&-mail-sent-ok {
		color: $secondary-color;
	}

	&-response-output {
		bottom: -3rem;
		position: absolute;
		width: 100%;
		text-align: center;
		font-size: clamp(1.5rem, 5.2vw, 1.6rem);
		color: #fff;
		background: $error-color;

		&:not(:empty) {
			padding: 1rem;
		}
	}
}

.sent {
	.wpcf7 {
		&-response-output {
			background: $secondary-color;
		}
	}
}
