// * Components - Error 404

.error404 {
	#main {
		background: $secondary-color;
	}
	#content__container {
		margin-top: 0;
		min-height: calc(100vh - 13rem);

		@include mq(tw) {
			margin-top: 0;
		}

		@include mq(tp) {
		}
	}

	&__content {
		margin-top: 18rem;
		text-align: center;

		@include mq(tw) {
			margin-top: 18rem;
		}

		@include mq(tp) {
			margin-top: 2rem;
		}
	}

	.entry__title {
		margin-bottom: 1rem;
	}

	&__image {
		position: relative;

		@include mq(tp) {
			margin-top: 5rem;
		}

		&::before {
			content: "";
			position: absolute;
			left: 0;
			right: 0;
			margin: 0 auto;
			background: url("assets/img/404.svg") no-repeat center center;
			background-size: 100%;
			width: 60rem;
			height: 67.5rem;
			max-width: 100%;

			@include mq(tp) {
				width: 40rem;
				height: 45rem;
			}

			@include mq(pw) {
				width: 30rem;
				height: 33.75rem;
			}
		}
	}
}
