// * Templates - Footer

#footer {
	overflow: hidden;
	position: relative;
	background: $lightgray;
	transition: transform 0.45s cubic-bezier(0.3, 0, 0.15, 1);
	max-width: 100%;
	margin: 0 auto;
	padding: 4rem 0;
	height: 16.1rem;

	@include mq(ts) {
		height: auto;
	}

	.footer {
		&__grid {
			grid-template-columns: 20rem auto 30rem;
			align-items: center;
			height: 100%;

			@include mq(tm) {
				grid-template-areas:
					"logo menu"
					"logo language";
				grid-template-columns: 1fr 1fr;
				row-gap: 2rem;
			}

			@include mq(ts) {
				grid-template-areas:
					"logo"
					"menu"
					"language";
				grid-template-columns: auto;
				justify-content: center;
				text-align: center;
				row-gap: 3rem;
			}
		}

		&__logo {
			&__container {
				@include mq(tm) {
					grid-area: logo;
				}
			}

			.custom-logo-link {
				width: 100%;
				display: block;
				max-width: 100%;

				img {
					width: 100%;
					max-width: 11.5rem;
				}
			}
		}

		&__menu {
			@include mq(tm) {
				grid-area: menu;
				display: grid;
				justify-content: end;
			}

			&__list {
				display: inline-grid;
				grid-auto-flow: column;
				gap: 3rem;

				li {
					button {
						all: unset;
						cursor: pointer;

						&:hover {
							all: unset;
							cursor: pointer;
							font-size: 1.6rem;
							color: rgba($dark, 0.85);
						}
					}

					a,
					button {
						font-size: 1.6rem;
						color: rgba($dark, 0.85);

						&:hover {
							color: $theme-color;
						}
					}
				}

				@media (max-width: 480px) {
					gap: 2.5rem;

					li {
						a,
						button {
							font-size: 1.4rem;

							&:hover {
								font-size: 1.4rem;
							}
						}
					}
				}

				@media (max-width: 420px) {
					display: grid;
					grid-template-columns: 1fr 1fr;
					grid-auto-flow: unset;

					li {
						a,
						button {
							font-size: 1.6rem;

							&:hover {
								font-size: 1.6rem;
							}
						}
					}
				}
			}
		}

		/*
		&__contact {
			&__title {
				font-size: clamp(1.5rem, 4.2vw, 1.9rem);
				line-height: clamp(2.2rem, 5.2vw, 2.5rem);
				color: rgba($dark, 0.6);
				margin-bottom: 0.8rem;
			}

			&__countries {
				max-width: 30rem;
			}

			&__tabs {
				display: inline-grid;
				grid-auto-flow: column;
				grid-column-gap: 3rem;
			}

			&__links {
				color: $secondary-color;
				font-family: $bold-font;
				font-size: clamp(1.1rem, 2.2vw, 1.3rem);
				line-height: clamp(2.8rem, 5.2vw, 4.4rem);
				letter-spacing: 0.083rem;
				text-transform: uppercase;
				@include unselectable;

				&:not(.active) {
					cursor: pointer;
					color: rgba($dark, 0.25);
				}
			}

			&__container {
				opacity: 0.2;
				position: absolute;
				visibility: hidden;
				transition: none;
				margin-bottom: 4rem;
				transform: translateX(-3rem);
				transition: none;

				&.active {
					position: relative;
					opacity: 1;
					visibility: visible;
					transform: translateX(0);
					transition: 0.4s var(--inquad), opacity 1s ease;
				}
			}

			&__address {
				margin-top: 0.3rem;
				max-width: 28rem;
				color: $dark;
				margin-bottom: 2rem;
			}

			&__phone {
				display: inline-block;
				margin-bottom: 0.6rem;
			}

			&__email {
				display: inline-block;
			}
		}*/

		&__language {
			@include mq(tm) {
				grid-area: language;
			}
			display: inline-grid;
			justify-content: end;
			grid-auto-flow: column;
			gap: 5rem;

			@include mq(ts) {
				gap: 4rem;
			}
		}

		&__copyrights {
			font-size: 1.6rem;
			color: rgba($dark, 0.4);
			margin-bottom: 0;
		}
	}
}
