// * Templates - Header

// TOP BAR
.blue-top-bar {
	height: 45px;
	background: #000e79;
	display: flex;
	align-items: center;
	position: absolute;
	width: 100%;
	z-index: 4;
	top: 0;
	left: 0;

	.top-menu-container {
		max-width: 1300px;
		width: 100%;
		margin-left: auto;
		margin-right: auto;

		ul.top-menu {
			display: flex;
			justify-content: flex-end;
			list-style-type: none;

			li {
				margin-right: 30px;
				position: relative;

				a {
					font-family: "SR";
					font-style: normal;
					font-weight: 400;
					font-size: 16px;
					line-height: 25px;
					color: rgba(255, 255, 255, 0.8);

					span[data-icon] {
						&:first-child {
							margin-right: 5px;
						}

						&:last-child {
							margin-left: 5px;
						}
					}
				}

				&.wpml-ls-menu-item {
					margin-right: 0;

					a {
						padding: 4px 8px;
					}

					.sub-menu {
						background: #000e79;
						position: absolute;
						top: 25px;
						left: 22px;
						z-index: 2;
						width: 58px;
						display: none;

						li {
							a {
								padding: 5px 8px;
								display: inline-block;
							}
						}
					}

					&:hover {
						.sub-menu {
							display: block;
						}
					}
				}
			}
		}
	}

	@media (max-width: 1400px) {
		padding-left: 50px;
		padding-right: 50px;
		max-width: unset;
	}

	@media (min-width: 741px) and (max-width: 840px) {
		.top-menu-container {
			ul.top-menu {
				li {
					a {
						font-size: 14px;
					}
				}
			}
		}
	}

	@media (min-width: 721px) and (max-width: 740px) {
		margin-right: 20px;

		.top-menu-container {
			ul.top-menu {
				li {
					a {
						font-size: 12px;
					}
				}
			}
		}
	}

	@media (max-width: 720px) {
		padding-left: 20px;
		padding-right: 20px;
		display: none;
	}
}

#menu-bar {
	position: absolute;
	width: 100%;
	top: 70px;
	left: 0;
	right: 0;
	z-index: 5;

	.container {
		max-width: 1300px;
		width: 100%;
		margin-left: auto;
		margin-right: auto;
		display: flex;
		align-items: center;
		justify-content: space-between;
		position: relative;

		.logo-and-menu-container {
			display: flex;
			align-items: center;
		}

		.header__logo {
			max-width: $logo-width;
			@include hardware;
			transition: 0.2s ease;

			.custom-logo-link {
				img {
					max-width: $logo-width;
					transition: 0.2s ease;
				}
			}
		}

		#mega-menu-container {
			margin: 0 0 0 50px;
			display: flex;
			justify-content: flex-start;

			#mega-menu {
				display: flex;
				justify-content: flex-start;
				align-items: flex-start;
				position: static;

				li {
					position: static;

					&.depth-0 {
						padding-bottom: 12px;

						a.depth-0 {
							padding: 20px 18px 12px;
							border-radius: 10px 10px 0px 0px;
							position: relative;
							display: block;
							// top: 10px;
							font-family: "SSB";
							font-style: normal;
							font-weight: 600;
							font-size: 18px;
							line-height: 25px;
							color: rgba(255, 255, 255, 0.8);
							position: relative;

							[data-icon] {
								position: relative;
								margin-left: 5px;
								top: 1.5px;
								transition: 300ms transform;
								display: inline-block;
								color: rgba(255, 255, 255, 0.8);

								&:before {
									font-size: 17px;
									line-height: 17px;
								}
							}

							&:after {
								content: " ";
								display: block;
								width: 100%;
								height: 12px;
								position: absolute;
								top: 55px;
								left: 0;
								// opacity: 0;
								transform: scaleY(0);
								transform-origin: top;
							}
						}
					}

					.white-bc-menu {
						position: absolute;
						background-color: white;
						width: 100%;
						// top: 25px;
						top: 15px;
						transform: translateY(30px);
						left: 0;
						right: 0;
						filter: drop-shadow(0px 4px 50px rgba(0, 0, 0, 0.3));
						border-radius: 10px;
						transition: opacity 400ms ease-in, transform 300ms ease-in;
						visibility: hidden;
						opacity: 0;

						.white-bc-content {
							display: flex;

							.sub-menu-content {
								max-height: 80vh;
								overflow-y: auto;
								flex: 0 0 1;
								padding: 30px 35px;
								width: 80%;

								span.mobile-back {
									display: none;
								}

								/* width */
								&::-webkit-scrollbar {
									width: 10px;
								}

								/* Track */
								&::-webkit-scrollbar-track {
									background: #f1f1f1;
								}

								/* Handle */
								&::-webkit-scrollbar-thumb {
									background: #ccc;
								}

								/* Handle on hover */
								&::-webkit-scrollbar-thumb:hover {
									background: #aaa;
								}

								.menu-item.depth-1 {
									border-top: 1px solid rgba(0, 0, 0, 0.15);
									margin-top: 20px;
									padding-top: 30px;

									&:first-of-type {
										border-top: none;
										margin-top: 0;
										padding-top: 0;

										&.title {
											& > a {
												pointer-events: none;
											}

											&:not(.hidden-link) > a {
												margin-top: 10px;
												// display: inline-block;
												// margin-bottom: 0;
											}
										}
									}

									a.depth-1 {
										font-family: "SB";
										font-style: normal;
										font-weight: 700;
										font-size: 22px;
										line-height: 28px;
										// color: rgba(0, 14, 121, 0.7);
										color: #000e79;
										margin-bottom: 15px;
										display: inline-block;
									}

									&.hidden-link {
										a.depth-1 {
											display: none;
										}
									}

									.sub-menu {
										position: static;
										filter: none;
										padding: 0;
										border-radius: 0;
										display: grid;
										grid-template-columns: repeat(3, 1fr);
										column-gap: 14px;
										row-gap: 5px;

										.menu-item {
											margin: 0;
											border-top: 0;
											padding-top: 0;

											a.depth-2 {
												font-family: "SSB";
												font-style: normal;
												font-weight: 600;
												font-size: 22px;
												line-height: 28px;
												// color: rgba(0, 14, 121, 0.7);
												color: #000e79;
												margin-bottom: 15px;
												display: inline-block;
												display: flex;
												align-items: center;
												margin-bottom: unset;
												align-self: flex-start;
												padding: 10px 15px;
												border-radius: 20px;
												transition: 400ms background-color;

												.menu-icon {
													width: 38px;
													height: 38px;
													border-radius: 50%;
													display: flex;
													align-items: center;
													justify-content: center;
													margin-right: 20px;

													&.font-awesome:before {
														font-size: 16px;
														line-height: 22px;
														text-align: center;
														letter-spacing: -0.147826px;
														mix-blend-mode: normal;
													}

													&.image {
														display: flex;
														justify-content: center;
														align-items: center;

														img {
															max-width: 20px;
															max-height: 23px;
														}

														&:before {
															display: none;
														}
													}

													&.blue {
														background: #000e79;

														&:before {
															color: rgba(255, 255, 255, 0.8);
														}
													}

													&.gray {
														background: #f2f2f2;

														&:before {
															color: #000e79;
														}
													}

													&.fa-light {
														font-family: "FAL";
														font-weight: 300;
													}

													&.fa-regular {
														font-family: "FAR";
														font-weight: 400;
													}

													&.fa-solid {
														font-family: "FAS";
														font-weight: 900;
													}

													&.fa-regular.fa-sharp {
														font-family: "FASR";
														font-weight: 400;
													}

													&.fa-brands {
														&:before {
															font-family: "FAB";
															font-weight: 400;
														}
													}
												}

												.label {
													flex: 1 1 0;
													font-family: "SSB";
													font-style: normal;
													font-weight: 300;
													font-size: 22px;
													line-height: 28px;
													// color: rgba(0, 14, 121, 0.7);
													color: #000e79;
													display: flex;
													flex-direction: column;

													span {
														font-family: "SR";
														margin-top: 6px;
														font-style: normal;
														font-weight: 400;
														font-size: 16px;
														line-height: 23px;
														letter-spacing: -0.065217px;
														color: rgba(55, 59, 90, 0.6);
													}
												}
											}

											&.gray {
												a {
													background: rgba(242, 242, 242, 0.7);
												}
											}

											&.depth-2 {
												&:hover {
													a {
														background: rgba(242, 242, 242, 0.7);
													}
												}
											}
										}
									}
								}
							}

							.sub-menu-sidebar {
								width: 20%;
								min-width: 250px;
								padding: 60px 40px;
								background-color: #f2f2f2;
								display: flex;
								flex-direction: column;
								justify-content: flex-end;
								border-left: 1px solid rgba(0, 0, 0, 0.07);
								border-top-right-radius: 10px;
								border-bottom-right-radius: 10px;

								a.menu-side-link + a.menu-side-link {
									margin-top: 45px;
								}
							}
						}
					}

					&:hover {
						a.depth-0 {
							background-color: #000e79;
							transition: all 400ms ease-in;

							[data-icon] {
								transform: rotateZ(180deg);
							}

							&:after {
								opacity: 1;
								transition: all 300ms ease-in;
								transition-delay: 30ms;
								transform: scaleY(1);
								background: #000e79;
							}

							// color: rgba(255, 255, 255, 0.8);

							&:before {
								// transform: none;
								// opacity: 1;
								// transition: all 400ms ease-in;
							}

							// &:after {
							// 	width: 56%;
							// 	visibility: visible;
							// }
						}

						// .white-bc-menu {
						// 	transform: translateY(52px);
						// 	visibility: visible;
						// 	opacity: 1;
						// }
					}

					// &:nth-child(1) {
					// 	.white-bc-menu {
					// 		transform: translateY(8px);
					// 		visibility: visible;
					// 		opacity: 1;
					// 	}
					// }
				}

				li.blue-top-bar {
					display: none;
				}

				li.menu-side-links {
					display: none;
				}
			}
		}

		a.menu-button {
			font-family: "SR";
			font-style: normal;
			font-weight: 400;
			font-size: 19px;
			line-height: 24px;
			color: #ffffff;
			border: 1px solid #ffffff;
			border-radius: 10px;
			padding: 15px 20px;
			// transition: border-width 0.6s linear;

			span {
				margin-right: 6px;
			}

			&:hover {
				// background-color: rgba(28, 28, 28, 0.38);
				// border-width: 2px;
			}
		}

		#mobile-menu-toggle {
			stroke: #fff;
			transition: transform 0.2s;
			cursor: pointer;
			display: none;

			g {
				&:first-child {
					opacity: 1;
					transition: opacity 0s 0.2s;

					line {
						fill: none;
						transform: translateY(0px);
						transition: transform 0.2s 0.2s;
					}
				}

				&:last-child {
					opacity: 0;
					transition: opacity 0s 0.2s;

					line {
						transform: rotate(0deg);
						transform-origin: center;
					}
				}
			}

			&.active {
				g {
					&:first-child {
						opacity: 0;

						line {
							transition: transform 0.2s;

							&:first-child {
								transform: translateY(1px);
							}

							&:last-child {
								transform: translateY(-1px);
							}
						}
					}

					&:last-child {
						opacity: 1;

						line {
							transition: transform 0.2s 0.2s;

							&:first-child {
								transform: rotate(45deg);
							}

							&:last-child {
								transform: rotate(-45deg);
							}
						}
					}
				}
			}
		}

		@media (max-width: 1400px) {
			margin-left: 50px;
			margin-right: 50px;
			max-width: unset;
			width: unset;
		}

		@media (max-width: 1140px) {
			#mega-menu-container
				#mega-menu
				li
				.white-bc-menu
				.white-bc-content
				.sub-menu-content
				.menu-item.depth-1
				.sub-menu {
				grid-template-columns: repeat(2, 1fr);
			}
		}

		@media (min-width: 991px) {
			#mega-menu-container #mega-menu li:hover .white-bc-menu {
				transform: translateY(52px);
				visibility: visible;
				opacity: 1;
			}
		}

		@media (max-width: 990px) {
			padding-top: 10px;
			padding-bottom: 10px;

			#mega-menu-container {
				position: absolute;
				border-radius: 10px;
				top: 75px;
				margin-left: 0;
				width: 100%;
				border-radius: 10px;
				filter: drop-shadow(0px 4px 50px rgba(0, 0, 0, 0.3));
				transition: 400ms all;

				&:not(.opened) {
					visibility: hidden;
					opacity: 0;
					transform: translateY(-50px);
				}

				#mega-menu {
					flex-direction: column;
					align-items: stretch;
					width: 100%;
					background-color: #000e79;
					border-radius: 10px;

					li.depth-0 {
						padding: 0;

						a.depth-0 {
							padding: 20px 0;
							display: flex;
							justify-content: space-between;
							border-radius: 0;
							position: static;
							margin-left: 30px;
							margin-right: 30px;

							[data-icon] {
								transform: rotateZ(-90deg);

								&:before {
									color: rgba(255, 255, 255, 0.8);
									font-size: 17px;
								}
							}
						}

						&:first-child {
							border-top-left-radius: 10px;
							border-top-right-radius: 10px;
						}

						& + li {
							a {
								border-top: 1px solid rgba(255, 255, 255, 0.15);
							}
						}

						&:hover {
							a.depth-0 {
								&:after {
									display: none;
								}
							}
						}

						.white-bc-menu {
							position: absolute;
							top: 0;
							z-index: 2;
							transform: translateX(50px);
							border-radius: 10px;
							visibility: hidden;
							opacity: 0;
							// pointer-events: none;
							transition: 400ms all;
							overflow: hidden;

							.white-bc-content {
								display: flex;
								flex-direction: column;
								overflow-y: scroll;
								max-height: 80vh;

								/* width */
								&::-webkit-scrollbar {
									width: 10px;
								}

								/* Track */
								&::-webkit-scrollbar-track {
									background: #f1f1f1;
								}

								/* Handle */
								&::-webkit-scrollbar-thumb {
									background: #ccc;
								}

								/* Handle on hover */
								&::-webkit-scrollbar-thumb:hover {
									background: #aaa;
								}

								.sub-menu-content {
									max-height: unset;
									overflow-y: unset;
									position: relative;
									width: 100%;
									padding: 49px 15px 15px;

									span.mobile-back {
										display: inline-block;
										position: absolute;
										top: 20px;
										left: 38px;
										cursor: pointer;

										&:before {
											font-size: 26px;
											line-height: 24px;
											color: #000e79;
										}
									}

									.menu-item.depth-1 {
										a.depth-1 {
											padding-left: 15px;
										}

										&:not(:first-of-type) {
											margin-top: 25px;
											padding-top: 35px;
										}
									}
								}

								.sub-menu-sidebar {
									width: 100%;
									padding: 40px;
									display: grid;
									grid-template-columns: repeat(2, 1fr);
									grid-template-rows: repeat(2, 1fr);
									row-gap: 40px;
									align-content: flex-start;
									border-top-right-radius: 0px;
									border-bottom-right-radius: 0px;

									a.menu-side-link + a.menu-side-link {
										margin-top: 0;
									}
								}
							}

							&.opened {
								visibility: visible;
								opacity: 1;
								// pointer-events: all;
								transform: none;
							}
						}

						&:first-of-type {
							padding-top: 10px;
						}

						// &:first-child {
						// 	.white-bc-menu {
						// 		display: block;
						// 		visibility: visible;
						// 		opacity: 1;
						// 	}
						// }
					}

					li.menu-side-links {
						margin-top: 10px;
						background: #f2f2f2;
						padding: 40px;
						display: grid;
						grid-template-columns: repeat(2, 1fr);
						grid-template-rows: repeat(2, 1fr);
						row-gap: 40px;
						align-content: flex-start;
						border-bottom-left-radius: 10px;
						border-bottom-right-radius: 10px;
					}
				}
			}

			a.menu-button {
				display: none;
			}

			#mobile-menu-toggle {
				display: block;
			}
		}

		@media (max-width: 720px) {
			margin-left: 20px;
			margin-right: 20px;

			#mega-menu-container {
				#mega-menu {
					li.depth-0 {
						.white-bc-menu {
							&:not(.opened) {
								transform: translate(20px);
							}

							.white-bc-content {
								padding: 10px 0 0;

								.sub-menu-content {
									padding-left: 0;
									padding-right: 0;
									padding-top: 40px;

									span.mobile-back {
										left: 23px;
										top: 10px;
									}

									.menu-item.depth-1 {
										padding-right: 10px;

										a.depth-1 {
											font-size: 19px;
											line-height: 24px;
										}

										.sub-menu {
											grid-template-columns: 1fr;
											row-gap: 0;

											.menu-item {
												a.depth-2 {
													padding: 10px 15px;
													align-items: center;

													.label {
														font-size: 19px;
														line-height: 24px;
													}
												}
											}
										}

										&:not(:first-of-type) {
											margin-top: 15px;
											padding-top: 25px;
										}
									}
								}

								.sub-menu-sidebar {
									display: flex;
									flex-direction: column;
									row-gap: 30px;
									padding: 30px;

									a.menu-side-link {
										font-size: 17px;
										line-height: 24px;
									}
								}
							}
						}

						// &:first-child {
						// 	.white-bc-menu {
						// 		visibility: visible;
						// 		opacity: 1;
						// 		// pointer-events: all;
						// 		transform: none;
						// 	}
						// }
					}

					li.blue-top-bar {
						padding: 30px;
						background-color: #1c2885;
						margin-top: 10px;
						display: block;
						height: auto;
						z-index: 1;

						.top-menu-container {
							ul.top-menu {
								display: grid;
								grid-template-columns: 1.2fr 1fr 1fr;
								grid-template-rows: 26px;
								row-gap: 30px;
								column-gap: 10px;
								align-items: center;

								li {
									margin-right: 0;

									a {
										border-top: none;
									}

									&:nth-child(4) {
										// grid-column: 1 / 3;
										// margin-left: -3px;
									}

									&.wpml-ls-current-language {
										position: relative;
										margin-left: -3px;
										// left: -16vw;

										ul.sub-menu {
											background-color: #1c2885;
											left: 25px;
											top: 20px;
										}
									}
								}
							}
						}
					}

					li.menu-side-links {
						margin-top: 0;
						padding: 30px 20px;
						display: flex;
						flex-direction: column;
						row-gap: 30px;
					}
				}
			}
		}

		@media (max-width: 720px) and (max-height: 800px) {
			#mega-menu-container {
				#mega-menu {
					li.menu-side-links {
						display: grid;
						grid-template-columns: repeat(2, 1fr);
						grid-template-rows: repeat(2, 1fr);
					}
				}
			}
		}

		@media (max-width: 720px) and (max-height: 680px) {
			#mega-menu-container {
				#mega-menu {
					li.depth-0 {
						.white-bc-menu {
							.white-bc-content {
								max-height: 75vh;
							}
						}

						&:first-of-type {
							padding-top: 0;
						}
					}

					li.blue-top-bar {
						margin-top: 0;
						padding: 20px 30px;

						.top-menu-container {
							ul.top-menu {
								row-gap: 22px;
							}
						}
					}

					li.menu-side-links {
						display: grid;
						grid-template-columns: repeat(2, 1fr);
						grid-template-rows: repeat(2, 1fr);
						row-gap: 22px;

						a.menu-side-link {
							font-size: 17px;
							line-height: 22px;
						}
					}
				}
			}
		}

		@media (max-width: 440px) {
			#mega-menu-container {
				#mega-menu {
					li.menu-side-links {
						column-gap: 10px;

						a {
							font-size: 17px;
							line-height: 22px;

							span[data-icon]:before {
								font-size: 14px;
								line-height: 24px;
								margin-right: 7px;
							}
						}
					}
				}
			}
		}

		@media (max-width: 395px) {
			#mega-menu-container {
				#mega-menu {
					li.blue-top-bar {
						.top-menu-container {
							ul.top-menu {
								row-gap: 20px;

								li {
									a {
										font-size: 14px;
										line-height: 19px;
									}
								}
							}
						}
					}
				}
			}
		}

		@media (max-width: 380px) {
			#mega-menu-container {
				#mega-menu {
					li.blue-top-bar {
						.top-menu-container {
							ul.top-menu {
								li {
									a {
										font-size: 12px;
										line-height: 14px;
									}
								}
							}
						}
					}

					li.menu-side-links {
						a {
							font-size: 15px;
							line-height: 20px;

							span[data-icon]:before {
								font-size: 12px;
								line-height: 20px;
								margin-right: 5px;
							}
						}
					}
				}
			}
		}
	}

	@media (max-width: 990px) {
		&[class^="fixed"] {
			padding-top: 10px;
			padding-bottom: 10px;
		}
	}

	@media (max-width: 720px) {
		&:not([class^="fixed"]) {
			top: 20px;
		}
	}

	&.fixed-top-0 {
		top: 0;
		background-color: rgba(0, 14, 121, 1);
		position: fixed;
	}

	&.up:not(.fixed-scrollable) {
		transition: 400ms background-color;
	}

	&.fixed-scrollable {
		position: fixed;
		top: -77px;

		&.visible {
			top: 0;
			background: rgba(0, 14, 121, 1);
			transition: 400ms all;

			.container #mega-menu-container #mega-menu li.depth-0 {
				& > a:after {
					display: none;
				}

				&:hover {
					& > a:after {
						display: none;
					}
				}
			}
		}

		&:not(.visible) {
			.container #mega-menu-container #mega-menu li .white-bc-menu {
				display: none;
			}
		}
	}

	@media (hover: none) and (orientation: landscape) and (max-height: 615px) {
		.container {
			#mega-menu-container
				#mega-menu
				li.depth-0
				.white-bc-menu
				.white-bc-content {
				max-height: unset !important;
				overflow: hidden !important;
			}
		}

		&.fixed-top-0 {
			top: 77px;
			background-color: transparent;
			position: absolute;
		}

		&.fixed-scrollable {
			position: absolute;
			top: 77px;

			&.visible {
				top: 77px;
				background: transparent;

				.container #mega-menu-container #mega-menu li.depth-0 {
					& > a:after {
						display: none;
					}

					&:hover {
						& > a:after {
							display: none;
						}
					}
				}
			}

			&:not(.visible) {
				.container #mega-menu-container #mega-menu li .white-bc-menu {
					display: unset;
				}
			}
		}
	}
}

a.menu-side-link {
	font-family: "SR";
	font-style: normal;
	font-weight: 400;
	font-size: 19px;
	line-height: 24px;
	color: #000e79;

	span[data-icon]:before {
		color: #ff3233;
		font-size: 17px;
		line-height: 24px;
		margin-right: 8px;
	}

	span:last-child {
		display: inline-block;
		position: relative;
		padding-bottom: 0.6rem;
		background-image: linear-gradient(
			to right,
			rgba(255, 50, 51, 0.6) 50%,
			transparent 0
		);
		background-size: 200% 0.2rem;
		background-repeat: repeat-x;
		background-position: 0 100%;
		transition: background-position 0.75s cubic-bezier(0.45, 0.03, 0.5, 0.95);
	}

	&:hover {
		span:last-child {
			background-position: -200% 100%;
		}
	}
}

body.menu__active {
	@media (min-height: 600px) {
		overflow: hidden;
	}

	&:after {
		width: 100vw;
		height: 100vh;
		position: absolute;
		inset: 0;
		background: rgba(0, 0, 0, 0.3);
		content: " ";
		display: block;
		z-index: 1;
	}
}

body.home main#main {
	margin-top: 45px;

	@media (max-width: 720px) {
		margin-top: 0;
	}
}

body.lang__de {
	.blue-top-bar .top-menu-container ul.top-menu li {
		@media (min-width: 781px) and (max-width: 840px) {
			a {
				font-size: 14px;
			}
		}

		@media (min-width: 721px) and (max-width: 780px) {
			margin-right: 20px;

			a {
				font-size: 12px;
			}
		}
	}

	#menu-bar .container #mega-menu-container #mega-menu li.depth-0 a.depth-0 {
		@media (min-width: 990px) and (max-width: 1010px) {
			font-size: 16px;
		}
	}
}
