// * Templates - Home

// News & Events
#news__and__events {
	.view__all {
		margin: 6rem auto 12.5rem;
		text-align: center;

		a {
			padding: 1rem 5.5rem;
		}
	}
}

.newsevents {
	&__item {
		min-height: 51rem;

		@include mq(tw) {
			max-width: 50%;
		}

		&:nth-child(1) {
			.newsevents__helper {
				margin-right: 1.33rem;

				@include mq(tw) {
					margin: 0 auto 5rem;
				}
			}
		}

		&:nth-child(2) {
			.newsevents__helper {
				margin: 0 0.665rem;

				@include mq(tw) {
					margin: 0 auto 5rem;
				}
			}
		}

		&:nth-child(3) {
			.newsevents__helper {
				margin-left: 1.33rem;

				@include mq(tp) {
					margin: 0 auto;
				}
			}
		}
	}

	&__helper {
		position: relative;
		max-width: 42rem;
	}

	&__image {
		position: relative;
		overflow: hidden;

		.mask {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			opacity: 0.71;
			background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #000 100%);
		}
	}

	&__meta {
		position: absolute;
		left: 4rem;
		right: 4rem;
		bottom: 3.5rem;

		@include mq(ps) {
			left: 2.3rem;
			right: 3rem;
			bottom: 2rem;
		}

		h3 {
			color: #fff;
			position: relative;
			padding-bottom: 1.5rem;
			margin-bottom: 1.5rem;

			@include mq(ps) {
				font-size: 1.6rem;
			}

			&::after {
				content: "";
				position: absolute;
				bottom: 0;
				left: 0;
				width: 2.7rem;
				height: 0.4rem;
				background: $secondary-color;
			}
		}

		time {
			color: #fff;
			opacity: 0.7;
			font-size: 1.6rem;

			&.admin {
				position: absolute;
				bottom: -3.5rem;
				right: -4rem;
				color: #fff;
				background: $secondary-color;
				padding: 0.75rem 1rem;
				opacity: 1;

				@media (max-width: 1152px) {
					padding: 0.5rem 1rem;
					bottom: -2rem;
					right: -3rem;
				}

				@media (max-width: 960px) {
					font-size: 1.2rem;
				}
			}
		}
	}

	&__content {
		padding: 4rem;
		box-shadow: 1rem 1rem 3rem 0 rgba(0, 0, 0, 0.2);

		p {
			color: $gray;

			@include mq(tw) {
				font-size: 1.8rem;
			}

			@include mq(ps) {
				font-size: 1.6rem;
			}
		}

		.button {
			padding: 1.1rem 3.1rem;
		}
	}
}
