// * Templates - Page

@keyframes scaling {
	0%,
	100% {
		transform: scale(1);
	}
	50% {
		transform: scale(0.84);
	}
}

.loaded {
	.hero {
		&__header {
			&__bg {
				transform: scale(1);
			}
		}
	}
	#page {
		&__loading {
			&::before {
				animation: scaling 1.5s var(--inoutquart);
			}
			&::after {
				animation: scaling 1.5s 0.35s var(--inoutquart);
			}

			&__logo {
				visibility: hidden;
			}

			&__box {
				transform: translateY(-100%);
			}
		}
	}
}

#page {
	&__loading {
		width: 23rem;
		position: relative;

		&::before {
			content: "";
			position: absolute;
			top: -12rem;
			left: -2.75rem;
			width: 20rem;
			height: 20rem;
			border-radius: 50% 50% 20rem 0;
			background: red;
			background: $blue;
			transform-origin: top left;
			transform: scale(1);
			z-index: z("footer");
		}

		&::after {
			content: "";
			position: absolute;
			bottom: -12rem;
			right: -4.2rem;
			width: 20rem;
			height: 20rem;
			border-radius: 20rem 0 50% 50%;
			background: red;
			background: $blue;
			transform: scale(1);
			transform-origin: bottom right;
			z-index: z("footer");
		}

		&__svg {
			width: 100%;

			&__left,
			&__right {
				fill: #fff;
			}
		}

		&__logo {
			position: fixed;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			z-index: z(popup);
			display: grid;
			align-items: center;
			justify-content: center;
			transition: visibility 0s 1.5s var(--inoutquart);
		}

		&__box {
			position: fixed;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: $blue;
			z-index: z(popup);
			transform: translateY(0);
			transition: transform 1s 1.25s var(--inoutquart);
		}
	}
}

#hero__header {
	// height: 32rem;
	overflow: hidden;
	@include unselectable;

	&.job__hero__header {
		background: $blue;

		@include mq(ts) {
			height: 38rem;
		}

		@include mq(pw) {
			height: 42rem;
		}
	}

	&.page__404 {
		height: 13rem;
		background: $secondary-color;
	}
}

.hero {
	&__header {
		min-height: 230px;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: flex-end;
		position: relative;
		padding-top: 90px;
		row-gap: 10px;

		&__bg {
			position: absolute;
			top: 0;
			left: 0;
			transform: scale(1.1);
			transition: transform 1s ease;
			will-change: transform;
			width: 100%;
			height: 100%;
			object-fit: cover;
			@include hardware;
		}

		&__grid {
			// height: 100%;
			// align-items: end;
			padding-bottom: 4.7rem;
		}

		&__logo {
			// position: absolute;
			// top: calc(-100% - 3rem);
			max-height: 6rem;

			@include mq(pw) {
				// top: calc(-100% - 4.4rem);
			}
		}

		&__title {
			color: #fff;
			position: relative;

			.to__parent {
				position: absolute;
				top: -3px;
				left: -31px;
				// margin-left: -26px;

				@include mq(tm) {
					top: 0.5rem;
					left: -2.5rem;
				}

				@include mq(pw) {
					top: 0;
					left: -2rem;
				}

				&::before {
					font-size: 2.4rem;
					color: #fff;

					@include mq(tm) {
						font-size: 2rem;
					}

					@include mq(pw) {
						font-size: 1.7rem;
					}
				}
			}
		}
	}
}
