.simple {
	&__grid {
		margin-top: 15.6rem;
		max-width: 119rem;
		grid-template-columns: calc(100% - 75rem) 75rem;
		margin-bottom: 10rem;

		@include mq(ls) {
			grid-template-columns: auto 70rem;
		}

		@include mq(tm) {
			margin-top: 13rem;
			grid-template-columns: auto;
		}
	}

	&__title {
		font-family: $theme-font;
		font-size: clamp(3.2rem, 5.2vw, 5.9rem);
		line-height: clamp(3.8rem, 5.2vw, 6.4rem);
		color: $dark;
		margin-bottom: 3.6rem;
	}

	&__content {
		h2,
		h3,
		h4 {
			margin-bottom: 2rem;
		}
		p {
			color: rgba($dark, 0.7);

			iframe {
				width: 100%;
				height: 40rem;
			}

			&:last-of-type {
				margin-bottom: 1.5rem;
			}

			a {
				&:not(.button) {
					color: $error-color;
					background-image: linear-gradient(
						to right,
						rgba($error-color, 0.3) 50%,
						transparent 0
					);
					padding-bottom: 0.2rem;
				}

				&[rel~="attachment"] {
					background-image: unset;
				}
			}
		}

		ul,
		ol {
			margin-bottom: 3rem;
			li {
				color: rgba($dark, 0.7);

				a {
					color: $error-color;
					background-image: linear-gradient(
						to right,
						rgba($error-color, 0.3) 50%,
						transparent 0
					);
					padding-bottom: 0.2rem;
				}
			}
		}

		ul {
			li {
				&::before {
					top: 1.2rem;
					width: 0.4rem;
					height: 0.4rem;
					left: 1.2rem;
					background: rgba($dark, 0.6);
				}
			}
		}

		ol {
			li {
				&::before {
					top: 0;
					left: 1.2rem;
				}
			}
		}

		blockquote {
			margin-top: 6.3rem;
			p {
				color: $theme-color;
				font-size: clamp(2rem, 5.2vw, 2.9rem);
				line-height: clamp(2.5rem, 5.2vw, 3.6rem);
				letter-spacing: -0.025rem;
				margin-bottom: 7rem;

				&:last-of-type {
					margin-bottom: 6.3rem;
				}
			}
		}
	}
}
