// * Templates - Single

.single {
	#header {
		&::before {
			opacity: inherit;
			background: none;
		}
	}

	.news {
		&__grid {
			margin-top: 5.6rem;
			max-width: 119rem;
			grid-template-columns: auto 75rem;
			margin-bottom: 10rem;

			@include mq(ls) {
				grid-template-columns: auto 70rem;
			}

			@include mq(tm) {
				margin-top: 13rem;
				grid-template-columns: auto;
			}
		}

		&__meta {
			&__helper {
				display: grid;
				row-gap: 2.8rem;
				// ! Remember the overflow can brake it the sticky functionality
				position: sticky;
				top: 2rem;

				@include mq(tm) {
					position: relative;
					top: 0;
					grid-auto-flow: column;
					margin-bottom: 4rem;
				}

				@include mq(ts) {
					grid-auto-flow: unset;
					grid-template-columns: repeat(3, 1fr);
				}

				@include mq(pw) {
					grid-auto-flow: unset;
					grid-template-columns: auto;
					row-gap: 2rem;
				}
			}

			&__parent {
				width: fit-content;
				margin-top: 1.5rem;
				margin-bottom: 9.8rem;

				@include mq(tm) {
					margin-top: 0;
					margin-bottom: 0;
				}

				&::before {
					font-size: 2.5rem;
					font-family: $regular-icon;
					color: $theme-color;
				}
			}

			&__title {
				color: rgba($dark, 0.6);
				font-family: $bold-font;
				text-transform: uppercase;
				font-size: clamp(1.1rem, 2.2vw, 1.3rem);
				line-height: clamp(1.4rem, 5.2vw, 1.8rem);
				letter-spacing: 0.083rem;
				margin-bottom: 0.4rem;
			}

			small {
				display: block;
			}
		}

		&__share {
			display: inline-grid;
			grid-auto-flow: column;
			gap: 2rem;
			margin-top: 0.9rem;

			&__link {
				color: $theme-color;
				width: 3.3rem;
				height: 3.3rem;
				border-radius: 50%;
				position: relative;
				transition: background 0.2s;
				background: rgba($dark, 0.05);

				&::before {
					font: 1.7rem/1 $social-icon;
					position: absolute;
					top: 0;
					width: 100%;
					height: 100%;
					display: grid;
					align-items: center;
					justify-content: center;
				}

				&.mailto {
					&::before {
						font-family: $regular-icon;
					}
				}

				&:hover {
					background: rgba($dark, 0.1);
				}
			}
		}

		&__title {
			font-family: $theme-font;
			font-size: clamp(3.2rem, 5.2vw, 5.9rem);
			line-height: clamp(3.8rem, 5.2vw, 6.4rem);
			color: $dark;
			margin-bottom: 3.6rem;
		}

		&__content {
			h2,
			h3,
			h4 {
				margin-bottom: 2rem;
			}
			p {
				color: rgba($dark, 0.7);

				iframe {
					width: 100%;
					height: 40rem;
				}

				&:last-of-type {
					margin-bottom: 1.5rem;
				}

				a {
					&:not(.button) {
						color: $error-color;
						background-image: linear-gradient(
							to right,
							rgba($error-color, 0.3) 50%,
							transparent 0
						);
						padding-bottom: 0.2rem;
					}

					&[rel~="attachment"] {
						background-image: unset;
					}
				}
			}

			ul,
			ol {
				margin-bottom: 3rem;
				li {
					color: rgba($dark, 0.7);

					a {
						color: $error-color;
						background-image: linear-gradient(
							to right,
							rgba($error-color, 0.3) 50%,
							transparent 0
						);
						padding-bottom: 0.2rem;
					}
				}
			}

			ul {
				li {
					&::before {
						top: 1.2rem;
						width: 0.4rem;
						height: 0.4rem;
						left: 1.2rem;
						background: rgba($dark, 0.6);
					}
				}
			}

			ol {
				li {
					&::before {
						top: 0;
						left: 1.2rem;
					}
				}
			}

			blockquote {
				margin-top: 6.3rem;
				p {
					color: $theme-color;
					font-size: clamp(2rem, 5.2vw, 2.9rem);
					line-height: clamp(2.5rem, 5.2vw, 3.6rem);
					letter-spacing: -0.025rem;
					margin-bottom: 7rem;

					&:last-of-type {
						margin-bottom: 6.3rem;
					}
				}
			}

			b,
			strong,
			.bold,
			.strong {
			}
		}
	}

	.job {
		&__header {
			.to__parent {
				&::before {
					font-size: 2.5rem;
					position: relative;
					top: 0.5rem;

					@include mq(tm) {
						top: 0;
						font-size: 2rem;
					}

					@include mq(pw) {
						font-size: 1.7rem;
					}
				}
			}

			&__title {
				font-size: clamp(2.3rem, 5.2vw, 4.8rem);
				line-height: clamp(2.8rem, 5.2vw, 5.2rem);
			}
		}
		&__data {
			&__grid {
				margin-top: 1.9rem;
				display: inline-grid;
				grid-auto-flow: column;
				grid-template-columns: 27.5rem 27.5rem auto;
				width: 100%;

				@include mq(tm) {
					grid-template-columns: 23rem 14rem auto;
				}

				@include mq(ts) {
					display: grid;
					grid-template-columns: unset;
					grid-auto-flow: unset;
					row-gap: 1rem;
				}
			}

			&__title {
				color: rgba(#fff, 0.4);
			}

			&__value {
				margin-bottom: 0;
				color: rgba(#fff, 0.8);
			}
		}

		&__apply {
			&__container {
				justify-self: end;

				@include mq(ts) {
					position: absolute;
					bottom: 4.7rem;
				}

				@include mq(pw) {
					position: relative;
					bottom: 0;
				}
			}
			&__button {
				&.button {
					padding: 1.4rem 4rem 1.6rem 6.6rem;

					&::before {
						left: 3.9rem;
					}

					&:hover {
						&::after {
							transform: translateX(4.9rem);
						}
					}
				}
			}
		}

		&__grid {
			margin: unset;
			max-width: 97rem;
			grid-template-columns: 22rem auto;

			@include mq(tm) {
				grid-template-columns: auto;
			}
		}

		&__environment {
			padding-top: 6rem;

			&__text {
				p {
					color: rgba($dark, 0.7);

					a {
						color: $error-color;
						background-image: linear-gradient(
							to right,
							rgba($error-color, 0.3) 50%,
							transparent 0
						);
						padding-bottom: 0.2rem;
					}
				}
			}
		}

		&__tasks {
			padding-top: 2.5rem;
			margin-bottom: 1.4rem;

			&__text {
				h2,
				h3,
				h4 {
					margin-bottom: 2rem;
				}

				p {
					color: rgba($dark, 0.7);
					a {
						color: $error-color;
						background-image: linear-gradient(
							to right,
							rgba($error-color, 0.3) 50%,
							transparent 0
						);
						padding-bottom: 0.2rem;
					}
				}
				ul {
					margin-bottom: 5rem;
					li {
						color: $theme-color;
						margin-bottom: 0.7rem;

						&::before {
							content: "\f061";
							font: 1.7rem/1 $icon;
							color: $error-color;
							top: 0.5rem;
							left: 0;
						}
					}
				}
			}
		}

		&__interested {
			background: $lightgray;
			padding-bottom: 3.3rem;
		}

		&__send__text {
			margin-bottom: 1.8rem;
		}

		&__question {
			margin-top: 3.3rem;

			p {
				color: rgba($dark, 0.7);
				a {
					color: $dark;
					padding-bottom: 0.4rem;
					&::before {
						content: none;
					}
				}
			}
		}

		&__contact__person {
			&__title {
				display: block;
				margin-bottom: 0.9rem;
			}
			&__info {
				display: grid;
				grid-template-columns: 10rem auto;
				max-width: 37.3rem;
				background: #fff;
				margin-bottom: 1.7rem;
				align-items: center;
				min-height: 10rem;
			}

			&__text {
				padding: 1rem 2rem;
			}

			&__rank {
				color: rgba($dark, 0.7);
				margin-bottom: 0;
			}
		}

		&__data__protection {
			p {
				font-size: clamp(1.5rem, 5.2vw, 1.6rem);
				color: rgba($dark, 0.5);
				letter-spacing: -0.014rem;

				a {
					all: unset;
					color: $dark;
					cursor: pointer;

					&:hover {
						color: $theme-color;
					}
				}
			}
		}
	}
}
