// * Blocks - Cases

.case {
	&s {
		padding-bottom: 5rem;

		.navigation__area {
			position: absolute;
			bottom: 4rem;
			left: 0;
			right: 0;
			display: flex;
			justify-content: center;
		}
	}

	&__container {
		background: $secondary-color;
		min-height: 48.8rem;

		@include mq(tw) {
			padding-bottom: 6rem;
		}

		@include mq(tm) {
			min-height: inherit;
			padding-bottom: 6rem;
		}

		@include mq(pw) {
			padding-bottom: 6rem;
		}

		&::after {
			content: "";
			background: url("assets/img/case_bg.png") no-repeat;
			background-size: 39.5rem 41.6rem;
			width: 39.5rem;
			height: 41.6rem;
			position: absolute;
			bottom: 0;
			right: 0;
			z-index: z("main");

			@include mq(ls) {
				background-size: 28.2rem 29.7rem;
				width: 28.2rem;
				height: 29.7rem;
			}

			@include mq(tm) {
				background-size: 18.6rem 19.6rem;
				width: 18.8rem;
				height: 19.6rem;
			}

			@include mq(pw) {
				background-size: 9.35rem 9.9rem;
				width: 9.35rem;
				height: 9.9rem;
			}
		}
	}

	&__slide {
		padding: 8rem 0 0 7rem;

		@include mq(tm) {
			padding: 6.5rem 4rem 0 5.5rem;
		}

		@include mq(pw) {
			padding: 2.1rem 2.6rem 0 2.65rem;
		}

		&.swiper-slide-active {
			.case {
				&__logo,
				&__cite {
					transform: translateY(0);
					transition: 0.4s 0.4s var(--inoutquad);
					opacity: 1;
				}
			}
		}
	}

	&__content {
		max-width: 76rem;
		max-width: calc(100% - 57rem);

		@include mq(ls) {
			max-width: calc(100% - 30rem);
		}

		@include mq(tm) {
			max-width: calc(100%);
		}
	}

	&__image {
		max-width: 19rem;
		display: flex;
		flex-flow: column;
		position: absolute;
		top: 8rem;
		right: 17.8rem;
		max-width: 17.8rem;
		text-align: right;
		align-items: flex-end;

		@include mq(ls) {
			right: 7.5rem;
		}

		@include mq(tm) {
			all: unset;
			position: relative;
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			align-items: center;
			margin-top: 3rem;
			max-width: 48rem;
		}

		@include mq(pw) {
			grid-template-columns: auto;
		}
	}

	&__text {
		letter-spacing: -0.025rem;
	}

	&__logo {
		//filter: brightness(0) invert(1);
		transform: translateY(1rem);
		opacity: 0;
	}

	&__cite {
		margin-top: 3.6rem;
		font-family: $bold-font;
		color: #fff;
		position: relative;
		transform: translateY(-1rem);
		opacity: 0;

		&::before {
			content: "";
			position: absolute;
			top: -1.9rem;
			right: 0;
			width: 2.2rem;
			height: 0.2rem;
			background: #fff;

			@include mq(tm) {
				right: unset;
				left: 0;
			}
		}
	}

	&__file {
		display: inline-block;
		margin-top: 2.9rem;
	}
}
