// * Blocks - Content

.loaded {
	.content {
		&__title,
		&__text,
		&__url {
			opacity: 1;
			transform: translateY(0);
		}
	}
}

.home {
	.content {
		&__title {
			transition: opacity 0.75s 1.8s ease, transform 0.5s 1.8s ease;
		}

		&__text {
			transition: opacity 0.75s 2.05s ease, transform 0.5s 2.05s ease;
		}

		&__url {
			transition: opacity 0.75s 2.1s ease, transform 0.5s 2.1s ease;
		}
	}
}

.content {
	&__acf {
		position: relative;
		padding-bottom: 6rem;

		&.no__title {
			padding-top: 12rem;
			padding-bottom: 12rem;
		}
		+ .contacts {
			padding-top: 0;
		}
	}

	&__title {
		opacity: 0;
		transform: translateY(3rem);
		transition: opacity 0.75s ease, transform 0.5s ease;
	}

	&__text {
		opacity: 0;
		transform: translateY(3rem);
		font-family: $bold-font;
		max-width: 86rem;
		font-size: clamp(2.3rem, 5.2vw, 4.1rem);
		line-height: clamp(2.8rem, 5.2vw, 4.4rem);
		padding-bottom: 2.5rem;
		transition: opacity 0.75s 0.25s ease, transform 0.5s 0.25s ease;
	}

	&__url {
		opacity: 0;
		transform: translateY(3rem);
		transition: opacity 0.75s 0.3s ease, transform 0.5s 0.3s ease;
	}
}
