// * Blocks - Contact Person
.contact__person {
	background: $lightgray;

	&__grid {
		grid-template-columns: 22rem auto;

		@include mq(tm) {
			grid-template-columns: auto;
		}
	}

	&__title {
		margin-bottom: 3rem;
	}

	&__info {
		display: grid;
		grid-template-columns: 10rem auto;
		max-width: 37.3rem;
		background: #fff;
		margin-bottom: 2rem;
		align-items: center;
	}

	&__text {
		padding: 1rem 2rem;
	}

	&__rank {
		color: rgba($dark, 0.7);
		margin-bottom: 0;
	}

	&__bio {
		color: rgba($dark, 0.7);
		margin-bottom: 2.7rem;
	}

	&__contacts {
		margin-bottom: 11rem;

		li {
			margin-bottom: 1.5rem;
		}
	}

	&__phone {
	}
}
