// * Blocks - Facts

.facts {
	background: $lightgray;
	padding-top: 14.5rem;
	padding-bottom: 11.6rem;

	@include mq(ts) {
		padding-top: 10rem;
		padding-bottom: 10rem;
	}

	.inner {
		@include mq(lw) {
			max-width: 120rem;
		}
	}

	&__grid {
		@include mq(tm) {
			row-gap: 3rem;
		}

		@include mq(ts) {
			row-gap: 5rem;
		}
	}

	&__item {
		display: flex;
		align-items: flex-start;
		justify-content: center;
		text-align: center;
	}

	&__number {
		display: block;
		color: $error-color;
		font-family: $light-font;
		font-size: clamp(5rem, 5.2vw, 6.6rem);
		line-height: clamp(2.8rem, 5.2vw, 4.4rem);
		letter-spacing: -0.04rem;

		&::after {
			content: attr(data-after);
			position: relative;
			font-family: inherit;
			font-size: inherit;
			line-height: inherit;
		}
	}

	&__text {
		margin: 1.2rem auto 0;
		letter-spacing: -0.017rem;
		max-width: 20rem;
		color: $theme-color;
		margin-bottom: 0;
	}
}
