// * Blocks - Features

.feature {
	&s {
		&__grid {
			&.col__1 {
				max-width: 65rem;
				margin: 0 auto;
			}

			&.col__2,
			&.col__3 {
				@include mq(tm) {
					grid-template-columns: auto;
				}
			}
		}

		&.no__title {
			min-height: 30.8rem;
			background: linear-gradient(to bottom, $theme-color 33.8rem, #fff 8rem);
		}

		&__header {
			max-width: $narrow-width;
			margin: 0 auto;
		}

		min-height: 46rem;
		background: linear-gradient(to bottom, $theme-color 40rem, #fff 8rem);
		margin-bottom: 5rem;
	}

	&__item {
		&:not(.empty) {
			position: relative;
			min-height: 35.2rem;
			display: flex;
			align-items: flex-end;
			height: 100%;
			overflow: hidden;
			z-index: z("footer");

			&::before {
				content: "";
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background: linear-gradient(
					to bottom,
					transparent 0,
					rgba($dark, 0.9) 100%
				);
				transform: translateY(3rem);
				transition: transform 0.3s var(--inoutquart);
			}

			&:hover {
				&::before {
					transform: translateY(0);
				}

				.feature {
					&__img {
						transform: scale(1.05);
					}
				}
			}
		}
	}

	&__container {
		padding: 0 4.5rem 3.6rem;

		@include mq(pw) {
			padding: 0 2.5rem 3.6rem;
		}
	}

	&__title {
		color: #fff;
		margin-bottom: 2rem;

		&::before {
			content: "\f0a9";
			font: 2.2rem/1 $regular-icon;
			color: $error-color;
			position: relative;
			margin-right: 0.7rem;
		}
	}

	&__img {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
		object-fit: cover;
		transition: 0.35s var(--outquad);
		@include hardware;
	}

	&__text {
		position: relative;
		min-height: 7.5rem;
		max-height: 12.5rem;
		overflow: hidden;
		color: rgba(#fff, 0.8);

		@include mq(tw) {
			max-height: 13.5rem;
		}

		h4 {
			color: #fff;
			font-family: $semibold-font;
			margin-bottom: 0.5rem;
		}

		p {
			color: inherit;
			margin-bottom: 0;

			a {
				color: inherit;
				padding-bottom: 0.1rem;
			}
		}
		ul,
		ol {
			margin-bottom: 0;
			li {
				color: inherit;
			}
		}
	}

	&__url {
		display: inline-block;
		margin-top: 1.5rem;
		z-index: z("footer");

		&.read__more {
			color: #fff;
		}
	}

	&__popup {
		padding: 5rem;
		overflow-y: auto;

		@include mq(ts) {
			padding: 5rem 4rem;
		}

		@include mq(pw) {
			padding: 5rem 3rem 3rem;
		}

		&__background {
			max-width: 35rem;

			@include mq(pw) {
				max-width: 100%;
			}
		}

		&__title {
			color: $dark;
			margin-top: 3rem;
			margin-bottom: 2rem;

			&::before {
				content: "\f0a9";
				font: 2.2rem/1 $regular-icon;
				color: $error-color;
				position: relative;
				margin-right: 1rem;
			}
		}

		&__text {
			h3 {
				margin-bottom: 1.6rem;
			}

			ul,
			ol {
				margin-bottom: 3rem;
				li {
					&::before {
						background: $theme-color;
					}

					ul,
					ol {
						margin-top: 1rem;
						margin-bottom: 1rem;
					}

					a {
						padding-bottom: 0.2rem;
					}
				}
			}
		}
	}
}
