// * Blocks - Gadgets

.gadget {
	&s {
		padding-bottom: 7.8rem;

		&.gray {
			background: $lightgray;
		}

		&__title {
		}

		&__container {
			height: 35.2rem;
		}

		&__wrapper {
			transition-timing-function: linear !important;
		}

		&__big__title {
			max-width: 64rem;
			margin-top: 4.5rem;
		}

		&__slide {
			max-width: 79.7rem;

			&.small {
				max-width: 62.6rem;
			}
		}
	}

	&__item {
	}

	&__image {
		position: relative;
		height: 35.2rem;
		cursor: pointer;

		img {
			height: 100%;
			object-fit: cover;
			object-position: top center;
		}

		&.has__caption {
			&::before {
				content: "";
				position: absolute;
				bottom: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background: linear-gradient(
					180deg,
					rgba($dark, 0) 70%,
					rgba($dark, 0.7) 100%
				);
				z-index: z("footer");
			}

			&::after {
				content: attr(data-caption);
				position: absolute;
				left: 4rem;
				bottom: 3rem;
				color: #fff;
				z-index: z("footer");
				font-size: clamp(2rem, 5.2vw, 2.9rem);
				line-height: clamp(2.5rem, 5.2vw, 3.6rem);
			}
		}
	}

	&__caption {
	}
}
