// * Blocks - Gadgets

.gallery {
	&__grid {
		margin-bottom: 5rem;
	}

	&__text {
		margin-bottom: 10rem;
		color: $theme-color;
	}

	&__product {
		display: grid;
		justify-items: center;
		text-align: center;
		position: relative;

		&__grid {
			margin-bottom: 6rem;
		}

		&__image {
			max-width: 200px;
		}

		&__title {
			font-family: $bold-font;
			margin-bottom: 3rem;
			margin-top: 1.5rem;
		}

		&__text {
			color: $theme-color;
			max-width: 24rem;
		}

		&__serial {
			color: $theme-color;
		}
	}

	&__popup {
		padding: 5rem;
		overflow-y: auto;
		display: grid;
		align-items: center;
		justify-content: center;

		@include mq(ts) {
			padding: 5rem 4rem;
		}

		@include mq(pw) {
			padding: 5rem 3rem 3rem;
		}

		&__image {
			max-width: 35rem;
			margin: 0 auto;

			@include mq(pw) {
				max-width: 100%;
			}
		}

		&__title {
			color: #006eff;
			font-family: $bold-font;
			margin-bottom: 2rem;
		}

		&__text {
			color: $theme-color;

			h3 {
				margin-bottom: 1.6rem;
			}

			ul,
			ol {
				margin-bottom: 3rem;

				li {
					&::before {
						background: $theme-color;
					}

					ul,
					ol {
						margin-top: 1rem;
						margin-bottom: 1rem;
					}

					a {
						padding-bottom: 0.2rem;
					}
				}
			}
		}

		&__url {
			color: $secondary-color;
		}
	}
}
