// * Block - Video Hero Header

// Loaded effects

.loaded {
	.video__hero {
		&__bg {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			width: 100vw;
			height: 100%;
			object-fit: cover;
			object-position: top center;
		}

		&__header {
			transform: translateY(0);
			transition: transform 1s 1.5s ease;
		}

		&__title {
			opacity: 1;
		}

		&__split {
			.word {
				opacity: 1;
			}

			.char {
				transform: translateY(0);
				transition-delay: calc(1.5s + (0.03s * (var(--char-index))));
				line-height: 1.15em;
			}

			&:first-child,
			&:last-child {
				&::before,
				&::after {
					width: 5.5rem;
					transition: width 0.3s 3s var(--inquad);

					@include mq(pw) {
						width: 3rem;
					}
				}
			}
		}

		&__subtitle {
			opacity: 1;
			transform: translateY(0);
			transition: opacity 0.3s 3.1s ease, transform 0.5s 3.1s ease;
		}

		&__button {
			opacity: 1;
			transform: translateY(0);
			transition: opacity 0.3s 3.4s ease, transform 0.5s 3.4s ease;
		}
	}
}

#video__hero__header {
	padding-top: 0;
	height: 64rem;
	overflow: hidden;

	video {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 100vw;
		height: 100%;
		object-fit: cover;
		object-position: top center;
	}
}

.video__hero {
	&__header {
		padding-top: 18rem;
		margin-left: 18.5rem;
		max-width: 75rem;
		transform: translateY(5rem);

		@include mq(tm) {
			text-align: center;
			margin-left: 0;
		}

		@include mq(pw) {
			max-width: 100%;
		}
	}
	&__title {
		color: #fff;
		letter-spacing: -0.125rem;
		font-size: clamp(3.6rem, 8.2vw, 7.5rem);
		// line-height: clamp(3.8rem, 6.5vw, 6.2rem);
		opacity: 0;
		margin-top: -1rem;
	}

	&__split {
		position: relative;
		display: inline-block;

		.word {
			overflow: hidden;
			display: inline-block;
		}

		.char {
			transform: translateY(120%);
			color: #fff;
			visibility: visible;
			transition: transform 0.5s cubic-bezier(0.9, 0, 0.2, 1);
			transition-delay: calc(0.2s + (0.02s * (var(--char-index))));
		}

		// .whitespace {
		// 	height: 1.1em;
		// 	width: 13.75px;
		// }

		&:first-child {
			left: -7.5rem;
			padding-top: 0.3rem;

			@include mq(tm) {
				left: 0;
			}

			&::after {
				content: "";
				position: absolute;
				top: 0.1em;
				right: 0.3rem;
				width: 0;
				height: 0.4rem;
				background: $secondary-color;

				@include mq(pw) {
					height: 0.3rem;
				}
			}

			.word {
				// padding-bottom: 1rem;

				@include mq(pw) {
					padding-bottom: 0;
				}
			}
		}

		&:nth-child(2) {
			left: -17rem;
			margin-top: -0.9rem;

			@media (max-width: 550px) {
				margin-top: 0;
			}

			@include mq(tm) {
				left: -3rem;
			}

			@include mq(pw) {
				left: -1.5rem;
			}

			.word {
				// padding-bottom: 1rem;
				transform: translateY(-1rem);

				@include mq(pw) {
					padding-bottom: 0;
				}
			}
		}

		&:last-child {
			left: -1.3rem;
			margin-top: -0.9rem;

			@media (max-width: 550px) {
				margin-top: 0;
			}

			@include mq(tm) {
				left: 6.3rem;
			}

			@include mq(pw) {
				left: 3.5rem;
			}

			.word {
				transform: translateY(-2rem);
			}

			&::before {
				content: "";
				position: absolute;
				// top: -0.2rem;
				top: 0.1em;
				left: -5.8rem;
				width: 0;
				height: 0.4rem;
				background: $secondary-color;

				@include mq(pw) {
					top: -0.5rem;
					left: -3.5rem;
					height: 0.3rem;
				}
			}
		}
	}

	&__subtitle {
		color: rgba(255, 255, 255, 0.8);
		margin-bottom: 0;
		letter-spacing: -0.017rem;
		margin-bottom: 4.2rem;
		opacity: 0;
		transform: translateY(3rem);
		margin-top: -1rem;
	}

	&__button {
		opacity: 0;
		transform: translateY(3rem);
	}
}

body.lang__de {
	.video__hero__header {
		.video__hero__split {
			.word {
				.char {
				}
			}
		}
		@media (min-width: 1091px) and (max-width: 1248px) {
			margin-left: 150px;
		}

		@media (min-width: 991px) and (max-width: 1091px) {
			margin-left: 120px;
		}

		@media (min-width: 991px) and (max-width: 1061px) {
			.video__hero__split {
				.char {
					font-size: 6vw;
				}
			}
		}

		@media (max-width: 991px) {
			.video__hero__split {
				.char {
					font-size: 6.5vw;
				}

				&:nth-child(2) {
					margin-top: unset;
				}

				&:last-child {
					margin-top: unset;
				}
			}
		}
	}
}
