// * Blocks - Image

.image {
	&__grid {
		justify-content: center;
		margin-bottom: 8rem;
	}

	&__header {
		text-align: center;
	}

	&__title {
		margin-top: 3.7rem;
		margin-bottom: 9rem;
		font-family: $bold-font;
		font-size: clamp(2.3rem, 5.2vw, 4.1rem);
		line-height: clamp(2.8rem, 5.2vw, 4.4rem);
	}

	&__block {
		.entry__text {
			padding-bottom: 2.5rem;
		}
		padding-bottom: 8rem;
	}
}
