// * Blocks - Image + Content

.imagecontent {
	//margin-top: 3rem;

	&__item {
		align-items: center;
		background: $theme-color;
		min-height: 64rem;
		grid-template-columns: 41.666667% 58.333333%;

		@include mq(tw) {
			grid-template-columns: repeat(2, 1fr);
		}

		@include mq(tp) {
			grid-template-columns: auto;
			height: auto;
			min-height: none;
		}

		&.youtube {
			background: $lightgray;
			grid-template-columns: auto;

			&.white {
				background: #fff;

				[class*="text"] {
					ul {
						li {
							&::before {
								background: rgba($dark, 0.8);
							}
						}
					}
				}
			}

			&.reverse {
				background: $lightgray;
				grid-template-columns: auto;

				&.white {
					background: #fff;
				}

				.imagecontent {
					&__helper {
						grid-template-columns: 57.3rem auto;

						@include mq(tw) {
							grid-template-columns: 45rem auto;
						}

						@include mq(tp) {
							grid-template-columns: auto;
						}
					}
					&__content__container {
						padding: 0 0 0 4.5vw;

						@include mq(tp) {
							padding: 5rem 0;
						}
					}

					&__text {
						.read__more {
							color: $theme-color;
						}
					}
				}
			}

			.imagecontent {
				&__helper {
					display: grid;
					grid-template-columns: auto 57.3rem;
					align-items: center;

					@include mq(tw) {
						grid-template-columns: auto 45rem;
					}

					@include mq(tp) {
						grid-template-columns: auto;
					}
				}

				&__content__container {
					padding: 0 5vw 0 0;

					@include mq(tp) {
						padding: 5rem 0;
					}

					p {
						color: rgba($dark, 0.7);
					}

					ul,
					ol {
						li {
							color: rgba($dark, 0.7);

							&::before {
								background: rgba($dark, 0.8);
							}
						}
					}

					.read__more {
						color: $theme-color;
					}
				}

				&__image__container {
					@include mq(tp) {
						margin-bottom: 5rem;
					}

					iframe {
						@include mq(tw) {
							width: 100%;
							height: 25rem;
						}
						@include mq(tp) {
							@include ratio(16, 9);
						}
					}
				}

				&__youtube__wrapper {
				}

				&__subtitle {
					color: $theme-color;
				}

				&__image__container {
					height: auto;
				}
			}
		}

		&.reverse {
			background: $blue;
			grid-template-columns: 58.333333% 41.666667%;

			@include mq(tw) {
				grid-template-columns: repeat(2, 1fr);
			}

			@include mq(tp) {
				grid-template-columns: auto;
			}

			.imagecontent__image__container {
				grid-column-start: 1;
				grid-row-start: 1;

				@include mq(tp) {
					grid-column-start: unset;
					grid-row-start: unset;
				}
			}
		}

		&:not(.reverse):not(.youtube) {
			.imagecontent__content__container {
				.button {
					background: linear-gradient(
						to left,
						rgba($error-color, 0.9) 50%,
						$blue 0
					);
					background-size: 200.875% 100%;
					background-position: 100% 100%;

					&:hover {
						background-position: 0 100%;
					}
				}
			}
		}
	}

	&__image__container {
		overflow: hidden;
		height: 100%;

		@include mq(tw) {
		}

		@include mq(tp) {
		}
	}

	&__video {
		&__bg {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
		&__wrapper {
			cursor: pointer;
			height: 100%;
			overflow: hidden;
			@include hardware;

			video {
				width: 100%;
				height: 100%;
				display: block;
				object-fit: cover;
			}

			&::after {
				content: "\f04b";
				font: 4rem/1 $icon;
				color: #fff;
				position: absolute;
				display: flex;
				align-items: center;
				justify-content: center;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
				margin: auto;
				width: 4rem;
				height: 4rem;
				border-radius: 50%;
				transform: scale(1.5);
				transition: 0.3s var(--inquad);
				background: rgba(0, 0, 0, 0.1);
				box-shadow: 0 0rem 3rem 3rem rgba(0, 0, 0, 0.1);
			}

			&:hover {
				&::after {
					transform: scale(1.25);
				}
			}
		}
	}

	&__image__wrapper {
		height: 100%;
		@include hardware;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	&__content__container {
		padding: 4rem 5vw;

		@include mq(tp) {
			padding: 5rem 3.4rem;
		}

		@include mq(ts) {
			padding: 5rem 2.5rem;
		}

		&:not(.reverse) {
			@include mq(lw, min) {
				//padding-left: 12.8rem;
			}
		}

		.helper {
			@include mq(lw, min) {
				max-width: 48rem;
				margin: 0 auto;
			}
			max-width: 42rem;

			@include mq(tp) {
				max-width: 100%;
			}
		}
	}

	&__title {
		margin-bottom: 3.8rem;

		@include mq(tp) {
			margin-bottom: 1.8rem;
		}
	}

	&__subtitle {
		color: #fff;
		margin-bottom: 2.8rem;
		font-family: $bold-font;
		font-size: clamp(2.3rem, 5.2vw, 4.1rem);
		line-height: clamp(2.8rem, 5.2vw, 4.4rem);
	}

	&__text {
		h2,
		h3,
		h4,
		h5 {
			color: white;
		}

		p {
			color: #fff;
			margin-bottom: 2.5rem;
			letter-spacing: -0.017rem;

			a {
				color: inherit;
				padding-bottom: 0.2rem;
			}
		}

		ul,
		ol {
			li {
				color: #fff;
			}
			margin-bottom: 2.5rem;
		}

		ol {
			li {
				&::before {
					left: 0.2rem;
				}

				a {
					color: #fff;
					padding-bottom: 0.2rem;
				}
			}
		}

		.read__more {
			color: #fff;
		}
	}
}
