// * Blocks - Jobs

.job {
	&s {
		background: $lightgray;
		padding-top: 6.3rem;
		padding-bottom: 7.5rem;

		&__title {
		}
	}

	&__item {
		position: relative;
		background: #fff;
		padding: 4rem 4.7rem 4.2rem;
		margin-bottom: 0.7rem;

		@include mq(ts) {
			padding: 3rem 3.5rem;
		}

		@include mq(pw) {
			padding: 2.5rem 3rem;
		}

		&:last-child {
			margin-bottom: 0;
		}

		&::before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			box-shadow: 0 0.2rem 5rem 0 rgba($dark, 0.15);
			opacity: 0;
			transition: all 0.4s var(--outquad);
		}

		&:hover {
			&::before {
				opacity: 1;
			}
		}
	}

	&__grid {
		grid-template-columns: 5.4125fr 3.5875fr;

		@include mq(ts) {
			grid-template-columns: auto;
		}
	}

	&__title {
		margin-bottom: 1.5rem;
	}

	&__text {
		margin-bottom: 0;
		color: rgba($dark, 0.6);

		@include mq(ts) {
			order: 2;
		}
	}

	&__location {
		padding-left: 6.8vw;

		@include mq(ts) {
			order: 1;
			padding-left: 0;
			margin-bottom: 1.5rem;
		}

		&__title {
			display: block;
		}

		&__text {
			color: rgba($dark, 0.6);
			margin-bottom: 0;
		}
	}
}
