// * Blocks - Lists

.list {
	&s {
		padding-top: 7.2rem;
		padding-bottom: 5rem;

		&.gray {
			background: $lightgray;
		}

		&__title {
			margin-bottom: 3.2rem;
		}
	}

	&__item {
		margin-bottom: 2.2rem;
	}

	&__icon {
		color: $error-color;
		font-size: 3.4rem;

		&.big {
			font-size: 4.7rem;
			padding-bottom: 1.2rem;
		}
	}

	&__number {
		color: $error-color;
		font-family: $light-font;
		letter-spacing: -0.04rem;
		font-size: clamp(5rem, 5.2vw, 6.6rem);
		//line-height: clamp(2.8rem, 5.2vw, 4.4rem);

		&::after {
			content: attr(data-after);
			position: relative;
			font-family: inherit;
			font-size: inherit;
			line-height: inherit;
		}
	}

	&__image {
		margin-bottom: 2.8rem;
	}

	&__title {
		max-width: 25rem;

		&.extended {
			max-width: 31.5rem;
		}

		&.more {
			margin-bottom: 1.7rem;
		}
	}

	&__text {
		color: rgba($dark, 0.7);
		max-width: 25rem;
		margin-top: 1rem;
		margin-bottom: 4rem;

		&.extended {
			max-width: 31.5rem;
		}

		&.more {
			margin-bottom: 1rem;
		}
	}
}
