// * Blocks - Management

.management {
	padding-bottom: 4rem;

	&__member {
		&__content {
			&.popup {
				overflow-y: auto;
				padding: 3rem;
				.management {
					&__member {
						&__img {
							all: unset;
							max-width: 24rem;

							@include mq(ts) {
								max-width: 30rem;
							}
						}
					}
				}
			}
		}

		&__grid {
			grid-auto-flow: column;

			@include mq(ts) {
				grid-auto-flow: unset;
				row-gap: 3rem;
			}

			.management {
				&__member {
					&__name {
						margin-top: 0;
					}

					&__rank {
						margin-bottom: 1.5rem;
					}
				}
			}
		}

		&__bio {
			display: block;
			color: rgba($dark, 0.7);
			line-height: clamp(2rem, 5.2vw, 2.2rem);
		}

		&__image {
			cursor: pointer;
			background: $blue;
			position: relative;
			overflow: hidden;
		}

		&__img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			transition: 0.35s var(--outquad);
			@include hardware;
		}

		&:hover {
			.management__member {
				&__img {
					transform: scale(1.05);
				}
			}
		}

		&__name {
			margin-top: 1.6rem;
			margin-bottom: 0.2rem;
		}
	}
}
