.media-text {
	padding-top: 5rem;
	padding-bottom: 5rem;

	.inner {
		// max-width: 1300px;

		.media-text__title {
			margin-bottom: 3.8rem;
		}

		.rows {
			display: grid;
			grid-template-columns: 1fr;
			grid-template-rows: auto;
			gap: 8.8rem;

			.row {
				display: grid;
				grid-template-columns: repeat(2, 1fr);
				grid-template-rows: 1fr;
				gap: 5rem;
				align-items: center;

				.row__media {
					grid-area: 1/1/2/2;
					position: relative;
					cursor: pointer;

					img {
						object-fit: cover;
						width: 100%;
						height: 350px;
					}

					&.video {
						&:after {
							content: "\f04b";
							font: 4rem/1 $icon;
							color: #fff;
							position: absolute;
							display: flex;
							align-items: center;
							justify-content: center;
							top: 0;
							bottom: 0;
							left: 0;
							right: 0;
							margin: auto;
							width: 4rem;
							height: 4rem;
							border-radius: 50%;
							transform: scale(1.5);
							transition: 0.3s var(--inquad);
							background: rgba(0, 0, 0, 0.1);
							box-shadow: 0 0rem 3rem 3rem rgba(0, 0, 0, 0.1);
						}

						&:hover {
							&::after {
								transform: scale(1.25);
							}
						}
					}
				}

				.row__text {
					align-self: center;
					grid-area: 1/2/2/3;

					h3 {
						margin-bottom: 2.8rem;
						font-family: "SB";
						font-size: clamp(2.3rem, 5.2vw, 4.1rem);
						line-height: clamp(2.8rem, 5.2vw, 4.4rem);
						color: $theme-color;
					}

					p {
						color: $theme-color;
						margin-bottom: 1.6rem;
					}

					ul {
						li {
							color: #005479;

							&:before {
								background: #005479;
							}
						}
					}

					a.button {
						padding: 1rem 4.5rem 1rem;
						border-radius: 16px;
						margin-top: 2rem;

						&:before,
						&:after {
							display: none;
						}
					}

					a:not(.button) {
						padding: 0;
						border-radius: 0;
					}
				}

				&.media-text {
					padding-top: 0;
					padding-bottom: 0;
				}

				&.text-media {
					.row__media {
						grid-area: 1/2/2/3;
					}

					.row__text {
						grid-area: 1/1/2/2;
					}
				}
			}
		}

		@include mq(tp) {
			.rows {
				gap: 5.8rem;

				.row {
					grid-template-columns: 1fr;
					gap: 3rem;

					.row__media {
						grid-area: 1/1/2/2;

						img {
							height: auto;
						}
					}

					.row__text {
						grid-area: 2/1/3/2;

						h3 {
							margin-bottom: 2rem;
						}

						a {
							margin-top: 1rem;
						}
					}

					&.text-media {
						.row__media {
							grid-area: 1/1/2/2;
						}

						.row__text {
							grid-area: 2/1/3/2;
						}
					}
				}
			}
		}

		@include mq(pw) {
			.rows {
				.row {
					gap: 2rem;
				}
			}
		}
	}

	&.gray-bc {
		background: #f2f2f2;
	}
}
