// * Blocks - Posts

#post__filter {
	position: relative;
	padding-right: 5rem;

	&.loading {
		&::after {
			content: "\f3f4";
			font: 4rem/1 $icon;
			position: absolute;
			color: rgba($dark, 0.4);
			top: 2.5rem;
			right: 0;
			animation: spin 1s linear infinite;

			@include mq(tw) {
				top: 1.5rem;
			}
		}
	}
}

.post {
	&s {
		background: $lightgray;

		+ .contact {
			margin-top: 10rem;

			&::before {
				content: "";
				position: absolute;
				top: -10rem;
				left: 0;
				width: 100%;
				height: 10rem;
				background: $lightgray;
			}
		}

		&__tab {
			display: inline-grid;
			grid-auto-flow: column;
			grid-column-gap: 7rem;

			@include mq(ts) {
				grid-column-gap: 3.5rem;
			}

			&__item {
				padding: 2rem 0 2.7rem;
				color: $theme-color;
				font-family: $theme-font;
				@include unselectable;

				&:not(.active) {
					cursor: pointer;
					color: rgba($theme-color, 0.4);
				}
			}
		}
	}

	&__container {
		//margin: 4rem auto 5rem;
		grid-row-gap: 2.4rem;
	}

	&__item {
		background: #fff;
		padding: 4rem 4.4rem;

		@include mq(tm) {
			padding: 3rem 3.5rem;
		}

		@include mq(pw) {
			padding: 2.5rem 3rem;
		}

		&::before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			box-shadow: 0 0.2rem 5rem 0 rgba($dark, 0.15);
			opacity: 0;
			transition: all 0.4s var(--outquad);
		}

		&:hover {
			&::before {
				opacity: 1;
			}

			.post {
				&__img {
					transform: scale(1.075);
				}
			}
		}
	}

	&__content {
		height: 21.8rem;
		margin-bottom: 3rem;
	}

	&__meta {
		position: relative;
		height: 2.3rem;
	}

	&__category {
		color: $error-color;
		position: absolute;
	}

	&__date {
		right: 0;
		position: absolute;

		&.admin {
			top: -4rem;
			right: -4.5rem;
			background: $theme-color;
			color: #fff;
			padding: 0.5rem 1rem;
			font-size: 1.3rem;

			@include mq(tm) {
				top: -3rem;
				right: -3.5rem;
			}

			@include mq(pw) {
				top: -2.5rem;
				right: -3rem;
			}
		}
	}

	&__title {
		margin-top: 4rem;
		margin-bottom: 1.2rem;
		color: $dark;
		max-height: 7.2rem;
		overflow: hidden;

		a {
			color: inherit;
		}
	}

	&__text {
		margin-bottom: 0;
		color: rgba($dark, 0.6);
	}

	&__image {
		position: relative;
		overflow: hidden;
		display: grid;
		justify-content: center;
		align-items: center;
		min-height: 25.6rem;

		@include mq(pw) {
			min-height: auto;
		}
	}

	&__img {
		@include hardware;
		transition: 0.35s var(--outquad);
	}

	&__loader {
		&.button {
			font-size: 1.6rem;
			margin-top: 2rem;
			color: $error-color;
			background: transparent;
			text-transform: uppercase;
			letter-spacing: -0.014rem;

			&::before {
				content: "\f063";
				left: 2.5rem;
				color: inherit;
			}

			&::after {
				content: "\f063";
				color: inherit;
				left: 2.5rem;
				transform: translateY(-2rem);
			}

			&:hover {
				color: $error-color;

				&::after {
					transform: translateX(0);
					transform: translateY(0);
				}
			}
		}
	}
}

.no__result {
	background: #fff;
	padding: 4rem;
	margin-bottom: 0;
}

#posts {
	@media (max-width: 1000px) {
		.post__item {
			.post__content {
				height: auto;
				margin-bottom: 2rem;

				.post__title {
					max-height: unset;
					overflow: hidden;
					line-clamp: 3;
					display: -webkit-box;
					-webkit-line-clamp: 3;
					-webkit-box-orient: vertical;
				}
			}

			.post__image {
				min-height: unset;
			}
		}
	}
}
