// * Blocks - Products

.products {
	&__header {
		//text-align: center;
	}

	.entry__title {
		margin-top: 2rem;
		text-align: center;
	}

	&__tab {
		display: inline-grid;
		grid-auto-flow: column;
		grid-column-gap: 5rem;
	}

	&__links {
		padding: 2rem 0 2.7rem;
		color: $theme-color;
		font-family: $theme-font;
		@include unselectable;

		&:not(.active) {
			cursor: pointer;
			color: rgba($theme-color, 0.6);
		}
	}

	&__container {
		counter-reset: productNumber;
		opacity: 0.8;
		position: absolute;
		visibility: hidden;
		transition: none;
		transform: translateY(2rem);
		margin-bottom: 4rem;

		&.scrolled-to {
			background: var(--product-bg) top center / cover;
		}

		&.col__3,
		&.col__4 {
			@include mq(tw) {
				grid-template-columns: repeat(2, 1fr);
			}
		}

		&.active {
			position: relative;
			opacity: 1;
			visibility: visible;
			transform: translateY(0);
			transition: 0.3s var(--inquad);
		}
	}

	&__item {
		padding: 3.5rem 4.5rem;
		min-height: 35rem;
		overflow: hidden;

		@include mq(tw) {
			padding: 3.25rem;
			min-height: 30.5rem;
		}

		@include mq(pw) {
			padding: 2.25rem;
			min-height: 24rem;
		}

		border-bottom: 0.1rem solid rgba(#fff, 0.4);
		border-right: 0.1rem solid rgba(#fff, 0.4);

		&::before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: $dark;
			opacity: 0;
			z-index: -1;
			transition: opacity 0.45s var(--outcirc);
		}

		&:hover {
			&::before {
				opacity: 0.38;
			}

			.products {
				&__helper {
					opacity: 1;
				}

				&__content {
					transform: translateY(0);
				}

				&__logo {
					opacity: 1;
				}

				&__text {
					opacity: 1;
					transform: translateY(0);
				}
			}
		}

		@include mq(pw) {
			.products__helper {
				img {
					width: auto;
					max-width: 75%;
				}
			}
		}
	}

	&__helper {
		opacity: 0.7;
		position: relative;
		width: 100%;
		height: 100%;
		display: flex;
		flex-flow: column;
		justify-content: flex-end;
		overflow: hidden;
		@include hardware;

		&::before {
			content: counter(productNumber, decimal-leading-zero) "  ";
			counter-increment: productNumber;
			position: absolute;
			top: 0;
			left: 0;
			font-family: $bold-font;
			color: #fff;
			letter-spacing: 0.135rem;
			font-size: 1.6rem;
			padding-top: 0.4rem;
			padding-right: 0.1rem;
			border-top: 0.2rem solid $secondary-color;
		}
	}

	&__content {
		transition: transform 0.5s var(--inoutquart);
		transform: translateY(calc(100% - var(--title-height) * 1px));

		@include mq(pw) {
			padding-top: 4rem;
			transform: translateY(calc(100% - var(--title-height) * 1px - 4rem));
		}
	}

	&__logo {
		position: absolute;
		top: 0;
		right: 0;
		opacity: 0;
		transition: 0.45s var(--outcirc);
		max-width: 16rem;
		max-height: 6.5rem;

		@include mq(pw) {
			max-height: 4rem;
		}
	}

	&__title {
		color: #fff;
		font-family: $theme-font;
		//transition: 0.3s var(--inquad);
		font-size: clamp(2rem, 5.2vw, 2.9rem);
		line-height: clamp(2.5rem, 5.2vw, 3.6rem);
	}

	&__text {
		color: #fff;
		opacity: 0;
		margin-bottom: 0;
		margin-top: 1.2rem;
		transform: translateY(1.5rem);
		transition: opacity 0.45s 0.3s var(--outcirc),
			transform 0.45s 0.25s var(--outcirc);
	}
}
