#resources__filter {
	position: relative;
	padding-right: 5rem;

	@include mq(tm) {
		padding-right: 0;
		padding-bottom: 5rem;
	}

	&.loading {
		&::after {
			content: "\f3f4";
			font: 4rem/1 $icon;
			position: absolute;
			color: rgba($dark, 0.4);
			top: 7rem;
			right: 0;
			animation: spin 1s linear infinite;

			@include mq(tw) {
				top: 2rem;
				font-size: 3rem;
				right: -1rem;
			}

			@include mq(tm) {
				font-size: 3rem;
				top: unset;
				bottom: 6rem;
				right: 1rem;
			}

			@include mq(ts) {
				bottom: 3rem;
			}
		}
	}
}
#resources {
	padding-top: 0;
	background: $lightgray;

	+ .contact {
		margin-top: 10rem;

		&::before {
			content: "";
			position: absolute;
			top: -10rem;
			left: 0;
			width: 100%;
			height: 10rem;
			background: $lightgray;
		}
	}

	.filter__area {
		background: #e6e6e6;
	}

	.resources {
		&__filter__item {
			position: relative;

			&s {
				padding-top: 3.3rem;
				max-width: 97rem;
				min-height: 16rem;

				@include mq(tm) {
					row-gap: 1rem;
				}
			}

			small {
				display: block;
				margin-bottom: 0.7rem;
			}
		}

		&__container {
			//margin: 4rem auto 5rem;
			grid-row-gap: 2.4rem;
		}

		&__reset {
			all: unset;
			position: absolute;
			top: 4.7rem;
			right: -6.4rem;
			color: $theme-color;
			font-size: clamp(1.5rem, 5.2vw, 1.6rem);
			cursor: pointer;

			@include mq(ts) {
				right: unset;
				position: relative;
				top: 1.5rem;
				left: 0;
			}
		}

		&__item {
			background: #fff;
			padding: 4rem 4.4rem;

			@include mq(tm) {
				padding: 3rem 3.5rem;
			}

			@include mq(pw) {
				padding: 2.5rem 3rem;
			}

			&::before {
				content: "";
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				box-shadow: 0 0.2rem 5rem 0 rgba($dark, 0.15);
				opacity: 0;
				transition: all 0.4s var(--outquad);
			}

			&:hover {
				&::before {
					opacity: 1;
				}

				.resources {
					&__img {
						transform: scale(1.075);
					}
				}
			}

			@include mq(tw) {
			}

			@include mq(tp) {
			}

			@include mq(pw) {
			}
		}

		&__content {
			height: 14.8rem;

			@include mq(tp) {
			}
		}

		&__meta {
			position: relative;
			height: 2.3rem;
		}

		&__category {
			color: $error-color;
			position: absolute;
		}

		&__date {
			right: 0;
			position: absolute;
		}

		&__title {
			margin-top: 3.7rem;
			margin-bottom: 1.2rem;
			color: $dark;
			max-height: 7.2rem;
			overflow: hidden;

			a {
				color: inherit;
			}
		}

		&__text {
			margin-bottom: 0;
			color: rgba($dark, 0.6);
		}

		&__image {
			position: relative;
			overflow: hidden;
		}

		&__img {
			@include hardware;
			transition: 0.35s var(--outquad);
		}

		&__loader {
			&.button {
				font-size: 1.6rem;
				margin-top: 2rem;
				color: $error-color;
				background: transparent;
				text-transform: uppercase;
				letter-spacing: -0.014rem;

				&::before {
					content: "\f063";
					left: 2.5rem;
					color: inherit;
				}

				&::after {
					content: "\f063";
					color: inherit;
					left: 2.5rem;
					transform: translateY(-2rem);
				}

				&:hover {
					color: $error-color;

					&::after {
						transform: translateX(0);
						transform: translateY(0);
					}
				}
			}
		}

		&__search {
			&__container {
				position: relative;

				&.error {
					&::before {
						content: attr(data-info);
						position: absolute;
						bottom: -2.5rem;
						left: 0;
						color: $theme-color;
						z-index: z("footer");
						font-size: 1.4rem;
					}
				}

				&::after {
					content: "\f002";
					font-family: $regular-icon;
					line-height: 1;
					color: rgba($dark, 0.6);
					position: absolute;
					top: 2rem;
					right: 2rem;
				}
			}
		}
	}
}
