// * Blocks - Resources

.resource {
	&s {
		background: $lightgray;
		padding-top: 7rem;
		padding-bottom: 7rem;

		&__title {
			margin-bottom: 2.5rem;
		}

		&__smalltitle {
			color: rgba($dark, 0.7);
			margin-bottom: 1.3rem;
		}

		&__grid {
			@include mq(tm) {
				row-gap: 3rem;
			}
		}

		&__item {
			&.video {
				cursor: pointer;
			}
		}

		+ .contact {
			&::before {
				content: "";
				position: absolute;
				top: -8rem;
				left: 0;
				width: 100%;
				height: 8rem;
				background: $lightgray;
			}
		}
	}

	&__item {
		height: 12rem;
		background: #fff;
		margin-bottom: 0.8rem;

		&.video {
			cursor: pointer;
		}

		&:last-child {
			margin-bottom: 0;
		}

		&::before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			box-shadow: 0 0.2rem 5rem 0 rgba($dark, 0.15);
			opacity: 0;
			transition: all 0.4s var(--outquad);
		}

		&:hover {
			&::before {
				opacity: 1;
			}
		}
	}

	&__link {
		height: 100%;
		display: block;
	}

	&__title {
		display: flex;
		align-items: center;
		height: 100%;
		padding: 0 3.5rem;
		margin-bottom: 1.3rem;
	}
}

#post__filter {
	position: relative;
	padding-right: 5rem;

	&.loading {
		&::after {
			content: "\f3f4";
			font: 4rem/1 $icon;
			position: absolute;
			color: rgba($dark, 0.4);
			top: 2.5rem;
			right: 0;
			animation: spin 1s linear infinite;

			@include mq(tw) {
				top: 1.5rem;
			}
		}
	}
}
