.rich-text {
	padding-top: 3rem;
	padding-bottom: 3rem;

	.rich-text__text {
		p {
			color: #005479;
			margin-bottom: 1.6rem;

			a {
				padding: 0;
				border-radius: 0;
			}
		}

		ul {
			margin-bottom: 1.6rem;

			li {
				color: #005479;

				a {
					padding: 0;
				}

				&:before {
					background: #005479;
				}
			}
		}
	}

	&.gray-bc {
		background: #f2f2f2;
		padding-top: 5rem;
	}
}
