// * Blocks - ROI

.roi {
	background: $lightgray;

	&__grid {
		grid-template-columns: auto 53rem;
		gap: 8.7rem;
		padding-bottom: 6rem;

		@include mq(ls) {
			grid-template-columns: auto 50rem;
			gap: 3rem;
		}

		@include mq(tm) {
			grid-template-columns: unset;
			gap: 0;
			row-gap: 5rem;
		}
	}

	&__metrics {
	}

	&__input {
		&__header {
			&:first-of-type {
				padding-bottom: 1.4rem;
			}
			&:last-of-type {
				padding-top: 3.7rem;

				@include mq(tm) {
					padding-bottom: 2rem;
				}
			}
		}

		&__container {
			display: grid;
			grid-auto-flow: column;
			grid-template-columns: auto 13.4rem;
			gap: 3rem;
			align-items: center;
			margin-bottom: 0.8rem;
		}

		&__text {
			p {
				margin-bottom: 0;
				color: rgba($dark, 0.65);
				display: inline;

				@include mq(pw) {
					display: block;
				}
			}
		}

		&__info {
			position: relative;
			display: inline;
			padding-left: 0.2rem;

			@include mq(tm) {
				display: none;
			}

			&:hover {
				.roi__input__info__text {
					visibility: visible;
					opacity: 1;
					transform: translateX(0);
				}

				&::before {
					color: $theme-color;
				}
			}

			&::before {
				content: "\f059";
				font: 1.7rem/1 $icon;
				color: rgba($theme-color, 0.65);
				cursor: pointer;
				transition: color 0.3s var(--inquad);
			}

			&__text {
				position: absolute;
				top: -0.8rem;
				left: 2.5rem;
				width: 24rem;
				padding: 1rem 1.4rem;
				font-size: 1.6rem;
				border-radius: 0.4rem;
				background: #fff;
				color: rgba($theme-color, 0.99);
				opacity: 0;
				visibility: hidden;
				z-index: z("main");
				transform: translateX(1rem);
				box-shadow: 0 0.2rem 5rem 0 rgba(28, 28, 28, 0.15);
				transition: transform 0.2s var(--inquad), opacity 0.3s var(--inquad),
					visibility 0.3s;
			}
		}

		&[type="number"] {
			background: #fff;
			border-radius: 0.4rem;
			border: 0.1rem solid #e0dbdb;
			height: 6.5rem;
			text-align: center;
			padding: 1rem 4rem 1rem 1rem;
			color: $theme-color;
		}

		&__wrapper {
			position: relative;

			&::after {
				position: absolute;
				letter-spacing: -0.007rem;
				font-size: 1.9rem;
				color: rgba($dark, 0.65);
				top: 0;
				right: 0;
				width: 4rem;
				height: 100%;
				display: grid;
				align-items: center;
			}
		}
	}

	&__agents,
	&__crm,
	&__uq {
		&::after {
			content: "%";
		}
	}

	&__salary {
		&::after {
			content: "$";
			right: -0.3rem;
		}
	}

	&__calc {
		display: grid;
		align-items: start;
		grid-template-rows: min-content;

		&__shell {
			background: #fff;
			padding: 3.2rem 1.7rem 1rem;
			margin-bottom: 2.5rem;

			@include mq(pw) {
				padding-left: 0;
				padding-right: 0;
			}
		}

		&__header {
			margin-bottom: 1.5rem;
		}

		&__title {
			color: $dark;
			padding-left: 1.7rem;
		}

		&__interval {
			display: inline-grid;
			grid-auto-flow: column;
			gap: 3.7rem;
			padding: 0 1.7rem 1.5rem;

			@include mq(ps) {
				gap: 2rem;
			}

			&__item {
				font: 1.3rem/1.4 $bold-font;
				text-transform: uppercase;
				color: rgba($theme-color, 0.6);
				letter-spacing: 0.083rem;
				cursor: pointer;
				@include unselectable;

				&.active {
					color: $theme-color;
					cursor: default;
				}
			}
		}

		&__summary {
			padding-left: 1.7rem;
			padding-right: 1.7rem;
			border-radius: 0.4rem;
			background: rgba($theme-color, 0.15);

			@include mq(pw) {
				border-radius: 0;
			}

			&__item {
				display: grid;
				grid-template-columns: auto 16rem;
				gap: 1.6rem;
				align-items: center;
				position: relative;
				padding: 1.5rem 0;

				@include mq(pw) {
					grid-template-columns: auto 13rem;
				}

				&:not(:last-child) {
					&::after {
						content: "";
						position: absolute;
						bottom: 0;
						left: 0;
						width: 100%;
						height: 0.1rem;
						background: rgba($theme-color, 0.2);
					}
				}
			}

			&__title {
				margin-bottom: 0;
				color: $theme-color;
			}

			&__value {
				justify-self: end;
				font-size: clamp(2rem, 4.2vw, 2.3rem);
				color: $theme-color;
			}
		}

		&__item {
			padding: 1.5rem 1.7rem;
			position: relative;

			&:not(:last-child) {
				&::after {
					content: "";
					position: absolute;
					bottom: 0;
					left: -1.7rem;
					width: calc(100% + 3.4rem);
					height: 0.1rem;
					background: rgba($dark, 0.2);

					@include mq(ps) {
						left: 0;
						width: 100%;
					}
				}
			}

			&__container {
				display: grid;
				grid-template-columns: auto 12rem;
				gap: 1.6rem;
				align-items: center;
				position: relative;
				padding: 0.75rem 0;

				@include mq(pw) {
					grid-template-columns: auto 10rem;
				}
			}

			&__text {
				color: rgba($dark, 0.65);
				margin-bottom: 0;

				&.small {
					font-size: clamp(1.5rem, 4.2vw, 1.6rem);
					color: rgba($dark, 0.55);
				}
			}

			&__amount {
				color: $theme-color;
				justify-self: end;

				&.small {
					font-size: clamp(1.5rem, 4.2vw, 1.6rem);
				}
			}
		}

		&__button {
			margin-bottom: 2.5rem;
		}

		&__info {
			font-size: clamp(1.5rem, 5.2vw, 1.6rem);
			color: rgba($dark, 0.5);
			align-self: end;
			margin-bottom: 0.5rem;
		}
	}
}
