// * Blocks - Subheader

.sub-header {
	display: grid;
	grid-template-columns: 100px 20px auto;
	align-items: center;

	img {
		max-width: 81px;
	}

	.vline {
		width: 3.5px;
		height: 55px;
		background-color: $blue;
		align-self: center;
	}

	h2 {
		color: $blue;
		font-family: "SB";
		font-size: 3rem;
		line-height: 3rem;
		margin: 0 !important;
		font-weight: 900;
	}

	@media (max-width: 470px) {
		grid-template-columns: 80px 20px auto;

		img {
			max-width: 65px;
		}

		h2 {
			font-size: 2.2rem;
			line-height: 2.4rem;
		}
	}
}

p + .sub-header {
	margin-top: 60px;
	margin-bottom: 20px;
}
