// * Blocks - Testimonials

.testimonial {
	&s {
		//margin: 12rem auto;
		background: $blue;
		padding-top: 6.2rem;
		padding-bottom: 4rem;

		.navigation__area {
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			//text-align: center;
			display: grid;
			justify-content: center;
		}
	}

	&__wrapper {
		padding-bottom: 7.2rem;
	}

	&__container {
		position: relative;

		&.history {
			&::before {
				content: "";
				background: linear-gradient(to right, $blue, rgba($blue, 0));
				position: absolute;
				top: 0;
				left: 0;
				width: 10vw;
				height: 100%;
				z-index: z("main");

				@include mq(tp) {
					content: none;
				}
			}
		}

		&::after {
			content: "";
			background: linear-gradient(to left, $blue, rgba($blue, 0));
			position: absolute;
			top: 0;
			right: 0;
			width: 10vw;
			height: 100%;
			z-index: z("main");

			@include mq(tp) {
				content: none;
			}
		}
	}

	&__slide {
		max-width: 87rem;
		min-height: 29.6rem;
		padding: 4rem;
		background: rgba(#fff, 0.3);
		opacity: 0.6;

		@include mq(ts) {
			padding: 3rem;
			min-height: 35rem;
		}

		&.swiper-slide-active {
			transition: 0.4s var(--inoutquad);
			opacity: 1;
		}
	}

	&__content {
		//max-width: 76rem;
	}

	&__year {
		color: $secondary-color;
		font-family: $light-font;
		letter-spacing: -0.04rem;
		font-size: clamp(5rem, 5.2vw, 6.6rem);
		line-height: 0.8;
		//line-height: clamp(2.8rem, 5.2vw, 4.4rem);
	}

	&__text_and_image {
		display: flex;
		flex-direction: row-reverse;
		align-items: center;
		column-gap: 10px;
		margin-bottom: 40px;

		@include mq(ts) {
			display: block;
			margin-bottom: 0;
		}
	}

	&__text {
		color: #fff;
		letter-spacing: -0.025rem;
		// height: 17rem;
		// overflow-y: auto;

		@include mq(ts) {
			min-height: 18.25rem;
		}

		&.history {
			height: 9rem;
			overflow-y: auto;
			padding-right: 5px;
			width: 100%;

			@include mq(ts) {
				height: 12rem;
				padding-right: 10px;
			}

			&::-webkit-scrollbar {
				width: 0.4rem;
				opacity: 0;
				background: rgba(#fff, 0.35);
			}

			&::-webkit-scrollbar-track {
				opacity: 0;
			}

			&::-webkit-scrollbar-thumb {
				background-color: rgba(#fff, 0.65);
				opacity: 0;
			}
		}
	}

	&__image {
		max-width: 150px;
		max-height: 110px;

		@include mq(ts) {
			float: right;
			margin-left: 10px;
			margin-bottom: 10px;
		}
	}

	&__link {
		position: absolute;
		bottom: -1rem;

		&.read__more {
			color: #fff;

			@include mq(ts) {
				display: block;
				display: inline-block;
			}
		}
	}

	&__credit {
		position: absolute;
		bottom: 4.8rem;
		color: rgba(#fff, 0.4);
		padding-right: 2rem;

		&.to__right {
			right: 4.5rem;
		}

		@include mq(ts) {
			display: block;
			margin-top: 20px;
			position: static;
		}
	}

	&__subtitle {
		display: block;
		margin-top: 3.2rem;
		margin-bottom: 1.8rem;
		color: rgba(#fff, 0.4);
	}
}
