// * Blocks - Trusted by

.trusted__by {
	padding-bottom: 8rem;
	&__grid {
		@include mq(ls) {
			gap: 5vw;
		}
	}

	&__item {
		width: auto;
		height: 8rem;
		overflow: hidden;
		@include hardware;

		&.active {
			display: grid;
			align-items: center;
			justify-content: center;
		}

		&.is-active {
			.trusted__by__logo {
				animation: itemOut 0.45s forwards var(--inquad);
			}
		}
	}

	&__logo {
		width: auto;
		max-height: 8rem;
		filter: grayscale(100%);
		transition: 0.2s;
		animation: itemIn 0.45s 0.25s backwards var(--outquad);

		&:hover {
			filter: grayscale(0);
		}

		/*&.has-moved {
			transform: translate3d(0, 0, 0);
			transition: transform 0.32s var(--outcirc);
		}*/
	}

	&__title {
		margin-bottom: 5rem;
		font-family: $bold-font;
		font-size: clamp(2.3rem, 5.2vw, 4.1rem);
		line-height: clamp(2.8rem, 5.2vw, 4.4rem);
	}
}

@keyframes itemIn {
	from {
		transform: translate3d(0, -25%, 0);
		opacity: 0;
	}
}
@keyframes itemOut {
	to {
		transform: translate3d(0, 25%, 0);
		opacity: 0;
	}
}
