// * Blocks - Video List

.video__list {
	margin-bottom: 2.2rem;

	&__grid {
		min-height: 21.6rem;
		background: $lightgray;
		grid-auto-flow: column;
		margin-bottom: 0.8rem;
		align-items: center;
		grid-template-columns: auto 31rem;
		padding: 0 2.5rem 0 4.2rem;

		@include mq(ts) {
			grid-template-columns: auto;
			grid-auto-flow: unset;
			padding: 3rem;
		}

		@include mq(pw) {
			padding: 2.5rem;
		}
	}

	&__item {
	}

	&__title {
		max-width: 30rem;

		@include mq(ts) {
			max-width: 100%;
		}
	}

	&__youtube {
		iframe {
			@include mq(ts) {
				max-width: 100%;
			}
		}
	}
}
