.postbox-header {
	pointer-events: none;
}

#edit-slug-box {
	display: none;
}

.postbox-header .handle-actions {
	visibility: hidden;
}

.misc-pub-section.keyword-score {
	display: none;
}

.post-type-testimonials #preview-action,
.post-type-team #preview-action {
	display: none;
}

.post-type-events .category-tabs,
.post-type-events #topic-adder,
.post-type-events #coaching-type-adder,
.post-type-events #content-type-adder,
.post-type-events .misc-pub-curtime {
	display: none;
}

/* FIRST LEVEL MENU ITEMS */
.menu-item-depth-0 .acf-menu-item-fields .acf-field {
	display: none;
}
.menu-item-depth-0 .acf-menu-item-fields .acf-field[data-name='top_menu_icon'],
.menu-item-depth-0 .acf-menu-item-fields .acf-field[data-name='mega_sidebar_menu_icon'],
.menu-item-depth-0 .acf-menu-item-fields .acf-field[data-name='icon_weight'] {
	display: block !important;
}

/* SECOND LEVEL MENU ITEMS */
.menu-item-depth-1 .acf-menu-item-fields .acf-field:not([data-name='hidden']) {
	display: none;
}
.menu-item-depth-1 .acf-menu-item-fields .acf-field[data-name='mega_menu_item_type'] {
	display: block !important;
}

/* THIRD LEVEL MENU ITEMS */
.menu-item-depth-2 .acf-menu-item-fields .acf-field[data-name='mega_menu_item_type'],
.menu-item-depth-2 .acf-menu-item-fields .acf-field[data-name='text'] {
	display: none;
}


/* .menu-item-depth-1 .acf-menu-item-fields,
.menu-item-depth-2 .acf-menu-item-fields,
.menu-item-depth-3 .acf-menu-item-fields,
.menu-item-depth-4 .acf-menu-item-fields {
	display: none;
} */

/* Remove Taxonomy Search & Add Function via CSS */
.editor-post-taxonomies__hierarchical-terms-add {
	display: none;
}

/* Custom Textarea Fonts */
div[data-name="content_text"] textarea,
div[data-name="gadgets_big_title"] textarea {
	font-size: 2rem;
	font-weight: bold;
	color: #005479;
}

/* Show Icons */
div[data-name^="social_icon"] input {
	font-family: "FAB";
	text-align: center;
}
div[data-name^="column_icon"] input,
div[data-name^="button_icon"] input,
div[data-name^="list_icon"] input,
div[data-name^="menu_icon"] input {
	font-family: "FAL";
	text-align: center;
}

div[data-name^="contact_menu_button_menu_icon"] input,
div[data-name^="top_menu_icon"] input,
div[data-name^="mega_sidebar_menu_icon"] input  {
	font-family: "FAL";
}

div[data-name^="social_icon"] input,
div[data-name^="button_icon"] input {
	font-size: 1.2rem !important;
}

div[data-name^="list_icon"] input {
	font-size: 2rem !important;
	text-align: left;
	color: #ff3233;
}
div[data-name^="menu_icon"] input {
	font-size: 1rem !important;
	text-align: left;
	color: #000E79;
}
.button.red {
	background: red !important;
}

.wp-core-ui p .button.red {
	background: rgba(255, 50, 51, 0.9) !important;
	color: #fff;
	border-radius: 0.8rem !important;
	border: 0 !important;
	padding: 0.5rem 2rem !important;
	font-size: 1rem !important;
}

.editor-styles-wrapper h2,
.editor-styles-wrapper h3,
.editor-styles-wrapper h4 {
	font-weight: normal;
	color: #005479;
}

.wp-block-freeform.block-library-rich-text__tinymce blockquote {
	margin-top: 40px;
	margin-bottom: 40px;
	border: 0;
	padding-left: 0;
}
.wp-block-freeform.block-library-rich-text__tinymce blockquote p {
	color: #005479;
	font-size: 24px;
	line-height: 1.5;
	margin-bottom: 40px;
}

/* F o n t A w e s o m e  ( 5 )
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%*/

@font-face {
	font-family: "FAR";
	font-display: swap;
	font-style: normal;
	font-weight: 600;
	src: url("../../fonts/fa-regular-400.eot");
	src: url("../../fonts/fa-regular-400.eot?#iefix") format("embedded-opentype"),
		url("../../fonts/fa-regular-400.woff2") format("woff2"),
		url("../../fonts/fa-regular-400.woff") format("woff"),
		url("../../fonts/fa-regular-400.ttf") format("truetype"),
		url("../../fonts/fa-regular-400.svg#fontawesome") format("svg");
}

@font-face {
	font-family: "FAB";
	font-display: swap;
	font-style: normal;
	font-weight: 400;
	src: url("../../fonts/fa-brands-400.eot");
	src: url("../../fonts/fa-brands-400.eot?#iefix") format("embedded-opentype"),
		url("../../fonts/fa-brands-400.woff2") format("woff2"),
		url("../../fonts/fa-brands-400.woff") format("woff"),
		url("../../fonts/fa-brands-400.ttf") format("truetype"),
		url("../../fonts/fa-brands-400.svg#fontawesome") format("svg");
}

@font-face {
	font-family: "FAS";
	font-display: swap;
	font-style: normal;
	font-weight: 900;
	src: url("../../fonts/fa-solid-900.eot");
	src: url("../../fonts/fa-solid-900.eot?#iefix") format("embedded-opentype"),
		url("../../fonts/fa-solid-900.woff2") format("woff2"),
		url("../../fonts/fa-solid-900.woff") format("woff"),
		url("../../fonts/fa-solid-900.ttf") format("truetype"),
		url("../../fonts/fa-solid-900.svg#fontawesome") format("svg");
}

@font-face {
	font-family: "FAL";
	font-display: swap;
	font-style: normal;
	font-weight: 900;
	src: url("../../fonts/fa-light-300.eot");
	src: url("../../fonts/fa-light-300.eot?#iefix") format("embedded-opentype"),
		url("../../fonts/fa-light-300.woff2") format("woff2"),
		url("../../fonts/fa-light-300.woff") format("woff"),
		url("../../fonts/fa-light-300.ttf") format("truetype"),
		url("../../fonts/fa-light-300.svg#fontawesome") format("svg");
}
