/* Block — Editor */
.wp-block {
	max-width: 1300px;
}

.wp-block[data-align="full"] {
	max-width: 100%;
}

/* Block — Image Uploader */
.acf-field-5fde5c27e328c .acf-image-uploader,
.acf-field-5fde285c4c716 .acf-image-uploader {
	display: flex;
	justify-content: center;
}

/* Block — Event Summary / 2 */
.acf-fields > .acf-field.acf-field-5fde5c27e328c,
.acf-fields > .acf-field.acf-field-5fde285c4c716 {
	padding-bottom: 0;
}

.acf-field-5fde5c27e328c .acf-table,
.acf-field-5fde5c27e6d08 .acf-table,
.acf-field-5fde2b8214e9f .acf-table,
.acf-field-5fde285c4c716 .acf-table {
	border: 0;
}

.acf-field-5fde5c27e328c .acf-table > tbody > tr > td,
.acf-field-5fde5c27e6d08 .acf-table > tbody > tr > td,
.acf-field-5fde2b8214e9f .acf-table > tbody > tr > td,
.acf-field-5fde285c4c716 .acf-table > tbody > tr > td {
	border: 0;
}

.acf-field-5fde5c27e328c .acf-image-uploader .image-wrap:hover .acf-actions,
.acf-field-5fde285c4c716 .acf-image-uploader .image-wrap:hover .acf-actions {
	display: none;
}

.acf-field-5fde5c27e328c .acf-image-uploader .image-wrap img,
.acf-field-5fde285c4c716 .acf-image-uploader .image-wrap img {
	background: transparent;
}

.acf-fields > .acf-field.acf-field-5fde5c27e6d08,
.acf-fields > .acf-field.acf-field-5fde2b8214e9f {
	padding-top: 0;
	border-top: 0;
}

.acf-field.acf-field-5fde5c27e6d08 textarea,
.acf-field.acf-field-5fde2b8214e9f textarea {
	text-align: center;
}

.acf-field-5fde5c27e328c .acf-table > tbody > tr > td,
.acf-field-5fde285c4c716 .acf-table > tbody > tr > td {
	width: 20%;
}

.acf-field-5fde5c27e328c .acf-table > thead > tr > th,
.acf-field-5fde5c27e6d08 .acf-table > thead > tr > th,
.acf-field-5fde285c4c716 .acf-table > thead > tr > th,
.acf-field-5fde2b8214e9f .acf-table > thead > tr > th {
	display: none;
}

.acf-image-uploader .image-wrap {
	float: none;
}
.acf-image-uploader .image-wrap img {
	margin: 0 auto;
}
