// egyelőre nem enqueue-olom ezt a fájlt, de itthagyom, hátha később kelleni fog

body.post-type-page {
	.block-editor {
		#editor {
			.interface-interface-skeleton__sidebar {
				.components-panel {
					#icl_div {
						visibility: hidden;
					}
				}
			}
		}
	}
}
