// * Globals - Globals

//===== Theme Fonts =====

$light-font: "SL";
$regular-font: "SR";
$theme-font: "SR";
$semibold-font: "SSB";
$bold-font: "SB";
$black-font: "SB";
$alt-font: "SB";
$icon: "FAL";
$bold-icon: "FAS";
$social-icon: "FAB";
$regular-icon: "FAR";

//===== Theme Colors =====

$dark: #1c1c1c;
$darkest: #111;
$gray: #7f7f7f;
$midgray: #d8d8d8;
$mediumgray: #979797;
$darkgray: #808080;
$lightgray: #f2f2f2;
$font-color: #353535;
$theme-color: #005479;
$secondary-color: #00cdcc;
$blue: #000e79;
$nav-color: #fff;
$nav-bg-color: darken($nav-color, 5);
$footer-color: #b4d5ff;
$success-color: #009688;
$error-color: #ff3233;

//===== Theme Sizes =====

// Header
$header-width: 130rem;
$header-height: 6rem;
$logo-width: 11.5rem;

// Desktop
$wide-width: 144rem;

// Inner
$inner-width: 130rem;

// Narrow
$narrow-width: 108rem;

// Sidebar
$sidebar-width: 30rem;

// FAQ
$faq-width: 130rem;

// Single - Post
$single-width: 100rem;

// Comment
$comment-width: 100rem;

//===== Root Vars =====
:root {
	--inoutquart: cubic-bezier(0.75, 0, 0.17, 1);
	--inoutquad: cubic-bezier(0.45, 0.03, 0.5, 0.95);
	--inquad: cubic-bezier(0.55, 0.08, 0.7, 0.5);
	--outquad: cubic-bezier(0.25, 0.46, 0.45, 0.94);
	--outcirc: cubic-bezier(0, 0.55, 0.45, 1);
	--inoutcirc: cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

//===== Icons =====
[data-icon],
[class^="icon"],
[class*=" icon"] {
	&::before {
		font-family: $icon;
		content: attr(data-icon);
		font-style: normal;
		font-weight: normal;
		font-variant: normal;
		text-transform: none;
		speak: none; // accessibility
		line-height: 1;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}

	&.fa-light {
		&:before {
			font-family: "FAL";
			font-weight: 300;
		}
	}

	&.fa-regular {
		&:before {
			font-family: "FAR";
			font-weight: 400;
		}
	}

	&.fa-solid {
		&:before {
			font-family: "FAS";
			font-weight: 900;
		}
	}

	&.fa-regular.fa-sharp {
		&:before {
			font-family: "FASR";
			font-weight: 400;
		}
	}

	&.fa-brands {
		&:before {
			font-family: "FAB";
			font-weight: 400;
		}
	}
}

// IOS zoom fix
@media screen and (-webkit-min-device-pixel-ratio: 0) and (max-device-width: 1024px) {
	select,
	textarea,
	input[type="text"],
	input[type="password"],
	input[type="datetime"],
	input[type="datetime-local"],
	input[type="date"],
	input[type="month"],
	input[type="time"],
	input[type="week"],
	input[type="number"],
	input[type="email"],
	input[type="url"],
	input[type="search"],
	input[type="tel"],
	input[type="color"] {
		font-size: 16px;
		-webkit-appearance: none;
	}
}

// Screen reader
.screen-reader-text,
.screen-reader-response {
	border: 0;
	clip: rect(0.1rem, 0.1rem, 0.1rem, 0.1rem);
	clip-path: inset(50%);
	height: 0.1rem;
	margin: -0.1rem;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 0.1rem;
	word-wrap: normal !important;

	&:focus {
		background-color: #eee;
		clip: auto !important;
		clip-path: none;
		color: #444;
		display: block;
		font-size: 1rem;
		height: auto;
		left: 0.5rem;
		line-height: normal;
		padding: 1.5rem 2.3rem 1.4rem;
		text-decoration: none;
		top: 0.5rem;
		width: auto;
		z-index: 100000; /* Above WP toolbar. */
	}
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	font-size: 100%;
	vertical-align: baseline;
}

audio,
canvas,
progress,
video {
	display: inline-block;
}

canvas {
	display: block;
	height: 100%;
	width: 100%;
}

audio:not([controls]) {
	display: none;
	height: 0;
}

progress {
	vertical-align: baseline;
}

html {
	line-height: 1;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

ol,
ul {
	position: relative;
	list-style: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

caption,
th,
td {
	text-align: left;
	font-weight: 400;
	vertical-align: middle;
}

q,
blockquote {
	quotes: none;
}

q:before,
q:after,
blockquote:before,
blockquote:after {
	content: "";
	content: none;
}

a img {
	border: none;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary {
	display: block;
}

abbr[title] {
	border-bottom: none;
	text-decoration: underline;
	text-decoration: underline dotted;
}

svg:not(:root) {
	overflow: hidden;
}

svg:not(:root) {
	overflow: hidden;
}

code,
kbd,
pre,
samp {
	font-family: monospace, monospace;
	font-size: 1.8rem;
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
	-webkit-appearance: button;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
	height: auto;
}

[type="search"] {
	-webkit-appearance: textfield;
	outline-offset: -0.2rem;
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

::-webkit-input-placeholder {
	color: inherit;
}

::-webkit-file-upload-button {
	-webkit-appearance: button;
	font: inherit;
}

::-moz-selection {
	background: $dark;
	color: #fff;
	text-shadow: none;
}

::selection {
	background: $dark;
	color: #fff;
	text-shadow: none;
}

button::-moz-focus-inner {
	border: 0;
}

:focus {
	outline: none;
}

a::-moz-focus-inner {
	border: 0;
}

// Box sizing
*,
*:after,
*:before {
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
}

// Clear
.clear:before,
.clear:after {
	content: " ";
	display: table;
}

.clear:after {
	clear: both;
}

.clear {
	*zoom: 1;
}

img {
	max-width: 100%;
	height: auto;
}

a:focus {
	outline: 0;
}

a:hover,
a:active {
	outline: 0;
}

input:focus {
	outline: 0;
	border: 0.1rem solid $dark;
}

select {
	width: 100%;
}

*,
:focus {
	outline: 0;
}

.hidden {
	display: none;
}

.text-center {
	text-align: center;
}

// Description List
dl {
	dt {
		font-size: 1.4rem;
		font-family: $bold-font;
	}

	dd {
		font-size: 1.4rem;

		p {
			font-size: inherit;
			margin: 0;
		}
	}
}

// Text align
.text {
	&__center {
		text-align: center;
		margin: 0 auto;

		h1 {
			&::after {
				right: 0;
			}
		}
	}

	&__right {
		text-align: right;
		margin-left: auto;

		h1 {
			&::after {
				left: unset !important;
				right: 0;
			}
		}
	}
}

// #endregion

// HTML
html {
	scroll-behavior: smooth;
	font-size: 62.5%;
	min-height: 100%;
	text-rendering: optimizeLegibility;
	cursor: default;
}

// BODY
body {
	font: 400 16pt/1.5 $theme-font;
	text-size-adjust: none;
	color: #000;
	margin: 0;
	background: #fff;
	height: 100%;
	min-height: 100%;
	overflow-x: hidden;
	overflow-y: scroll;
}

// Highlight
h1,
h2,
h3,
h4,
h5,
h6 {
	position: relative;
	color: $theme-color;

	span {
		//color: $secondary-color;
	}

	&.h1 {
		font-family: $bold-font;
		font-size: clamp(2.3rem, 5.2vw, 4.1rem);
		line-height: clamp(2.8rem, 5.2vw, 4.4rem);
	}

	&.h2 {
		font-size: clamp(2rem, 5.2vw, 2.9rem);
		line-height: clamp(2.5rem, 5.2vw, 3.6rem);
	}

	&.h3 {
		font-size: clamp(1.7rem, 5.2vw, 2.3rem);
		line-height: clamp(2.3rem, 5.2vw, 2.8rem);
	}
}

h1 {
	font-family: $bold-font;
	font-size: clamp(2.3rem, 5.2vw, 4.1rem);
	line-height: clamp(2.8rem, 5.2vw, 4.4rem);

	&.hero__title {
		font-size: clamp(4rem, 5.2vw, 7.5rem);
		line-height: clamp(3rem, 5.2vw, 6rem);
	}
}

h2 {
	font-size: clamp(2rem, 5.2vw, 2.9rem);
	line-height: clamp(2.5rem, 5.2vw, 3.6rem);

	&.big__title {
		font-family: $light-font;
		font-size: clamp(6.4rem, 15.2vw, 8.4rem);
		line-height: clamp(6.8rem, 5.2vw, 8.8rem);
	}
}

h3 {
	font-size: clamp(1.7rem, 5.2vw, 2.3rem);
	line-height: clamp(2.3rem, 5.2vw, 2.8rem);
}

h4 {
	font-size: 1.8rem;

	@include mq(ls) {
		font-size: 1.6rem;
	}
}

small {
	font-size: clamp(1.5rem, 5.2vw, 1.6rem);
	color: rgba($dark, 0.5);
}

.red {
	color: $error-color;
}

.small {
	&__title {
		position: relative;
		display: block;
		font-family: $bold-font;
		font-size: clamp(1.1rem, 2.2vw, 1.3rem);
		line-height: clamp(2.8rem, 5.2vw, 4.4rem);
		letter-spacing: 0.083rem;
		text-transform: uppercase;
		color: $secondary-color;
		padding: 0;
		margin-bottom: 1.8rem;

		&::before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			margin: 0 auto;
			width: 2rem;
			height: 0.2rem;
			background: $secondary-color;
		}
	}
}

h5 {
	font-size: 1.6rem;
}

h6 {
	font-size: 1.4rem;
}

// Entry Title / Content
.entry {
	&__title {
		position: relative;
		margin-bottom: 5rem;
		font-family: $bold-font;
		font-size: clamp(2.3rem, 5.2vw, 4.1rem);
		line-height: clamp(2.8rem, 5.2vw, 4.4rem);

		@include mq(ps) {
			margin-bottom: 3.5rem;
		}

		br {
			@include mq(tp) {
				display: none;
			}
		}
	}
	&__content {
		ul,
		ol {
			padding-bottom: 3rem;

			li {
				padding-left: 2.5rem;

				&::before {
					content: "";
					position: absolute;
					top: 1rem;
					left: 0;
					width: 0.8rem;
					height: 0.8rem;
					background: $secondary-color;
				}
			}
		}
	}
}

// Grid
.grid {
	display: grid;

	&.col__2 {
		grid-template-columns: repeat(2, 1fr);

		@include mq(ts) {
			grid-template-columns: auto;
		}
	}

	&.col__3 {
		grid-template-columns: repeat(3, 1fr);

		@include mq(tm) {
			grid-template-columns: repeat(2, 1fr);
		}

		@include mq(ts) {
			grid-template-columns: auto;
		}
	}

	&.col__4 {
		grid-template-columns: repeat(4, 1fr);

		@include mq(tm) {
			grid-template-columns: repeat(2, 1fr);
		}

		@include mq(ts) {
			grid-template-columns: auto;
		}
	}

	&.col__5 {
		grid-template-columns: repeat(5, 1fr);
	}

	&.col__6 {
		grid-template-columns: repeat(6, 1fr);

		@include mq(tp) {
			grid-template-columns: repeat(3, 1fr);
		}

		@include mq(ts) {
			grid-template-columns: repeat(2, 1fr);
		}

		@include mq(ps) {
			grid-template-columns: auto;
		}
	}

	&.col__7 {
		grid-template-columns: repeat(7, 1fr);
	}

	&.col__8 {
		grid-template-columns: repeat(8, 1fr);
	}

	&.gap__1 {
		grid-column-gap: 1rem;
	}

	&.gap__2 {
		grid-column-gap: 2rem;
	}

	&.gap__3 {
		grid-column-gap: 3rem;
	}
}

// Max width
.maxwidth {
	@for $i from 86 through 130 {
		@for $j from 0 through 9 {
			&__#{$i}#{$j} {
				max-width: #{$i}#{"."}#{$j}rem;
			}
		}
	}
}

// Padding Top
.pt {
	@for $i from 1 through 20 {
		@for $j from 0 through 9 {
			&__#{$i}#{$j} {
				padding-top: #{$i}#{"."}#{$j}rem;
			}
		}
	}
}

// Padding Left
.pl {
	@for $i from 1 through 3 {
		@for $j from 0 through 9 {
			&__#{$i}#{$j} {
				padding-left: #{$i}#{"."}#{$j}rem;
			}
		}
	}
}

// Padding Left
.pr {
	@for $i from 1 through 3 {
		@for $j from 0 through 9 {
			&__#{$i}#{$j} {
				padding-right: #{$i}#{"."}#{$j}rem;
			}
		}
	}
}

// Padding Bottom
.pb {
	@for $i from 1 through 20 {
		@for $j from 0 through 9 {
			&__#{$i}#{$j} {
				padding-bottom: #{$i}#{"."}#{$j}rem;
			}
		}
	}
}

// Margin Top
.mt {
	@for $i from 1 through 20 {
		@for $j from 0 through 9 {
			&__#{$i}#{$j} {
				margin-top: #{$i}#{"."}#{$j}rem;
			}
		}
	}
}

// Margin Left
.ml {
	@for $i from 1 through 3 {
		@for $j from 0 through 9 {
			&__#{$i}#{$j} {
				margin-left: #{$i}#{"."}#{$j}rem;
			}
		}
	}
}

// Margin Right
.mr {
	@for $i from 1 through 3 {
		@for $j from 0 through 9 {
			&__#{$i}#{$j} {
				margin-right: #{$i}#{"."}#{$j}rem;
			}
		}
	}
}

// Margin Bottom
.mb {
	@for $i from 1 through 20 {
		@for $j from 0 through 9 {
			&__#{$i}#{$j} {
				margin-bottom: #{$i}#{"."}#{$j}rem;
			}
		}
	}
}

b,
strong,
.bold,
.strong {
	font-family: $bold-font;
}

em,
i {
	font-style: italic;
}

hr {
	border: 0;
	height: 0.1rem;
	background: $mediumgray;
	margin: 6rem auto;

	&.small {
		width: 4.2rem;
		height: 0.4rem;
		background: $theme-color;
		margin: 4rem auto;

		&.secondary {
			background: $secondary-color;
		}
	}

	&.thick {
		height: 0.2rem;
	}
}

a {
	text-decoration: none;

	&.custom__link {
		font-size: clamp(1.7rem, 2.2vw, 1.9rem);
		line-height: clamp(2.2rem, 2.2vw, 2.5rem);
		text-decoration: none;
		position: relative;
		background-image: linear-gradient(
			to right,
			rgba($error-color, 0.6) 50%,
			transparent 0
		);
		background-size: 200% 0.2rem;
		background-repeat: repeat-x;
		background-position: 0 100%;
		padding-bottom: 0.6rem;
		transition: background-position 0.75s var(--inoutquad);

		&:hover {
			background-position: -200% 100%;
		}
	}

	&.absolute {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: z("footer");
	}

	&.read__more {
		margin-left: 2.7rem;
		font-size: clamp(1.5rem, 4.2vw, 1.9rem);
		line-height: clamp(2.2rem, 4.2vw, 2.5rem);
		color: $theme-color;
		text-decoration: none;
		position: relative;
		background-image: linear-gradient(
			to right,
			rgba($error-color, 0.6) 50%,
			transparent 0
		);
		background-size: 200% 0.2rem;
		background-repeat: repeat-x;
		background-position: 0 100%;
		padding-bottom: 0.6rem;
		transition: background-position 0.75s var(--inoutquad);

		&:hover {
			background-position: -200% 100%;
		}

		&::before {
			content: "\f178";
			font: 1.7rem/1 $icon;
			color: $error-color;
			position: absolute;
			top: -0.3rem;
			left: -2.7rem;
			display: flex;
			height: 100%;
			align-items: center;
			@include hardware();
		}

		&[href^="tel:"] {
			&::before {
				content: "\f095";
				top: 0;
			}
		}

		&[href^="mailto:"] {
			&:not(.write__us) {
				&::before {
					content: "\f0e0";
					top: 0;
				}
			}
		}

		&[href^="https://www.linkedin.com"],
		&[href^="https://linkedin.com"],
		&[href^="http://www.linkedin.com"],
		&[href^="http://linkedin.com"]
		{
			&::before {
				content: "\f08c";
				font-family: $social-icon;
				top: 0;
			}
		}

		&.bshub {
			&::before {
				content: "\f007";
			}
		}

		&.white {
			color: #fff;

			&::before {
				color: rgba(255, 255, 255, 0.7);
			}
		}

		&.dark {
			color: $dark;

			&::before {
				color: rgba($dark, 0.7);
			}
		}
	}
}

// Tel, Email, PDF, DOC...
p {
	margin: 0 0 3rem;
	padding: 0;
	color: $font-color;
	font-size: clamp(1.5rem, 4.2vw, 1.9rem);
	line-height: clamp(2.2rem, 5.2vw, 2.5rem);

	&.no__margin {
		@include mq(pw) {
			margin-bottom: 0;
		}
	}

	a {
		color: $theme-color;
		text-decoration: none;
		position: relative;
		background-image: linear-gradient(
			to right,
			rgba($error-color, 0.7) 50%,
			transparent 0
		);
		background-size: 200% 0.2rem;
		background-repeat: repeat-x;
		background-position: 0 100%;
		padding-bottom: 0.6rem;
		transition: background-position 0.75s var(--inoutquad);

		&:hover {
			background-position: -200% 100%;
		}
		/*
		&[href^="tel:"] {
			&::before {
				content: "\f3ce";
			}
		}

		&[href^="mailto:"] {
			&::before {
				content: "\f1fa";
			}
		}

		&[href$=".pdf"] {
			&::before {
				content: "\f1c1";
			}
		}
		&[href$=".doc"],
		&[href$=".docx"] {
			&::before {
				content: "\f1c2";
			}
		}*/
	}
}

#main {
	background: #fff;
	position: relative;
	margin: 0 auto;
	min-height: calc(100vh - 20rem);
	display: block;
	transition: transform 0.45s cubic-bezier(0.3, 0, 0.15, 1);
}

.inner {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	max-width: $inner-width;

	@include mq(lw) {
		max-width: calc(100% - 12.4rem);
	}

	@include mq(tm) {
		max-width: calc(100% - 6.8rem);
	}

	@include mq(ts) {
		max-width: calc(100% - 5rem);
	}

	&.wide {
		max-width: $wide-width;
	}

	&.narrow {
		max-width: $narrow-width;

		@include mq(ls) {
			max-width: calc(100% - 12.4rem);
		}

		@include mq(tm) {
			max-width: calc(100% - 6.8rem);
		}

		@include mq(ts) {
			max-width: calc(100% - 5rem);
		}
	}

	&.full {
		max-width: 100%;
	}
}

section {
	position: relative;
	margin: 0 auto;
	padding-top: 5rem;
}

article {
	position: relative;
}

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
	color: #000;
}

sup {
	top: -0.5em;
}

img {
	vertical-align: middle;

	&[src$="svg"] {
		width: auto;
	}
}

input.text,
input.title,
input[type="email"],
input[type="password"],
input[type="tel"],
input[type="text"],
select,
textarea {
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
}

button,
input,
optgroup,
select,
textarea {
	color: inherit;
	font: inherit;
	margin: 0;
}

ul,
ol {
	li {
		color: $font-color;
		font-size: clamp(1.5rem, 4.2vw, 1.9rem);
		line-height: clamp(2.2rem, 5.2vw, 2.5rem);
		position: relative;
	}
}

.post-edit-link {
	position: fixed;
	width: 6rem;
	height: 6rem;
	top: calc(50% - 3rem);
	left: 0;
	z-index: z("mask");
	border: 0;
	mix-blend-mode: difference;

	span {
		width: 6rem;
		height: 6rem;
		background: $theme-color;
		color: #fff;
		display: flex;
		flex-flow: column;
		align-items: center;
		justify-content: center;
		transition: 0.3s;

		&::before {
			content: "\f304";
			font: 2rem/0 $icon;
			position: relative;
			display: block;
		}
	}

	&:hover {
		span {
			color: $secondary-color;
		}
	}
}

// UL | OL
[class*="text"],
.content__acf,
.news__content,
.simple__content {
	ul {
		li {
			display: block;
			padding-left: 3.6rem;

			@include mq(tp) {
			}

			@include mq(ps) {
			}

			&::before {
				content: "";
				left: 0.8rem;
				font-family: $bold-font;
				position: absolute;
				top: 1.1rem;
				width: 0.5rem;
				height: 0.5rem;
				border-radius: 50%;
				background: rgba(#fff, 0.8);
			}

			ul,
			ol {
				margin-top: 1rem;
				margin-bottom: 1rem;
			}

			a {
				font-size: clamp(1.5rem, 5.2vw, 1.9rem);
				line-height: clamp(2.2rem, 5.2vw, 2.5rem);
				color: $theme-color;
				text-decoration: none;
				position: relative;
				background-image: linear-gradient(
					to right,
					rgba($error-color, 0.7) 50%,
					transparent 0
				);
				background-size: 200% 0.2rem;
				background-repeat: repeat-x;
				background-position: 0 100%;
				padding-bottom: 0.6rem;
				transition: background-position 0.75s var(--inoutquad);

				&:hover {
					background-position: -200% 100%;
				}
			}
		}
	}

	ol {
		list-style-type: decimal;
		counter-reset: li;

		li {
			display: block;
			padding-left: 3.6rem;

			@include mq(tp) {
				padding-left: 4rem;
			}

			&::before {
				content: counter(li);
				counter-increment: li;
				position: absolute;
				font-size: 1.6rem;
			}

			a {
				font-size: clamp(1.5rem, 5.2vw, 1.9rem);
				line-height: clamp(2.2rem, 5.2vw, 2.5rem);
				color: $theme-color;
				text-decoration: none;
				position: relative;
				background-image: linear-gradient(
					to right,
					rgba($error-color, 0.7) 50%,
					transparent 0
				);
				background-size: 200% 0.2rem;
				background-repeat: repeat-x;
				background-position: 0 100%;
				padding-bottom: 0.6rem;
				transition: background-position 0.75s var(--inoutquad);

				&:hover {
					background-position: -200% 100%;
				}
			}
		}
	}
}

.gray-bc {
	[class*="text"],
	.content__acf,
	.news__content,
	.simple__content {
		ul {
			li {
				&::before {
					background: #353535;
				}
			}
		}
	}
}

// Read more button
.read__more__button,
.read__less__button {
	border: 0;
	padding: 0;
	background: transparent;
	color: $theme-color;
	position: relative;
	font: 1.8rem/1.4 $black-font;
	margin-left: 0;
	cursor: pointer;

	&::after {
		content: "";
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 0.1rem;
		background: $theme-color;
	}
}

.read__less__button {
	margin-left: 0;
}

// Miscellaneous
.absolute__url {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: z("footer");
}

span[style*="font-size: 25px;"] {
	@include mq(ps) {
		font-size: 1.8rem !important;
		line-height: 1.3;
	}
}

// ReCaptcha
.grecaptcha-badge {
	display: none;
}

* {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-smooth: never;
}

.lity-active,
.lity-active body {
	overflow: hidden;
}
