// * Globals - Mixins

// Font Face eg.: @include font-face('Fontname', 'Filename', bold, italic);
@mixin font-face($name, $file, $weight: normal, $style: normal) {
	@font-face {
		font-family: "#{$name}";
		src: url("fonts/#{$file}.woff2") format("woff2");
		font-display: swap;
		font-weight: $weight;
		font-style: $style;
	}
}

// Breakpoints - Desktop to Mobile
$breakpoints: (
	"ps": 361px,
	"pw": 481px,
	"ts": 640px,
	"tp": 769px,
	"tm": 993,
	"tw": 1025px,
	"ls": 1248px,
	"lp": 1366px,
	"lw": 1441px,
);

// Media Queries eg.: @include mq(tp); @include mq(tw, min);
@mixin mq($width, $type: max) {
	@if map_has_key($breakpoints, $width) {
		$width: map_get($breakpoints, $width) - 0.02px;
		@if $type == min {
			$width: $width + 0.02px;
		}
		@media only screen and (#{$type}-width: $width) {
			@content;
		}
	} @else {
		// Log a warning.
		@warn 'Invalid breakpoint: #{$breakpoint}.';
	}
}

// Placeholder eg.: @include placeholder{color:red}
@mixin placeholder {
	&.placeholder {
		@content;
	}
	&:-moz-placeholder {
		@content;
	}
	&::-moz-placeholder {
		@content;
	}
	&:-ms-input-placeholder {
		@content;
	}
	&::-webkit-input-placeholder {
		@content;
	}
}

// Hardware eg.: @include hardware;
@mixin hardware($backface: true, $perspective: 1000) {
	@if $backface {
		backface-visibility: hidden;
	}
	perspective: $perspective;
}

// Z-index eg.: z('header');
$z-indexes: ("popup", "header", "mask", "main", "footer");
@function z($name) {
	@if index($z-indexes, $name) {
		@return (length($z-indexes) - index($z-indexes, $name)) + 1;
	} @else {
		@warn 'There is no item "#{$name}" in this list; choose one of: #{$z-indexes}';
		@return null;
	}
}

// Retina eg.: @include retina{bacgkround:url('image-x2.jpg')};
@mixin retina {
	@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
		only screen and (-moz-min-device-pixel-ratio: 1.5),
		only screen and (-o-min-device-pixel-ratio: 3 / 2),
		only screen and (min-device-pixel-ratio: 1.5),
		only screen and (min-resolution: 1.5dppx) {
		@content;
	}
}

// Triangle eg.: @include triangle(left, 1rem, #000);
@mixin triangle($direction: down, $size: 1rem, $color: #000) {
	width: 0;
	height: 0;
	@if ($direction == left) {
		border-top: $size solid transparent;
		border-bottom: $size solid transparent;
		border-right: $size solid $color;
	} @else if ($direction == right) {
		border-top: $size solid transparent;
		border-bottom: $size solid transparent;
		border-left: $size solid $color;
	} @else if ($direction == down) {
		border-left: $size solid transparent;
		border-right: $size solid transparent;
		border-top: $size solid $color;
	} @else {
		border-left: $size solid transparent;
		border-right: $size solid transparent;
		border-bottom: $size solid $color;
	}
}

// Truncate eg.: @include truncate(100%);
@mixin truncate($truncation-boundary) {
	max-width: $truncation-boundary;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

// Unselectable eg.: @include uselectable;
@mixin unselectable {
	user-select: none;
}

// Ratio eg.: @include ratio(16, 9);
@mixin ratio($width, $height) {
	min-height: calc((#{$height} / #{$width}) * 100vw);
}
