// * Globals - WordPress

.alignnone {
	margin: 0 auto;
}

.aligncenter,
div.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.alignright {
	float: right;
	margin: 0 0 3rem 3rem;
}

.alignleft {
	float: left;
	margin: 0 3rem 3rem 0;
}

.alignfull {
	position: relative;
	width: 100vw;
	left: 50%;
	margin-left: -50vw;
}

a img.alignright {
	float: right;
	margin: 0 0 2rem 2rem;
}

a img.alignnone {
	margin: 0 2rem 2rem 0;
}

a img.alignleft {
	float: left;
	margin: 02rem 2rem 0;
}

a img.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.wp-caption {
	max-width: 100%;
	margin-bottom: 3rem;

	&-text {
		font-size: clamp(1.5rem, 5.2vw, 1.6rem);
		color: rgba($dark, 0.5);
		padding: 1rem 0 0 0.5rem;
	}
}

.wp-caption.alignnone {
	margin: 0 2rem 2rem 0;
}

.wp-caption.alignleft {
	margin: 0 2rem 2rem 0;
}

.wp-caption.alignright {
	margin: 0 2rem 2rem;
}

.wp-caption img {
	border: 0 none;
	height: auto;
	margin: 0;
	max-width: 100%;
	padding: 0;
	width: auto;
}

.gallery-caption {
	margin: 0;
	padding: 0;
}

.textwidget img {
	margin: 1rem 0;
}

.bypostauthor {
	background: inherit;
}

// Sizes fix
.size-auto,
.size-full,
.size-large,
.size-medium,
.size-thumbnail {
	max-width: 100%;
	height: auto;
}

// Print fix
@media print {
	.container {
		width: auto;
	}
}

// IE 10 fix in Windows 8
@-ms-viewport {
	width: device-width;
}

// Table
table {
	width: 100%;
}

thead {
	background: #000;
	color: #fff;
}

thead tr,
thead th {
	text-align: center;
	padding: 0.5rem 1rem;
}

/*
tbody tr:nth-child(even) {
	background: $gray;
}*/

tbody td {
	text-align: center;
	padding: 0.5rem 0;
	font-size: 1.6rem;

	@include mq(ps) {
		font-size: 1.2rem;
	}

	p,
	a {
		@include mq(ps) {
			font-size: 1.2rem;
		}
	}
}

fieldset {
	border-top: 0.2rem solid #000;
	padding: 2rem 0 0;
}

legend,
fieldset p {
	color: #000;
	width: auto;
	margin-left: auto;
	margin-right: auto;
}

legend {
	font: 1.2rem/1.5 $bold-font;
	letter-spacing: 0.15rem;
	text-transform: uppercase;
	cursor: default;
	padding: 0 1.5rem;
}

fieldset p {
	margin: 0 0 3rem;
}
